@model Epilogger.Web.Models.DashboardProfileViewModel

@{
    Layout = "~/Views/Shared/_InteriorLayout.cshtml";
    ViewBag.Title = "Epilogger - Profile";
}

<div id="dashboard-nav">
    <h1>DASHBOARD</h1>
    <p>This page is all about you!</p>
    @Html.Partial("Menu")
</div>

<div id="dashboard-content">

    <div class="profile-card">
        <h4>Account Information</h4>
        <div class="clear"></div>
        <div class="profile-data clearfix">
            @if(!string.IsNullOrEmpty(Model.ProfilePicture)) {
                <img src="@Url.Content(Model.ProfilePicture.Replace("_normal", ""))" class="profile-picture fleft" />
            }
            
            <div class="profile-content fleft">
                <h2>Hello my name is</h2>
                <h1>@Model.FullName</h1>

                @Model.EmailAddress<br />
                @Model.DateOfBirth.ToShortDateString()
            </div>

        </div>
        @Html.ActionLink("edit your profile", "index", "account", null, new { @class = "edit_icon" })
    </div>



    <div class="spacer dotted"></div>

    <h2>My Events & Subscriptions</h2>
    @{
        int count = 0;
        int columns = 1;
    }
    @foreach (var item in Model.Events) {
        <div class="profile-event-item">
            <div class="month-day">
                @Html.DisplayFor(thing => item.StartDateTime, "Month")
                <h2>@Html.DisplayFor(thing => item.StartDateTime, "Day")</h2>
            </div>
            <div class="event-content">
                @Html.ActionLink(item.Name, "details", "events", new { @id = item.ID }, null)<br />
                
                <div class="event-content-time">@Html.DisplayFor(thing => item.StartDateTime, "Time")</div>
                <div class="event-content-searchterms">@item.SearchTerms</div>
            </div>
        </div>
        
        if(count == columns) {
        <br style="clear:both;" />
            count = 0;
        } else {
            count++;
        }
    }
    <br style="clear:both;" />
    <div class="spacer"></div>
    @Html.ActionLink("(more events)", "allevents", "dashboard")
</div>
