@model Epilogger.Web.Models.DashboardProfileViewModel

@{
    ViewBag.Title = "Profile";
}

<div id="dashboard-nav">
    @Html.Partial("Menu")
</div>

<div id="dashboard-content">

    <div class="profile-card">
        <h4>Account Information</h4>
        <div class="clear"></div>
        <div class="profile-data">
            <h2>Hello my name is</h2>
            <h1>@Model.FullName</h1>

            @Model.EmailAddress<br />
            @Model.DateOfBirth.ToShortDateString()

        </div>
        @Html.ActionLink("edit your profile", "index", "account", new { @class = "edit_icon" })
    </div>



    <div class="spacer dotted"></div>

    <h2>My Events & Subscriptions</h2>
    @{
        int count = 0;
        int columns = 2;
    }
    @foreach (var item in Model.Events) {
        <div class="profile-event-item">
            <div class="month-day">
                @item.StartDateTime.ToString("MMM")
                <h2>@item.StartDateTime.Day</h2>
            </div>
            <div class="event-content">
                @Html.ActionLink(item.Name, "details", "events", new { @id = item.ID }, null)<br />
                
                <div class="event-content-time">@item.StartDateTime.ToString("hh:mmtt").ToLower()</div>
                <div class="event-content-searchterms">@item.SearchTerms</div>
            </div>
        </div>
        
        if(count <= columns) {
             count++;
         } else {
            @:<br style="clear:both;" />
            count = 0;
         } 
    }
    <br style="clear:both;" />
    <div class="spacer"></div>
    @Html.ActionLink("(more events)", "events", "dashboard")
</div>
