@{
    Layout = "";
}
<html>
    <head>
        <script type="text/javascript" src="@Links.Public.js.jquery_1_6_2_min_js"></script>
        <script type="text/javascript">
            $(function() {
                jQuery.ajaxSettings.traditional = true; //set traditional parameters serialization which is used by ASP.NET
            });
        </script>
        @RenderSection("Head", false)
    </head>
    <body>
        @*ToDo: remove inline styles*@
        <div style="height: 100%; position: relative;">
            <div style="height: 30px; margin-bottom: 20px;">
                @RenderSection("Navigation")
            </div>
            <div>
                @RenderBody()
            </div>
            <div style="position: absolute; left: 0; width: 100%; bottom: 0;">
                <div style="margin: 0; float: left; text-align: left">
                    @RenderSection("BottomLeft", false)
                </div>
                <div style="margin: 0; float: right; text-align: right">
                    @RenderSection("BottomRight", false)
                </div>
            </div>
        </div>
    </body>
</html>
