@{
    Layout = MVC.ImageUpload.Views._Layout;
}

@section Navigation {
    <img src="@Links.Public.images.imageupload.source_active_png"/>
}

@*ToDo: Remove inline styles*@

<div style="width: 100%">
    <div style="float: left;">
        <a href="@Url.Action(MVC.ImageUpload.GetFacebookAlbums())">
            <img src="@Links.Public.images.imageupload.facebook_png"/></a>
    </div>
    <div style="float: right;">
        <a href="@Url.Action(MVC.ImageUpload.UploadFromComputer())">
            <img src="@Links.Public.images.imageupload.yourcomputer_png"/></a>
    </div>
    <div style="margin: 0 auto; width: 200px;">
        <a href="@Url.Action(MVC.ImageUpload.UploadFlickrPhotos())">
            <img src="@Links.Public.images.imageupload.flickr_png"/></a>
    </div>
</div>