@model Epilogger.Web.Models.GetFacebookAlbumsViewModel

@{
    Layout = MVC.ImageUpload.Views._Layout;
}

@section Navigation {
    <img src="@Links.Public.images.imageupload.source_inactive_png"/>
    <img src="@Links.Public.images.imageupload.choosealbum_active_png"/>
}
@section BottomLeft {
    <a href="@Url.Action(MVC.ImageUpload.ChooseUploadSource())">
        <img src="@Links.Public.images.imageupload.oops_flickr_png" />
    </a>
}
@section BottomRight {
    
}
<div id="fb-root">
</div>
<script type="text/javascript">
    window.getAlbums = function () {
        FB.api('/me/albums', function (resp) {
            var albumsPerColumn = 3;

            var imagesCount = 0;
            var albumsGalleryHtml = '<tr>';
            for (var albumIndex in resp.data) {
                var album = resp.data[albumIndex];

                var albumCoverUrl = 'https://graph.facebook.com/' + album.id + '/picture?type=album';
                var addAlbumPhotosUrl = "/events/uploadfacebookalbumphotos/" + '@Model.EventId' + "/" + album.id;
                albumsGalleryHtml += '<td><a href=' + addAlbumPhotosUrl + '><img src="' + albumCoverUrl + '"/></a></td>';

                imagesCount++;

                if (imagesCount > albumsPerColumn) {
                    albumsGalleryHtml += "</tr><tr>";
                    imagesCount = 0;
                }
            }

            albumsGalleryHtml += '</tr>';

            $('table#gallery').html(albumsGalleryHtml);

            $('#albumsContainer').show();
        });
    };

    window.fbAsyncInit = function () {
        FB.init({
            appId: '355990204460676', // App ID
            //            channelUrl: '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
            status: true, // check login status
            cookie: true, // enable cookies to allow the server to access the session
            xfbml: true  // parse XFBML
        });

        // Additional initialization code here

        // Check if the current user is logged in and has authorized the app
        FB.getLoginStatus(checkLoginStatus);

        // Check the result of the user status and display login button if necessary
        function checkLoginStatus(response) {
            if (response && response.status == 'connected') {
                $('#loginContainer').hide();
                getAlbums();
            } else 
                $('#loginContainer').show();
        }
    };

    // Load the SDK Asynchronously
    (function (d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    } (document));
</script>

<div id="loginContainer" style="display: none;">
    Login to Facebook
    <fb:login-button scope="user_photos" onlogin="getAlbums()">Login</fb:login-button>
</div>

<div id="albumsContainer" style="display: none">
    Choose album by clicking on it
    <table id="gallery"></table>
</div>