@model Epilogger.Web.Models.GetFacebookAlbumsViewModel

@{
    Layout = MVC.ImageUpload.Views._Layout;
}

@section Head {
    <link href="@Links.Public.js.jQueryEpiloggerGallery.css.jqueryEpiloggerGallery_css" rel="stylesheet"/>
    <script type="text/javascript" src="@Links.Public.js.jQueryEpiloggerGallery.js.jqueryEpiloggerGallery_js"></script>
}

@section Navigation {
    <img src="@Links.Public.images.imageupload.source_inactive_png"/>
    <img src="@Links.Public.images.imageupload.choosealbum_active_png"/>
}
@section BottomLeft {
    <a href="@Url.Action(MVC.ImageUpload.ChooseUploadSource())">
        <img src="@Links.Public.images.imageupload.oops_flickr_png" />
    </a>
}
@section BottomRight {
    
}
<div id="fb-root">
</div>
<script type="text/javascript">
    window.getAlbums = function () {
        FB.api('/me/albums', function (resp) {
            var galleryImages = $(resp.data).map(function () {
                var albumCoverUrl = 'https://graph.facebook.com/' + this.cover_photo + '/picture?access_token=' + FB.getAccessToken();
                var addAlbumPhotosUrl = "/events/uploadfacebookalbumphotos/" + '@Model.EventId' + "/" + this.id;

                return { src: albumCoverUrl, url: addAlbumPhotosUrl };
            });

            $('#gallery').gallery(galleryImages, false);

            $('#albumsContainer').show();
        });
    };

    window.fbAsyncInit = function () {
        FB.init({
            appId: FacebookAppId, // App ID
            //            channelUrl: '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
            status: true, // check login status
            cookie: true, // enable cookies to allow the server to access the session
            xfbml: true  // parse XFBML
        });

        // Additional initialization code here

        // Check if the current user is logged in and has authorized the app
        FB.getLoginStatus(checkLoginStatus);

        // Check the result of the user status and display login button if necessary
        function checkLoginStatus(response) {
            if (response && response.status == 'connected') {
                $('#loginContainer').hide();
                getAlbums();
            } else 
                $('#loginContainer').show();
        }
    };

    // Load the SDK Asynchronously
    (function (d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    } (document));
</script>

<div id="loginContainer" style="display: none;">
    Login to Facebook
    <fb:login-button scope="user_photos" onlogin="getAlbums()">Login</fb:login-button>
</div>

<div id="albumsContainer" style="display: none">
    Choose album by clicking on it
    <div style="height: 180px; overflow: auto;">
        <table id="gallery"></table>
    </div>
</div>