@model Epilogger.Web.Models.UploadFacebookAlbumPhotosViewModel

@{
    Layout = MVC.ImageUpload.Views._Layout;
}
@section Head {
    <script type="text/javascript">
        $(function () {
            $('#uploadLink').click(function (event) {
                var photosUrls = $('#photos').children().find(':first-child').attr('href');
                
                $.post(window.location,
                    { photosUrls: photosUrls },
                    function (data) {
                        window.location = '@Url.Action(MVC.ImageUpload.ChooseUploadSource())';
                    });

                return false;
            });
        });
    </script>
}
@section Navigation {
    <img src="@Links.Public.images.imageupload.source_inactive_png"/>
    <img src="@Links.Public.images.imageupload.choosealbum_active_png"/>
}
@section BottomLeft {
    <a href="@Url.Action(MVC.ImageUpload.ChooseUploadSource())">
        <img src="@Links.Public.images.imageupload.oops_flickr_png" />
    </a>
}
@section BottomRight {
    <a id="uploadLink" href="#">
        <img src="@Links.Public.images.imageupload.upload_png" />
    </a>
}
<div id="fb-root">
</div>
<script type="text/javascript">
    window.getAlbumPhotos = function() {
        FB.api('/' + @Model.AlbumId + '/photos', function(resp) {
            var ul = document.getElementById('photos');

            for (var photoId in resp.data) {
                var photo = resp.data[photoId];

                var li = document.createElement('li'), a = document.createElement('a');

                a.innerHTML = photo.id;
                a.href = photo.source;
                li.appendChild(a);
                ul.appendChild(li);
            }
        });
    };

//    ToDo: Remove dpulication Facebook initialization
    window.fbAsyncInit = function () {
        FB.init({
            appId: '355990204460676', // App ID
            //            channelUrl: '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
            status: true, // check login status
            cookie: true, // enable cookies to allow the server to access the session
            xfbml: true  // parse XFBML
        });

        // Additional initialization code here

        // Check if the current user is logged in and has authorized the app
        FB.getLoginStatus(checkLoginStatus);

        // Check the result of the user status and display login button if necessary
        function checkLoginStatus(response) {
            if (response && response.status == 'connected') {
                $('#loginContainer').hide();
                getAlbumPhotos();
            } else
                $('#loginContainer').show();
        }
    };

    // Load the SDK Asynchronously
    (function (d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    } (document));
</script>

<div id="loginContainer" style="display: none;">
    Login to Facebook
    <fb:login-button scope="user_photos" onlogin="checkLoginStatus()">Login</fb:login-button>
</div>

<div id="photosContainer">
    Cick photos you want to upoad
    <ul id="photos"/>
</div>