@model Epilogger.Web.Models.GetFacebookAlbumsViewModel
@{
    Layout = MVC.ImageUpload.Views._Layout;
}
@section Head {
    <link href="@Links.Public.js.jQueryEpiloggerGallery.css.jqueryEpiloggerGallery_css" rel="stylesheet"/>
    <script type="text/javascript" src="@Links.Public.js.jQueryEpiloggerGallery.js.jqueryEpiloggerGallery_js"></script>
    <script type="text/javascript" src="@Links.Public.js.oAuth.sha1_js"></script>
    <script type="text/javascript" src="@Links.Public.js.oAuth.oauth_js"></script>
    <script type="text/javascript" src="@Links.Public.js.jqueryParseParams_js"></script>
    <script type="text/javascript" src="@Links.Public.js.jqueryQueryString_js"></script>
    <script type="text/javascript" src="@Links.Public.js.jquery_validate_min_js"></script>
    <script type="text/javascript" src="@Links.Public.js.jquery_cookie_js"></script>
    
     <script type="text/javascript">
         $(function () {
             $('#uploadLink').click(function (event) {
                 var photosUrls = $('#EPLphotoGallery').find('div.selectedImage img').map(function () { return $(this).attr('src'); });
                 //var photosUrls = $('#EPLphotoGallery').find('img.selectedImage').map(function () { return $(this).attr('src'); });
                 if (!photosUrls)
                     alert('Please select some photos');
                 else
                     $.post(window.location,
                        { photosUrls: $.makeArray(photosUrls) },
                        function (data) {
                            parent.resizePopUp('800px', '370px;');
                            window.location = '@Url.Action(MVC.ImageUpload.ChooseUploadSource())' + '?' + '@MVC.ImageUpload.ChooseUploadSourceParams.status' + '=1';
                            return false;
                        });

                 return false;
             });
         });
    </script>

    <script type="text/javascript">
        $(function () {
            var accessor = { consumerSecret: FlickrApiSecret, tokenSecret: $.cookie('flickr_oauth_token_secret') };

            var oauthToken;
            var userId;

            //add here check whether just logined
            if (true) {
                var message = {
                    action: 'http://www.flickr.com/services/oauth/access_token',
                    method: 'GET',
                    parameters: []
                };

                message.parameters.push(['oauth_consumer_key', FlickrApiKey]);
                OAuth.setTimestampAndNonce(message);
                message.parameters.push(['oauth_signature_method', 'HMAC-SHA1']);
                message.parameters.push(['oauth_token', $.cookie('flickr_oauth_token')]);
                message.parameters.push(['oauth_verifier', $.cookie('flickr_oauth_verifier')]);

                OAuth.SignatureMethod.sign(message, accessor);

                $.get('/http/www.flickr.com/services/oauth/access_token/reverseproxy.axd',
                    OAuth.getParameterMap(message.parameters),
                    function (data) {
                        oauthToken = $.parseParams(data).oauth_token;
                        userId = $.parseParams(data).user_nsid;

                        var message = {
                            action: 'http://api.flickr.com/services/rest',
                            method: 'GET',
                            parameters: []
                        };

                        OAuth.setTimestampAndNonce(message);

                        message.parameters.push(['method', 'flickr.people.getPublicPhotos']);
                        message.parameters.push(['api_key', FlickrApiKey]);
                        message.parameters.push(['user_id', userId]);
                        message.parameters.push(['extras', 'url_l']);
                        message.parameters.push(['format', 'json']);
                        message.parameters.push(['nojsoncallback', '1']);
                        message.parameters.push(['oauth_token', oauthToken]);

                        OAuth.SignatureMethod.sign(message, accessor);

                        $("#loading").show();
                        $.getJSON(message.action, OAuth.getParameterMap(message.parameters), function (data) {
                            var galleryImages = $(data.photos.photo).map(function () {
                                return { src: this.url_l };
                            });

                            $('#EPLphotoGallery').gallery(galleryImages, true, false);

                            parent.resizePopUp('800px', '85%;');
                            $("#EPLphotoGalleryContainer").height($("#uploadPageContainer").height() - 160);

                            $("#loading").hide();
                            $('#EPLphotoGallery').show();


                            //$('#photosContainer').show();
                        });
                    }
                );
            }


        })
    </script>
}
@section Navigation {
    <img src="@Links.Public.images.imageupload.source_inactive_png"/>
    <img src="@Links.Public.images.imageupload.authenticate_inactive_png"/>
    <img src="@Links.Public.images.imageupload.selectphotos_active_png"/>
}
@section BottomLeft {
    <a href="@Url.Action(MVC.ImageUpload.ChooseUploadSource())">
        <img src="@Links.Public.images.imageupload.oops_flickr_png" />
    </a>
}
@section BottomRight {
    <a id="uploadLink" href="#">
        <img src="@Links.Public.images.imageupload.upload_png" />
    </a>
}

<div style="margin-bottom: 20px;">
    <h2>3) SELECT PHOTOS:</h2>
    <span>Click photos you want to upload</span>
</div>


<div id="EPLphotoGalleryContainer" style="overflow: auto;"> @*height: 70%; *@
    <img src="/Public/images/icons/ajaxWaiting.gif" id="loading" style="display: none;" alt="loading" />
    
    <ul id="EPLphotoGallery">
    </ul>
</div>


@*<div id="photosContainer" style="display: none">
    
    <table id="gallery">
    </table>
</div>*@
