@model Epilogger.Web.Models.GetFacebookAlbumsViewModel

@{
    Layout = MVC.ImageUpload.Views._Layout;
}

@section Head {
    <link href="@Links.Public.js.jQueryEpiloggerGallery.css.jqueryEpiloggerGallery_css" rel="stylesheet"/>
    <script type="text/javascript" src="@Links.Public.js.jQueryEpiloggerGallery.js.jqueryEpiloggerGallery_js"></script>
    
    <script type="text/javascript">
        $(function () {
            var url = 'http://api.flickr.com/services/rest/?method=flickr.people.getPhotos&api_key=0c6eb2bbe7470f4d8bec2cdbebcccd07&user_id=78365378%40N02&extras=url_l&format=json&nojsoncallback=1&auth_token=72157629721998678-dc65c1fc543d9f06&api_sig=7ecccba6c688747eee0083859ccc177f';

            $.getJSON(url, function (data) {
                var galleryImages = $(data.photos.photo).map(function () {
                    return { src: this.url_l };
                });

                $('#gallery').gallery(galleryImages, true);

                $('#photosContainer').show();
            });
        })
    </script>
}

@section Navigation {
    <img src="@Links.Public.images.imageupload.source_inactive_png"/>
    <img src="@Links.Public.images.imageupload.choosealbum_active_png"/>
}
@section BottomLeft {
    <a href="@Url.Action(MVC.ImageUpload.ChooseUploadSource())">
        <img src="@Links.Public.images.imageupload.oops_flickr_png" />
    </a>
}

<div id="fb-root">
</div>
<script type="text/javascript">
//    function getPhotos() {
//        var client = new Flickr.Client('ccc6f5a6fa0690945e543e8d1d3a76da');
//        client.search("78365378@N02", function (photos) {
//            var galleryImages = $(photos).map(function () {
//                var imageSrc = "http://farm{farm-id}.staticflickr.com/{server-id}/{id}_{secret}.jpg";

//                return { src: imageSrc };
//            });
//            
//            $('#gallery').gallery(galleryImages, true);

//            $('#photosetsContainer').show();
//        });
//    };

//    $(function () {
//        getPhotos();
//    });

</script>

<div id="loginContainer" style="display: none;">
    Login to Flickr
</div>

<div id="photosContainer" style="display: none">
    Click photos you want to upload
    <table id="gallery"></table>
</div>