@{
    Layout = MVC.ImageUpload.Views._Layout;
}
@section Head {
    <script type="text/javascript">
        $(function () {
            $('#uploadLink').click(function (event) {
                var photosUrls = $('#photos').children().find(':first-child').attr('href');
                
                $.post(window.location,
                       { photosUrls: photosUrls },
                       function (data) {
                           window.location = '@Url.Action(MVC.ImageUpload.ChooseUploadSource())';
                       });
            });
        });
    </script>
}
@section Navigation {
    <img src="@Links.Public.images.imageupload.source_inactive_png"/>
    <img src="@Links.Public.images.imageupload.choosealbum_active_png"/>
}
@section BottomLeft {
    <a href="@Url.Action(MVC.ImageUpload.ChooseUploadSource())">
        <img src="@Links.Public.images.imageupload.oops_flickr_png" />
    </a>
}
@section BottomRight {
    <a id="uploadLink" href="#">
        <img src="@Links.Public.images.imageupload.upload_png" />
    </a>
}
<div id="fb-root">
</div>
<script type="text/javascript">
//    ToDo: Remove dpulication Facebook initialization
    window.fbAsyncInit = function () {
        FB.init({
            appId: '355990204460676', // App ID
            //            channelUrl: '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
            status: true, // check login status
            cookie: true, // enable cookies to allow the server to access the session
            xfbml: true  // parse XFBML
        });

        // Additional initialization code here
    
    };

    // Load the SDK Asynchronously
    (function (d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    } (document));

    window.getAlbumPhotos = function() {
        FB.api('/1897508390244/photos', function(resp) {
            var ul = document.getElementById('photos');

            for (var photoId in resp.data) {
                var photo = resp.data[photoId];

                var li = document.createElement('li'), a = document.createElement('a');

                a.innerHTML = photo.id;
                a.href = photo.source;
                li.appendChild(a);
                ul.appendChild(li);
            }
        });
    };
</script>

<fb:login-button scope="user_photos" onlogin="getAlbumPhotos()">Photos</fb:login-button>

<div id="photosContainer">
    Cick photos you want to upoad
    <ul id="photos"/>
</div>