@model Epilogger.Web.Models.WidgetMenuViewModel

@{
    var action = ViewContext.RouteData.Values["action"] as string ?? "";
}

<ul id="widgetMenu">
    <li class="@(action.ToLower() == "index" ? "current " : string.Empty)@(Model.returnto == 1 ? "current " : string.Empty)">
        <a href="" onclick="location.href='@Url.Action("index", new { id = Model.EventSlug, Model.width, Model.height })'; return false;">right now</a>
    </li>
    
    <li class="@(action.ToLower() == "photos" ? "current " : string.Empty)@(Model.returnto == 2 ? "current " : string.Empty)">
        <a href="" onclick="location.href='@Url.Action("Photos", new { id = Model.EventSlug, Model.width, Model.height })'; return false;">photos</a>
    </li>
    <li class="@(action.ToLower() == "tweets" ? "current " : string.Empty)">
        <a href="" onclick="location.href='@Url.Action("Tweets", new { id = Model.EventSlug, Model.width, Model.height })'; return false;">tweets</a>
    </li>
    <li class="@(action.ToLower() == "checkins" ? "current " : string.Empty)">
        <a href="" onclick="location.href='@Url.Action("Checkins", new { id = Model.EventSlug, Model.width, Model.height })'; return false;">check-ins</a>
    </li>
</ul>

<!--
<a href="#" onClick="window.location.reload(); return false;" class="refreshButton"><img src="/Public/images/widget/refresh.png" alt="" /></a>
<br class="clearfix" />
-->