@using System.Globalization
@using Epilogger.Web.Models
@model Epilogger.Web.Models.WidgetCheckinsViewModel
@{
    Layout = "_EmbedLayout.cshtml";
    ViewBag.Title = "";
    
}

@if (Model.Width==100 && Model.Height==100)
{
    @: <div style="@string.Format("height:100%; width: 100%;") overflow-x: hidden; overflow-y: auto;" class="bbackground" id="wrapper">
}
else
{
    @: <div style="@string.Format("height:{0}px; width: {1}px;", @Model.Height, @Model.Width); overflow: hidden;" class="bbackground" id="wrapper">
}

<div class="container">
    
    @Html.Partial("_header", new WidgetHeaderViewModel() { Name = Model.Name, EventSlug = Model.EventSlug, CustomSettings = Model.CustomSettings, Width = Model.Width, Height = Model.Height, ReturnTo = 0 } )
    
    <section id="all-checkins" class="contentContainer  @(Model.Width >= 500 ? "horizontal" : "")" style="height: @Html.Raw((Model.Height - Model.HeightOffset).ToString(CultureInfo.InvariantCulture))px;"> <!-- style="@string.Format("height:{0}px;", @Model.Height - 92); overflow-y: auto; overflow-x: hidden;" -->

        <ul class="checkinList">
            @foreach (var theCheckIn in Model.Checkins)
            {
                <li>
                    @{Epilogger.Data.Tweet thisTweet = theCheckIn.Tweets.FirstOrDefault(t => t.ID == theCheckIn.TweetID);}
                    <a href="@theCheckIn.FourSquareCheckInURL" target="_blank" title="@if (thisTweet.FromUserScreenName != null){@string.Format("@{0}", thisTweet.FromUserScreenName)}">
                        <img src="@Url.Content(thisTweet.ProfileImageURL)" height="48" width="48" alt="@thisTweet.FromUserScreenName" title="@@@thisTweet.FromUserScreenName" /></a>
                </li>
            }
        </ul>
    </section>
	
    <footer>
        <a href="http://epilogger.com" target="_blank"><img src="/Public/images/widget/epilogger.png" alt="Epilogger logo"/></a>
		
        @Html.Partial("_EpiloggerCounts", @Model.EpiloggerCounts)
    </footer>
</div>

@Html.HiddenFor(e => e.CustomSettings.SpriteColor)
<script type="text/javascript" src="/Public/js/widget.js"></script>