@using System.Globalization
@using Combres.Mvc
@using Epilogger.Web.Models
@model Epilogger.Web.Models.WidgetViewModel

@{
    Layout = "_EmbedLayout.cshtml";
    ViewBag.Title = "";
}



@if (Model.Width==100 && Model.Height==100)
{
    @: <div style="@string.Format("height:100%; width: 100%;") overflow-x: hidden; overflow-y: auto;" class="bbackground" id="wrapper">
} 
else 
{
    @: <div style="@string.Format("height: {0}px; width: {1}px;", Model.Height, Model.Width) overflow: hidden;" class="bbackground" id="wrapper">
}


    <div class="container">
        
        @Html.Partial("_header", new WidgetHeaderViewModel() { Name = Model.Name, EventSlug = Model.EventSlug, CustomSettings = Model.CustomSettings, Width = Model.Width, Height = Model.Height, ReturnTo = 1} )

        @if (Model.Width >= 500 && Model.Height >= 300)
        {
                /* Landscape */
	            <section id="feed-photos" class="horizontal btext blink">
		            <p class="section-title"><strong>Recent Photos</strong> <span>(<a href="" onclick="location.href='@Url.Action("Photos", new { id = Model.EventSlug, width = Model.Width, height = Model.Height })'; return false;">all photos</a>)</span></p>
		
                    <div class="feed-photos-container horizontal" style="height: @Html.Raw((Model.Height - Model.HeightOffset).ToString(CultureInfo.InvariantCulture))px; overflow:hidden">
		                @foreach (var theImage in Model.Images)
                        {
                            <a href="" onclick="@string.Format("location.href='photoDetails/{0}/{1}?width={2}&height={3}&returnto=1", Model.EventSlug, theImage.ID, Model.Width, Model.Width)'; return false;"><img src="@theImage.Fullsize" width="200" alt="" /></a>
                        }
                    </div>
	            </section>
	
	            <section id="feed-tweets" class="horizontal btext blink" style="height: @Html.Raw((Model.Height - Model.HeightOffset).ToString(CultureInfo.InvariantCulture))px">
		            <p class="section-title"><strong>Latest Tweets</strong> <span>(<a href="#">all tweets</a>)</span></p>
        
                    @foreach (var theTweet in Model.Tweets)
                    {
                        <article class="tweet">                
                            <img src="@theTweet.ProfileImageURL" class="twit-avatar" alt="" />

                            <div>
                                <p>
                                    <a class="twitterName" href="http://www.twitter.com/@theTweet.FromUserScreenName"><strong>@theTweet.FromUserScreenName:</strong></a>                        
                                    @Html.Raw(theTweet.TextAsHTML)
                                </p>
				
				                <ul class="tweet-nav">
                                    <li> @Html.DisplayFor(thing => theTweet.CreatedDate) &bullet;</li>
                                    <li> <a href="#">reply</a> &bullet;</li>
					                <li> <a href="#">retweet</a> &bullet;</li>
				                </ul>
                            </div>
                        </article>
                    }
	            </section>
        }
        else
        {
            /* Portrait */
            <section id="feed-photos" class="btext blink">
		        <p class="section-title"><strong>Recent Photos</strong> <span>(<a href="" onclick="location.href='@Url.Action("Photos", new { id = Model.EventSlug, width = Model.Width, height = Model.Height })'; return false;">all photos</a>)</span></p>
		
                <div style="overflow:hidden" class="feed-photos-container">
		        @foreach (var theImage in Model.Images)
                {
                    <a href="" onclick="location.href='photoDetails/@Model.EventSlug/@theImage.ID?width=@Model.Width&height=@Model.Height&returnto=1'; return false;"><img src="@theImage.Fullsize" width="200" alt="" /></a>
                }
                </div>
	        </section>
	
	        <section id="feed-tweets" class="btext blink" style="height: @Html.Raw((Model.Height - Model.HeightOffset).ToString(CultureInfo.InvariantCulture))px">
		        <p class="section-title"><strong>Latest Tweets</strong> <span>(<a href="#">all tweets</a>)</span></p>
        
                @foreach (var theTweet in Model.Tweets)
                {
                    <article class="tweet">                
                        <img src="@theTweet.ProfileImageURL" height="48" width="48" class="twit-avatar" />

                        <div>
                            <p>
                                <a class="twitterName" href="http://www.twitter.com/@theTweet.FromUserScreenName"><strong>@theTweet.FromUserScreenName:</strong></a>                        
                                @Html.Raw(theTweet.TextAsHTML)
                            </p>
				
				            <ul class="tweet-nav">
					            <li> @Html.DisplayFor(thing => theTweet.CreatedDate) &bullet;</li>
					            <li> <a href="#">reply</a> &bullet;</li>
					            <li> <a href="#">retweet</a></li>
				            </ul>
                        </div>
                    </article>
                }
	        </section>
        }
	
	    <footer>
		    <a href="http://epilogger.com" target="_blank"><img src="/Public/images/widget/epilogger.png" alt="Epilogger logo"/></a>
		
            @Html.Partial("_EpiloggerCounts", @Model.EpiloggerCounts)
	    </footer>
        
        @Html.HiddenFor(e => e.CustomSettings.SpriteColor)

    </div>

    
    <script type="text/javascript" src="/Public/js/widget.js"></script>









