@using System.Globalization
@using Combres.Mvc
@using Epilogger.Web.Models
@model Epilogger.Web.Models.WidgetPhotosDetailsViewModel
@{
    Layout = "_EmbedLayout.cshtml";
    ViewBag.Title = "";

    }
    
    
@*<script language="javascript" type="text/javascript">
    function getOriginalWidthOfImg  (imgElement) {
        var t = new Image();
        t.src = (imgElement.getAttribute ? imgElement.getAttribute("src") : false) || imgElement.src;
        return t.width;
    }
    function getOriginalHeightOfImg(imgElement) {
        var t = new Image();
        t.src = (imgElement.getAttribute ? imgElement.getAttribute("src") : false) || imgElement.src;
        return t.height;
    }

    @{
        int heightOffset;
        if (Model.Width >= 550 && Model.Height >= 330)
        {
            heightOffset = 150;
        }
        else
        {
            heightOffset = 220;
        }
    }
    



    $(document).ready(function () {
        if (jQuery.browser.safari && document.readyState != "complete"){
            //console.info('ready...');
            setTimeout( arguments.callee, 100 );
            return;
        } 
        $('.single-photo img').each(function () {
            @{
                if (Model.Width==100)
                {
                    @: var maxWidth =  $(document).width() - 20; // Max width for the image
                }
                else
                {
                    @: var maxWidth = @(Model.Width - 20); // Max width for the image
                }

            }
            //var maxWidth = @(Model.Width - 20); // Max width for the image
            var maxHeight = @(Model.Height - heightOffset);    // Max height for the image
            
            var ratio = 0;  // Used for aspect ratio
            var width = getOriginalWidthOfImg(this);
            var height = getOriginalHeightOfImg(this);
            

            // Check if the current width is larger than the max
            if (width > maxWidth) {
                ratio = maxWidth / width;   // get ratio for scaling image
                $(this).css("width", maxWidth); // Set new width
                $(this).css("height", height * ratio);  // Scale height based on ratio
                height = height * ratio;    // Reset height to match scaled image
                width = width * ratio;    // Reset width to match scaled image
            }

            // Check if current height is larger than max
            if (height > maxHeight) {
                ratio = maxHeight / height; // get ratio for scaling image
                $(this).css("height", maxHeight);   // Set new height
                $(this).css("width", width * ratio);    // Scale width based on ratio
                //width = width * ratio;    // Reset width to match scaled image
            }
            $(this).css("display", "inline");
        });
    });
</script>*@

    
@if (Model.Width==100 && Model.Height==100)
    {
        @: <div style="@string.Format("height:100%; width: 100%;") overflow-x: hidden; overflow-y: auto;" class="bbackground" id="wrapper">
    }
    else
    {
        @: <div style="@string.Format("height:{0}px; width: {1}px;", Model.Height, Model.Width); overflow: hidden;" class="bbackground" id="wrapper">
    }
    
    <div class="container">
    
        @Html.Partial("_header", new WidgetHeaderViewModel() { Name = Model.Name, EventSlug = Model.EventSlug, CustomSettings = Model.CustomSettings, Width = Model.Width, Height = Model.Height, ReturnTo = Model.Returnto } )

        
        @if (Model.Width >= 500 || Model.Width > Model.Height)
            {
                /* Landscape */
                <section id="single-photo" class="horizontal" style="height: @Html.Raw((Model.Height - Model.HeightOffset).ToString(CultureInfo.InvariantCulture))px !important;">
                    <section class="single-photo-return">
                        <img src="/Public/images/widget/icon-arrow.png" alt="" />
                        @if (Model.Returnto == 1)
                        {
                            <a href="" onclick="location.href='@Url.Action("index", new { id = Model.EventSlug, width = Model.Width, height = Model.Height })'; return false;">back to feed</a>
                        }
                        else
                        {
                            <a href="" onclick="location.href='@Url.Action("photos", new { id = Model.EventSlug, width = Model.Width, height = Model.Height })'; return false;">back to photos</a>
                        }
                    </section>
                
                
                    <article id="Tweet-@Model.Tweet.TwitterID" class="tweet blink horizontal">
                        @if (Model.Tweet.ID>0)
                        {
                            <img src="@Model.Tweet.ProfileImageURL" height="42" width="42"  class="twit-avatar" alt="@Model.Tweet.FromUserScreenName" />
                            <div>
                                <p>
                                    <a class="twitterName" href="http://www.twitter.com/@Model.Tweet.FromUserScreenName"><strong>@Model.Tweet.FromUserScreenName:</strong></a>
                                    @Html.Raw(Model.Tweet.TextAsHTML)
                                </p>
                                <ul class="tweet-nav">
                                    <li> @Html.DisplayFor(thing => Model.Tweet.CreatedDate) &bullet;</li>
                                    <li> @Html.ActionLink("reply", "TwitterReply", new { id = Model.EventSlug, twitterid = Model.Tweet.TwitterID, height = Model.Height, width = Model.Width, returnurl = string.Format("/widget/photoDetails/{0}/{1}?width={2}&height={3}&returnto=2", Model.EventSlug, Model.PhotoID, Model.Width, Model.Height), returnto = 2 }) &bullet;</li>
                                    @*<li> <a href="#">retweet</a></li>*@
                                </ul>
                            </div>
                        }
                        else
                        {
                            <div>
                                <p>Photo submitted by an Epilogger User</p>
                            </div>
                        }
                    </article>

                    <img src="@Model.Image.Fullsize" id="horizontal-full-photo" alt="" />
                        
                    <section class="single-photo-return">
                        <img src="/Public/images/widget/icon-arrow.png" alt="" />
                        @if (Model.Returnto == 1)
                        {
                            <a href="" onclick="location.href='@Url.Action("index", new { id = Model.EventSlug, width = Model.Width, height = Model.Height })'; return false;">back to feed</a>
                        }
                        else
                        {
                            <a href="" onclick="location.href='@Url.Action("photos", new { id = Model.EventSlug, width = Model.Width, height = Model.Height })'; return false;">back to photos</a>
                        }
                    </section>
                </section>
                    

                    
                    
            }
            else
            {
                /* Portrait */
                
                <section id="single-photo" style="height: @Html.Raw((Model.Height - Model.HeightOffset).ToString(CultureInfo.InvariantCulture))px !important;">

                    <section class="single-photo-return">
                        <img src="/Public/images/widget/icon-arrow.png" alt="" />
                        @if (Model.Returnto == 1)
                        {
                            <a href="" onclick="location.href='@Url.Action("index", new { id = Model.EventSlug, width = Model.Width, height = Model.Height })'; return false;">back to feed</a>
                        }
                        else
                        {
                            <a href="" onclick="location.href='@Url.Action("photos", new { id = Model.EventSlug, width = Model.Width, height = Model.Height })'; return false;">back to photos</a>
                        }
                    </section>

                    <img src="@Model.Image.Fullsize" alt="" id="full-photo"  />
                        
                
                    <article id="Tweet-@Model.Tweet.TwitterID" class="tweet blink">
                        <img src="@Model.Tweet.ProfileImageURL" height="42" width="42"  class="twit-avatar" alt="" />

                        <div>
                            <p>
                                <a class="twitterName" href="http://www.twitter.com/@Model.Tweet.FromUserScreenName"><strong>@Model.Tweet.FromUserScreenName:</strong></a>
                                @Html.Raw(Model.Tweet.TextAsHTML)
                            </p>
                            <ul class="tweet-nav">
                                <li> @Html.DisplayFor(thing => Model.Tweet.CreatedDate) &bullet;</li>
                                <li> @Html.ActionLink("reply", "TwitterReply", new { id = Model.EventSlug, twitterid = Model.Tweet.TwitterID, height = Model.Height, width = Model.Width, returnurl = string.Format("/widget/photoDetails/{0}/{1}?width={2}&height={3}&returnto=2", Model.EventSlug, Model.PhotoID, Model.Width, Model.Height), returnto=2 }) &bullet;</li>
                                @*<li> <a href="#">retweet</a> </li>*@
                            </ul>
                        </div>
                    </article>  
                
                
                    <section class="single-photo-return">
                        <img src="/Public/images/widget/icon-arrow.png" alt="" />
                        @if (Model.Returnto == 1)
                        {
                            <a href="" onclick="location.href='@Url.Action("index", new { id = Model.EventSlug, width = Model.Width, height = Model.Height })'; return false;">back to feed</a>
                        }
                        else
                        {
                            <a href="" onclick="location.href='@Url.Action("photos", new { id = Model.EventSlug, width = Model.Width, height = Model.Height })'; return false;">back to photos</a>
                        }
                    </section>
                </section>

            }

        <footer>
            <a href="http://epilogger.com" target="_blank"><img src="/Public/images/widget/epilogger.png" alt="Epilogger logo"/></a>
		
            @Html.Partial("_EpiloggerCounts", @Model.EpiloggerCounts)
        </footer>
    </div>
</div>
@Html.HiddenFor(e => e.CustomSettings.SpriteColor)
<script type="text/javascript" src="/Public/js/widget.js"></script>