@model Epilogger.Web.Models.WidgetPhotosDetailsViewModel

@{
    ViewBag.Title = "photoDetails";
    Layout = "~/Views/Widget/_EmbedLayout.cshtml";
}

<script language="javascript" type="text/javascript">
    function getOriginalWidthOfImg  (imgElement) {
        var t = new Image();
        t.src = (imgElement.getAttribute ? imgElement.getAttribute("src") : false) || imgElement.src;
        return t.width;
    }
    function getOriginalHeightOfImg(imgElement) {
        var t = new Image();
        t.src = (imgElement.getAttribute ? imgElement.getAttribute("src") : false) || imgElement.src;
        return t.height;
    }

    @{
        int heightOffset;
        if (Model.Width >= 550 && Model.Height >= 330)
        {
            heightOffset = 150;
        }
        else
        {
            heightOffset = 220;
        }
    }
    



    $(document).ready(function () {
        if (jQuery.browser.safari && document.readyState != "complete"){
            //console.info('ready...');
            setTimeout( arguments.callee, 100 );
            return;
        } 
        $('.contentContainer img').each(function () {
            @{
                if (Model.Width==100)
                {
                    @: var maxWidth =  $(document).width() - 20; // Max width for the image
                }
                else
                {
                    @: var maxWidth = @(Model.Width - 20); // Max width for the image
                }

            }
            //var maxWidth = @(Model.Width - 20); // Max width for the image
            var maxHeight = @(Model.Height - heightOffset);    // Max height for the image
            
            var ratio = 0;  // Used for aspect ratio
            var width = getOriginalWidthOfImg(this);
            var height = getOriginalHeightOfImg(this);
            

            // Check if the current width is larger than the max
            if (width > maxWidth) {
                ratio = maxWidth / width;   // get ratio for scaling image
                $(this).css("width", maxWidth); // Set new width
                $(this).css("height", height * ratio);  // Scale height based on ratio
                height = height * ratio;    // Reset height to match scaled image
                width = width * ratio;    // Reset width to match scaled image
            }

            // Check if current height is larger than max
            if (height > maxHeight) {
                ratio = maxHeight / height; // get ratio for scaling image
                $(this).css("height", maxHeight);   // Set new height
                $(this).css("width", width * ratio);    // Scale width based on ratio
                //width = width * ratio;    // Reset width to match scaled image
            }
            $(this).css("display", "inline");
        });
    });
</script>


    @if (Model.Width==100 && Model.Height==100)
    {
        @: <div style="@string.Format("height:100%; width: 100%;") overflow-x: hidden; overflow-y: auto;" class="bbackground" id="wrapper">
    }
    else
    {
        @: <div style="@string.Format("height:{0}px; width: {1}px;", @Model.Height, @Model.Width); overflow: hidden;" class="bbackground" id="wrapper">
    }

    <header class="hbackground htext hlink">
		<img src="http://a0.twimg.com/profile_images/2355397327/image_normal.jpg" width="42" height="42" />  
		<span id="subtitle">What's going on at</span>
		<h1 id="title">@Html.ActionLink(Model.Name, "Details", "Events", new { @id = Model.EventSlug }, new { target="_blank" })</h1>
		
		<hr></hr>
		
		<nav>
			@Html.Partial("_widgetMenu", new Epilogger.Web.Models.WidgetMenuViewModel() { EventSlug = Model.EventSlug, width = Model.Width, height = Model.Height, returnto = 1 })
		</nav>
	</header>
       
    <section class="contentContainer btext blink" id="single-photo">     
        @if (Model.Width >= 500 && Model.Height >= 300)
        {       
            <img src="/Public/images/widget/_old/BackArrow.png" alt=""/>
            if (Model.returnto == 1)
            {
                <a href="" class="more" onclick="location.href='@Url.Action("index", new { id = Model.EventSlug, width = Model.Width, height = Model.Height })'; return false;">back to feed</a>
            }
            else
            {
                <a href="" class="more" onclick="location.href='@Url.Action("photos", new { id = Model.EventSlug, width = Model.Width, height = Model.Height })'; return false;">back to photos</a>
            }
            
            <span class="m-spacer"></span>
            
            <img src="@Model.Image.Fullsize" style="display: none;" alt="" id="horizontal-full-photo" />
            
            <article class="tweet horizontal">
                <img src="@Model.Tweet.ProfileImageURL" height="48" width="48"  class="twit-avatar" />
                   
                <div>
                    <p>
                        <a class="twitterName" href="http://www.twitter.com/@Model.Tweet.FromUserScreenName">@Model.Tweet.FromUserScreenName:</a>
                        @Html.Raw(Model.Tweet.TextAsHTML)
                    </p>
                </div>
            </article>
            
            <span class="m-spacer"></span>
            
            <img src="/Public/images/widget/_old/BackArrow.png" alt=""/>
            if (Model.returnto == 1)
            {
                <a href="" class="more" onclick="location.href='@Url.Action("index", new { id = Model.EventSlug, width = Model.Width, height = Model.Height })'; return false;">back to feed</a>
            }
            else
            {
                <a href="" class="more" onclick="location.href='@Url.Action("photos", new { id = Model.EventSlug, width = Model.Width, height = Model.Height })'; return false;">back to photos</a>
            }
        }
        else
        {
            <img src="/Public/images/widget/_old/BackArrow.png" alt=""/>
            if (Model.returnto == 1)
            {
                <a href="" class="more" onclick="location.href='@Url.Action("index", new { id = Model.EventSlug, width = Model.Width, height = Model.Height })'; return false;">back to feed</a>
            }
            else
            {
                <a href="" class="more" onclick="location.href='@Url.Action("photos", new { id = Model.EventSlug, width = Model.Width, height = Model.Height })'; return false;">back to photos</a>
            }
            
            <span class="m-spacer"></span>
            
            <div align="center"><img src="@Model.Image.Fullsize" style="display: none;" alt="" id="vertical-full-photo" /></div>
            
            <span class="b-spacer"></span>
            
            <article class="tweet"> 
                <img src="@Model.Tweet.ProfileImageURL" height="48" width="48"  class="twit-avatar" />
                   
                <div>
                    <p>
                        <a class="twitterName" href="http://www.twitter.com/@Model.Tweet.FromUserScreenName">@Model.Tweet.FromUserScreenName:</a>
                        @Html.Raw(Model.Tweet.TextAsHTML)
                    </p>
                </div>
            </article>
            
            <span class="m-spacer"></span>
            
            <img src="/Public/images/widget/_old/BackArrow.png" alt=""/>
            if (Model.returnto == 1)
            {
                <a href="" class="more" onclick="location.href='@Url.Action("index", new { id = Model.EventSlug, width = Model.Width, height = Model.Height })'; return false;">back to feed</a>
            }
            else
            {
                <a href="" class="more" onclick="location.href='@Url.Action("photos", new { id = Model.EventSlug, width = Model.Width, height = Model.Height })'; return false;">back to photos</a>
            }
        }
    </section>  
	
	<footer>
		<a href="http://epilogger.com" target="_blank"><img src="/Public/images/widget/epilogger.png" alt="Epilogger logo"/></a>
		
        @Html.Partial("_EpiloggerCounts", @Model.EpiloggerCounts)
	</footer>
</div>