@model Epilogger.Web.Models.CreateAccountModel

@{
    Layout = "~/Views/Shared/_InteriorLayout.cshtml";
    ViewBag.Title = "Epilogger - Create account";
}

<h1>Create An Account</h1>
<h2>You'll be done in just a minute</h2>
<br style="clear:both;" />

@Html.ValidationSummary("Please correct the following issues")
@using(Html.BeginForm("Create", "Account", FormMethod.Post)) {
    <div class="grid_6 alpha">
        <div id="create-account" class="item-card">
            <h4>ACCOUNT INFORMATION</h4>
            <br style="clear:both;" />
            <div class="item-data clearfix">
                <fieldset class="create">
                    <p>@Html.LabelFor(model => model.Username) @Html.TextBoxFor(model => model.Username)</p>
                    <p>@Html.LabelFor(model => model.Password) @Html.PasswordFor(model => model.Password)</p>
                    <p id="confirmPW">@Html.LabelFor(model => model.ConfirmPassword) @Html.PasswordFor(model => model.ConfirmPassword)</p>
                    <p>@Html.LabelFor(model => model.EmailAddress) @Html.TextBoxFor(model => model.EmailAddress)</p>
                    <p>@Html.LabelFor(model => model.DateOfBirth) @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "dob" })</p>
                    @*<p>@Html.LabelFor(model => model.TimeZoneOffset) @Html.DropDownListFor(model => model.TimeZoneOffset, Model.TimeZones, "Select your timezone")</p>*@
                </fieldset>
                <div style="text-align: center;" >
                    By clicking the "Create this Account" button you agree to the Epilogger<br/> <a href="/home/Terms" target="_blank">Terms of Use</a> and <a href="/home/Privacy" target="_blank">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        head.ready(function () {

            //attaches  a calendar to date of birth fields.
            $(".dob").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "-90:+0"
            });
        });
    </script>
    <div class="grid_4 createArrow">
        <p><input type="submit" class="blue-action-button createAccountButton" value="CREATE THIS ACCOUNT" /></p>
    </div>
    
}
