@model Epilogger.Web.Models.CreateAccountModel

@{
    ViewBag.Title = "Create";
}

<h1>Create An Account</h1>
<h2>You'll be done in just a minute</h2>
<br style="clear:both;" />
<div class="grid_7 alpha">
@Html.ValidationSummary("Please correct the following issues")
@using(Html.BeginForm("Create", "Account", FormMethod.Post)) {
    <div id="create-account" class="item-card">
        <h4>ACCOUNT INFORMATION</h4>
        <br style="clear:both;" />
        <div class="item-data clearfix">
        <fieldset class="login">

        <p>@Html.LabelFor(model => model.EmailAddress) @Html.TextBoxFor(model => model.EmailAddress)</p>
        <p>@Html.LabelFor(model => model.Username) @Html.TextBoxFor(model => model.Username)</p>
        <p>@Html.LabelFor(model => model.Password) @Html.PasswordFor(model => model.Password)</p>
        <p>@Html.LabelFor(model => model.DateOfBirth) @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "dob" })</p>
        <p>@Html.LabelFor(model => model.TimeZoneOffset) @Html.DropDownListFor(model => model.TimeZoneOffset, Model.TimeZones, "Select your timezone")</p>
    </fieldset>

            </div>
    </div>
        <p><input type="submit" class="blue-action-button" value="register" /></p>
}

</div>
