@model Epilogger.Web.Models.CreateAccountModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<div class="grid_7 alpha">
<fieldset>
@using(Html.BeginForm("Create", "Account", FormMethod.Post)) {
    <div class="grid_3 alpha">
        <p>@Html.LabelFor(model => model.FirstName) @Html.TextBoxFor(model => model.FirstName)</p>
    </div>
    <div class="grid_4">
        <p>@Html.LabelFor(model => model.LastName) @Html.TextBoxFor(model => model.LastName)</p>
    </div>
    <br style="clear:both;" />
    
    <div class="grid_7 alpha">
        <p>@Html.LabelFor(model => model.EmailAddress) @Html.TextBoxFor(model => model.EmailAddress)</p>
    </div>
    <br style="clear:both;" />
    
    <div class="grid_3 alpha">
        <p>@Html.LabelFor(model => model.Username) @Html.TextBoxFor(model => model.Username)</p>
    </div>
    <div class="grid_4">
        <p>@Html.LabelFor(model => model.Password) @Html.PasswordFor(model => model.Password)</p>
    </div>
    
    <div class="grid_7 alpha">
        <p>@Html.LabelFor(model => model.TimeZoneOffset) @Html.TextBoxFor(model => model.TimeZoneOffset)</p>
    </div>
    
    <br style="clear:both;" />
    
    <p><input type="submit" class="submit" value="register" /></p>
}
</fieldset>
</div>