@model Epilogger.Web.Models.AccountModel

@{
    ViewBag.Title = "Account";
}

<div class="grid_3 alpha">
    <h2>Social networks</h2>
    <ul id="connected-networks">
        <li class="remove-bottom">@Html.RenderConnectSocialNetworkUI("Twitter", Model.ConnectedNetworks)</li>
        <li>@Html.RenderConnectSocialNetworkUI("Facebook", Model.ConnectedNetworks)</li>
    </ul>
</div>

<div class="grid_4">
    <h2>Your Info</h2>
    @using (Html.BeginForm("Update", "Account", FormMethod.Post)) {
        <fieldset>
 <div class="grid_3 alpha">
        <p>@Html.LabelFor(model => model.FirstName) @Html.TextBoxFor(model => model.FirstName)</p>
    </div>
    <div class="grid_4">
        <p>@Html.LabelFor(model => model.LastName) @Html.TextBoxFor(model => model.LastName)</p>
    </div>
    <br style="clear:both;" />
    
    <div class="grid_7 alpha">
        <p>@Html.LabelFor(model => model.EmailAddress) @Html.TextBoxFor(model => model.EmailAddress)</p>
    </div>
    <br style="clear:both;" />
    
    <div class="grid_3 alpha">
        <p>@Html.LabelFor(model => model.DateOfBirth) @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "dob" })</p>
    </div>
@*    <div class="grid_4">
        <p>@Html.LabelFor(model => model.TimeZone) @Html.DropDownList("timez", Model.TimeZones, "Select your timezone")</p>
    </div>    *@
    <br style="clear:both;" />
    @Html.LabelFor(model => model.ProfilePicture)
    @if (Model.ConnectedNetworks.Where(cn => cn.Service == "TWITTER").FirstOrDefault() != null) {
        <div class="grid_1 alpha">
            <label><img src="@Model.TwitterProfilePicture" class="profile_pic" /></label>
            @Html.RadioButton("ProfilePictures", "TwitterProfilePicture", !string.IsNullOrEmpty(Model.ProfilePicture) && Model.ProfilePicture.ToLower().Contains("twimg"))
        </div>
    }
    @if (Model.ConnectedNetworks.Where(cn => cn.Service == "FACEBOOK").FirstOrDefault() != null) {
        <div class="grid_1">
            <label><img src="@Model.FacebookProfilePicture" class="profile_pic" /></label>
            @Html.RadioButton("ProfilePictures", "FacebookProfilePicture", !string.IsNullOrEmpty(Model.ProfilePicture) && Model.ProfilePicture.ToLower().Contains("facebook"))
        </div>
    }
    <br style="clear:both;" />
            <p><input type="submit" class="submit" value="update" /></p>
        </fieldset>
    }
</div>


<br style="clear:both;" />
