@model Epilogger.Web.Models.AccountModel

@{
    Layout = "~/Views/Shared/_InteriorLayout.cshtml";
    ViewBag.Title = "Epilogger - Edit Profile";
}


<div class="grid_3 alpha">
    <h2>Social networks</h2>
    <ul id="connected-networks">
        <li class="remove-bottom">@Html.RenderConnectSocialNetworkUI("Twitter", Model.ConnectedNetworks)</li>
        <li>@Html.RenderConnectSocialNetworkUI("Facebook", Model.ConnectedNetworks)</li>
    </ul>
</div>

<div class="grid_9">
    <h2>Your Info</h2>
    @Html.ValidationSummary("Please correct the following issues")
    @using (Html.BeginForm("Index", "Account", FormMethod.Post)) {
        <fieldset>
            <div class="grid_1 alpha">
                <p>Username:</p>
            </div>
            <div class="grid_6 alpha">
                <p>@Html.DisplayFor(model => model.Username)</p>
            </div>
            <div class="grid_3 alpha">
                <p>@Html.LabelFor(model => model.FirstName) @Html.TextBoxFor(model => model.FirstName)</p>
            </div>
            <div class="grid_4">
                <p>@Html.LabelFor(model => model.LastName) @Html.TextBoxFor(model => model.LastName)</p>
            </div>
            <br style="clear:both;" />
    
            <div class="grid_7 alpha">
                <p>@Html.LabelFor(model => model.EmailAddress) @Html.TextBoxFor(model => model.EmailAddress)</p>
            </div>
            <br style="clear:both;" />
    
            <div class="grid_3 alpha">
                <p>@Html.LabelFor(model => model.DateOfBirth) @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "dob" })</p>
            </div>
            @*<div class="grid_4">
                <p>@Html.LabelFor(model => model.TimeZone) @Html.DropDownListFor(model => model.TimeZone, Model.TimeZones, "Select your timezone", new { style = "width:100% !important;" })</p>
            </div>*@
            <br style="clear:both;" />

            @Html.LabelFor(model => model.ProfilePicture)
            <br style="clear:both;" />
            @if (Model.ConnectedNetworks.FirstOrDefault(cn => cn.Service == "TWITTER") != null) {
                <div class="grid_1 alpha">
                    <label><img src="@Model.TwitterProfilePicture" class="profile_pic" alt="" /></label>
                    @Html.RadioButton("ProfilePictures", "TwitterProfilePicture", !string.IsNullOrEmpty(Model.ProfilePicture) && Model.ProfilePicture.ToLower().Contains("twimg"))
                </div>
            }
            @if (Model.ConnectedNetworks.FirstOrDefault(cn => cn.Service == "FACEBOOK") != null) {
                <div class="grid_1">
                    <label><img src="@Model.FacebookProfilePicture" class="profile_pic" alt="" /></label>
                    @Html.RadioButton("ProfilePictures", "FacebookProfilePicture", !string.IsNullOrEmpty(Model.ProfilePicture) && Model.ProfilePicture.ToLower().Contains("facebook"))
                </div>
            }
            <br style="clear:both;" /><br style="clear:both;" />
            <p><input type="submit" class="blue-action-button" value="update" /></p>
        </fieldset>
    }
</div>


<br style="clear:both;" />

<script>
    head.ready(function () {

        //attaches  a calendar to date of birth fields.
        $(".dob").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "-90:+0"
        });
    });
</script>