@model Epilogger.Web.Models.LoginModel

@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>
@Html.ValidationSummary("Please correct the following issues")
<p>If you already have an Epilogger account sign in to view events and create your own.</p>
<p>If you don't have an account, why not @Html.ActionLink("sign up?", "create", "account").</p>
<div class="grid_3 alpha">

@using (Html.BeginForm("Login", "Account", FormMethod.Post)) {
    <fieldset>
        <p>@Html.LabelFor(model => model.Username) @Html.TextBoxFor(model => model.Username)</p>
        <p>@Html.LabelFor(model => model.Password) @Html.PasswordFor(model => model.Password)</p>
        <p class="clearfix"><label class="left">Remember me?</label> @Html.CheckBoxFor(model => model.RememberMe, new { @class = "left" })</p>

        <p><input type="submit" class="submit" value="login" /> - @Html.ActionLink("I forgot my password", "forgotpassword", "account")</p>
    </fieldset>
}
</div>