@model Epilogger.Web.Models.ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_InteriorLayout.cshtml";
    ViewBag.Title = "Reset your Password";
}

<h2>Reset your password</h2>
@Html.ValidationSummary("Please correct the following issues")
@using (Html.BeginForm("resetpassword", "account", FormMethod.Post)) {
    <div class="grid_3 alpha">
        <fieldset>
            <p>@Html.LabelFor(model => model.NewPassword) @Html.PasswordFor(model => model.NewPassword)</p>
            <p>@Html.LabelFor(model => model.NewPasswordAgain) @Html.PasswordFor(model => model.NewPasswordAgain)</p>
            <p><input type="submit" class="submit" value="reset password" /></p>
        </fieldset>
    </div>
}