@model Epilogger.Web.Models.ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_InteriorLayout.cshtml";
    ViewBag.Title = "Reset your Password";
}

<h1>Reset your password</h1>
@Html.ValidationSummary("Please correct the following issues")
@using (Html.BeginForm("resetpassword", "account", FormMethod.Post)) {
    <div class="grid_8 alpha">  
        <fieldset class="forgotpassword">
            @Html.HiddenFor(model => model.UserID)
            <p>@Html.LabelFor(model => model.NewPassword) @Html.PasswordFor(model => model.NewPassword)</p>
            <p>@Html.LabelFor(model => model.NewPasswordAgain) @Html.PasswordFor(model => model.NewPasswordAgain)</p>
            <p class="submit"><input type="submit" class="blue-action-button" value="reset password" /></p>
        </fieldset>
    </div>
}