@model Epilogger.Web.Models.UpdatePasswordModel

@{
    ViewBag.Title = "UpdatePassword";
}

@Html.ValidationSummary("Please correct the following issues")
@using (Html.BeginForm("UpdatePassword", "Account", FormMethod.Post)) {
    <p>Since we've started working on a brand new spanking beta we've had to rejig the user accounts.  If you wouldn't mind, could you please enter a new password?</p>
    <fieldset>
        <p>@Html.LabelFor(model => model.EmailAddress) @Html.TextBoxFor(model => model.EmailAddress)</p>
        <p>@Html.LabelFor(model => model.NewPassword) @Html.PasswordFor(model => model.NewPassword)</p>
        <p>@Html.LabelFor(model => model.NewPasswordAgain) @Html.PasswordFor(model => model.NewPasswordAgain)</p>
        <p><input type="submit" class="submit" value="update password" /></p>
    </fieldset>
}