@model Epilogger.Web.Areas.Admin.Models.AdminDashboardViewModel

@{
    Layout = "~/areas/admin/views/shared/_AdminLayout.cshtml";
    ViewBag.Title = "Index.cshtml";
}


    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>





<h2>Admin Dashboard</h2>

<div>
    <div>Total Users: <strong>@Model.TotalUsers</strong></div>
    <div>Total Events: <strong>@Model.TotalEvents</strong></div>
    <br />
    <div>Number of Events today: <strong>@Model.EventsToday</strong></div>
    <div>Number of Events yesterday: <strong>@Model.EventsYesterday</strong></div>
    <div>Avg number of Events per day: <strong>@Model.AvgNumberOfEventsPerDay</strong></div>
    <br />
    <div>Number of Events this week: <strong>@Model.EventsThisWeek</strong></div>
    <div>Number of Events last week: <strong>@Model.EventsLastWeek</strong></div>
    <div>Avg number of Events per week: <strong>@Model.AvgNumberOfEventsPerWeek</strong></div>
    <img src="@Url.Action("DrawChart")" alt="Drawing chart with HTML Helper" />
    <br /><br />
    <div id="container" style="min-width: 800px; height: 600px; margin: 0 auto"></div>
</div>


<script language="javascript" type="text/javascript">
    
   
    var chart;
    head.ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'spline'
            },
            title: {
                text: 'Epilogger User Count'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%b %y',
                    year: '%b'
                }
            },
            yAxis: {
                title: {
                    text: 'Number of Users'
                },
                min: 0
            },
            tooltip: {
                formatter: function() {
                    return '<b>' + this.series.name + '</b><br/>' + Highcharts.dateFormat('%b %y %d', this.x) + ': ' + this.y;
                }
            },

            series: [{
                name: 'Users',
                // Define the data points. All series have a dummy year
                // of 1970/71 in order to be compared on the same x axis. Note
                // that in JavaScript, months start at 0 for January, 1 for February etc.
                data: [
                    [Date.UTC(2011, 04, 08), 1],
                    [Date.UTC(2011, 05, 08), 2],
                    [Date.UTC(2011, 05, 31), 3],
                    [Date.UTC(2011, 06, 01), 4],
                    [Date.UTC(2011, 06, 06), 7],
                    [Date.UTC(2011, 06, 08), 9],
                    [Date.UTC(2011, 06, 09), 10],
                    [Date.UTC(2011, 06, 25), 14],
                    [Date.UTC(2011, 06, 26), 16],
                    [Date.UTC(2011, 06, 28), 18],
                    [Date.UTC(2011, 06, 29), 21],
                    [Date.UTC(2011, 06, 30), 25],
                    [Date.UTC(2011, 07, 02), 26],
                    [Date.UTC(2011, 07, 05), 27],
                    [Date.UTC(2011, 07, 07), 28],
                    [Date.UTC(2011, 07, 08), 29],
                    [Date.UTC(2011, 07, 10), 31],
                    [Date.UTC(2011, 07, 11), 33],
                    [Date.UTC(2011, 07, 13), 35],
                    [Date.UTC(2011, 07, 14), 36],
                    [Date.UTC(2011, 07, 26), 37],
                    [Date.UTC(2011, 09, 15), 38],
                    [Date.UTC(2011, 09, 27), 39],
                    [Date.UTC(2011, 10, 05), 41],
                    [Date.UTC(2011, 10, 10), 42],
                    [Date.UTC(2011, 10, 21), 43],
                    [Date.UTC(2011, 10, 23), 44],
                    [Date.UTC(2011, 10, 24), 45],
                    [Date.UTC(2011, 10, 25), 58],
                    [Date.UTC(2011, 10, 26), 61],
                    [Date.UTC(2011, 10, 27), 62],
                    [Date.UTC(2011, 10, 28), 63],
                    [Date.UTC(2011, 10, 29), 64],
                    [Date.UTC(2011, 11, 01), 65],
                    [Date.UTC(2011, 11, 04), 66],
                    [Date.UTC(2011, 11, 05), 67],
                    [Date.UTC(2011, 11, 09), 68],
                    [Date.UTC(2011, 11, 11), 69],
                    [Date.UTC(2011, 11, 14), 70],
                    [Date.UTC(2011, 11, 17), 71],
                    [Date.UTC(2011, 11, 21), 72],
                    [Date.UTC(2011, 11, 23), 73],
                    [Date.UTC(2011, 11, 24), 74],
                    [Date.UTC(2011, 11, 26), 75],
                    [Date.UTC(2011, 12, 02), 76],
                    [Date.UTC(2011, 12, 03), 77],
                    [Date.UTC(2011, 12, 06), 78],
                    [Date.UTC(2011, 12, 07), 79],
                    [Date.UTC(2011, 12, 09), 80],
                    [Date.UTC(2011, 12, 10), 82],
                    [Date.UTC(2011, 12, 14), 83],
                    [Date.UTC(2011, 12, 19), 84],
                    [Date.UTC(2011, 12, 20), 85],
                    [Date.UTC(2012, 01, 08), 86],
                    [Date.UTC(2012, 01, 12), 88],
                    [Date.UTC(2012, 01, 20), 89],
                    [Date.UTC(2012, 01, 22), 91],
                    [Date.UTC(2012, 01, 24), 94],
                    [Date.UTC(2012, 01, 25), 95],
                    [Date.UTC(2012, 01, 30), 96],
                    [Date.UTC(2012, 01, 31), 97],
                    [Date.UTC(2012, 02, 01), 100],
                    [Date.UTC(2012, 02, 03), 101],
                    [Date.UTC(2012, 02, 04), 102],
                    [Date.UTC(2012, 02, 06), 104],
                    [Date.UTC(2012, 02, 07), 105],
                    [Date.UTC(2012, 02, 08), 108],
                    [Date.UTC(2012, 02, 11), 110],
                    [Date.UTC(2012, 02, 13), 114],
                    [Date.UTC(2012, 02, 14), 117],
                    [Date.UTC(2012, 02, 15), 119],
                    [Date.UTC(2012, 02, 16), 120],
                    [Date.UTC(2012, 02, 18), 121],
                    [Date.UTC(2012, 02, 19), 122],
                    [Date.UTC(2012, 02, 20), 123],
                    [Date.UTC(2012, 02, 21), 126],
                    [Date.UTC(2012, 02, 22), 128],
                    [Date.UTC(2012, 02, 25), 129],
                    [Date.UTC(2012, 02, 26), 130],
                    [Date.UTC(2012, 03, 01), 131],
                    [Date.UTC(2012, 03, 04), 132],
                    [Date.UTC(2012, 03, 05), 133],
                    [Date.UTC(2012, 03, 08), 134],
                    [Date.UTC(2012, 03, 11), 135],
                    [Date.UTC(2012, 03, 12), 138],
                    [Date.UTC(2012, 03, 13), 141],
                    [Date.UTC(2012, 03, 14), 142],
                    [Date.UTC(2012, 03, 15), 147],
                    [Date.UTC(2012, 03, 19), 150],
                    [Date.UTC(2012, 03, 20), 154],
                    [Date.UTC(2012, 03, 21), 155],
                    [Date.UTC(2012, 03, 23), 159],
                    [Date.UTC(2012, 03, 25), 161],
                    [Date.UTC(2012, 03, 26), 162],
                    [Date.UTC(2012, 03, 27), 163],
                    [Date.UTC(2012, 03, 28), 168],
                    [Date.UTC(2012, 03, 29), 170],
                    [Date.UTC(2012, 03, 31), 171],
                    [Date.UTC(2012, 04, 01), 172],
                    [Date.UTC(2012, 04, 02), 178],
                    [Date.UTC(2012, 04, 03), 180],
                    [Date.UTC(2012, 04, 05), 181],
                    [Date.UTC(2012, 04, 08), 183],
                    [Date.UTC(2012, 04, 09), 185],
                    [Date.UTC(2012, 04, 10), 189],
                    [Date.UTC(2012, 04, 11), 192],
                    [Date.UTC(2012, 04, 12), 196],
                    [Date.UTC(2012, 04, 13), 201],
                    [Date.UTC(2012, 04, 15), 205],
                    [Date.UTC(2012, 04, 16), 207],
                    [Date.UTC(2012, 04, 18), 215],
                    [Date.UTC(2012, 04, 19), 216],
                    [Date.UTC(2012, 04, 20), 218],
                    [Date.UTC(2012, 04, 21), 219],
                    [Date.UTC(2012, 04, 24), 221],
                    [Date.UTC(2012, 04, 25), 224],
                    [Date.UTC(2012, 04, 26), 225],
                    [Date.UTC(2012, 04, 27), 226],
                    [Date.UTC(2012, 04, 30), 227],
                    [Date.UTC(2012, 05, 01), 228],
                    [Date.UTC(2012, 05, 02), 229],
                    [Date.UTC(2012, 05, 04), 230],
                    [Date.UTC(2012, 05, 05), 234],
                    [Date.UTC(2012, 05, 08), 237],
                    [Date.UTC(2012, 05, 09), 238],
                    [Date.UTC(2012, 05, 10), 243],
                    [Date.UTC(2012, 05, 11), 244],
                    [Date.UTC(2012, 05, 12), 245],
                    [Date.UTC(2012, 05, 13), 247],
                    [Date.UTC(2012, 05, 14), 248],
                    [Date.UTC(2012, 05, 15), 253],
                    [Date.UTC(2012, 05, 17), 255],
                    [Date.UTC(2012, 05, 18), 257],
                    [Date.UTC(2012, 05, 19), 258],
                    [Date.UTC(2012, 05, 21), 261],
                    [Date.UTC(2012, 05, 22), 271],
                    [Date.UTC(2012, 05, 23), 280],
                    [Date.UTC(2012, 05, 24), 292],
                    [Date.UTC(2012, 05, 25), 300],
                    [Date.UTC(2012, 05, 26), 303],
                    [Date.UTC(2012, 05, 27), 304],
                    [Date.UTC(2012, 05, 28), 305],
                    [Date.UTC(2012, 05, 29), 311],
                    [Date.UTC(2012, 05, 30), 315],
                    [Date.UTC(2012, 05, 31), 318],
                    [Date.UTC(2012, 06, 01), 322],
                    [Date.UTC(2012, 06, 02), 328],
                    [Date.UTC(2012, 06, 03), 334],
                    [Date.UTC(2012, 06, 04), 358],
                    [Date.UTC(2012, 06, 05), 362],
                    [Date.UTC(2012, 06, 06), 368],
                    [Date.UTC(2012, 06, 07), 374],
                    [Date.UTC(2012, 06, 08), 376],
                    [Date.UTC(2012, 06, 09), 377],
                    [Date.UTC(2012, 06, 10), 379],
                    [Date.UTC(2012, 06, 11), 386],
                    [Date.UTC(2012, 06, 12), 401],
                    [Date.UTC(2012, 06, 13), 418],
                    [Date.UTC(2012, 06, 14), 427],
                    [Date.UTC(2012, 06, 15), 435],
                    [Date.UTC(2012, 06, 16), 441],
                    [Date.UTC(2012, 06, 17), 442],
                    [Date.UTC(2012, 06, 18), 444]


                    ]},
            {
                name: 'Events',
                data: [
                    [Date.UTC(2011, 09, 21), 92],
                    [Date.UTC(2011, 09, 22), 93],
                    [Date.UTC(2011, 09, 25), 94],
                    [Date.UTC(2011, 09, 29), 96],
                    [Date.UTC(2011, 09, 30), 99],
                    [Date.UTC(2011, 10, 03), 103],
                    [Date.UTC(2011, 10, 04), 104],
                    [Date.UTC(2011, 10, 05), 106],
                    [Date.UTC(2011, 10, 06), 109],
                    [Date.UTC(2011, 10, 07), 110],
                    [Date.UTC(2011, 10, 15), 113],
                    [Date.UTC(2011, 10, 17), 114],
                    [Date.UTC(2011, 10, 19), 115],
                    [Date.UTC(2011, 10, 20), 116],
                    [Date.UTC(2011, 10, 21), 117],
                    [Date.UTC(2011, 10, 22), 118],
                    [Date.UTC(2011, 10, 25), 125],
                    [Date.UTC(2011, 10, 26), 129],
                    [Date.UTC(2011, 10, 27), 132],
                    [Date.UTC(2011, 10, 28), 133],
                    [Date.UTC(2011, 10, 29), 134],
                    [Date.UTC(2011, 10, 31), 137],
                    [Date.UTC(2011, 11, 03), 140],
                    [Date.UTC(2011, 11, 07), 141],
                    [Date.UTC(2011, 11, 09), 142],
                    [Date.UTC(2011, 11, 11), 144],
                    [Date.UTC(2011, 11, 14), 147],
                    [Date.UTC(2011, 11, 15), 148],
                    [Date.UTC(2011, 11, 16), 150],
                    [Date.UTC(2011, 11, 18), 154],
                    [Date.UTC(2011, 11, 23), 155],
                    [Date.UTC(2011, 11, 25), 158],
                    [Date.UTC(2011, 11, 26), 159],
                    [Date.UTC(2011, 11, 28), 160],
                    [Date.UTC(2011, 12, 01), 162],
                    [Date.UTC(2011, 12, 02), 166],
                    [Date.UTC(2011, 12, 03), 167],
                    [Date.UTC(2011, 12, 05), 169],
                    [Date.UTC(2011, 12, 06), 170],
                    [Date.UTC(2011, 12, 07), 171],
                    [Date.UTC(2011, 12, 08), 172],
                    [Date.UTC(2011, 12, 09), 173],
                    [Date.UTC(2011, 12, 10), 175],
                    [Date.UTC(2011, 12, 12), 176],
                    [Date.UTC(2011, 12, 15), 177],
                    [Date.UTC(2011, 12, 16), 179],
                    [Date.UTC(2011, 12, 19), 180],
                    [Date.UTC(2011, 12, 20), 183],
                    [Date.UTC(2012, 01, 01), 184],
                    [Date.UTC(2012, 01, 02), 185],
                    [Date.UTC(2012, 01, 05), 186],
                    [Date.UTC(2012, 01, 10), 187],
                    [Date.UTC(2012, 01, 11), 188],
                    [Date.UTC(2012, 01, 12), 189],
                    [Date.UTC(2012, 01, 13), 190],
                    [Date.UTC(2012, 01, 20), 192],
                    [Date.UTC(2012, 01, 23), 193],
                    [Date.UTC(2012, 01, 24), 194],
                    [Date.UTC(2012, 01, 25), 196],
                    [Date.UTC(2012, 01, 26), 200],
                    [Date.UTC(2012, 01, 27), 202],
                    [Date.UTC(2012, 01, 28), 205],
                    [Date.UTC(2012, 01, 30), 206],
                    [Date.UTC(2012, 01, 31), 208],
                    [Date.UTC(2012, 02, 01), 209],
                    [Date.UTC(2012, 02, 02), 212],
                    [Date.UTC(2012, 02, 03), 213],
                    [Date.UTC(2012, 02, 04), 214],
                    [Date.UTC(2012, 02, 06), 215],
                    [Date.UTC(2012, 02, 08), 217],
                    [Date.UTC(2012, 02, 09), 219],
                    [Date.UTC(2012, 02, 10), 220],
                    [Date.UTC(2012, 02, 11), 221],
                    [Date.UTC(2012, 02, 13), 223],
                    [Date.UTC(2012, 02, 14), 225],
                    [Date.UTC(2012, 02, 15), 235],
                    [Date.UTC(2012, 02, 16), 239],
                    [Date.UTC(2012, 02, 17), 242],
                    [Date.UTC(2012, 02, 18), 243],
                    [Date.UTC(2012, 02, 22), 244],
                    [Date.UTC(2012, 02, 24), 245],
                    [Date.UTC(2012, 02, 27), 246],
                    [Date.UTC(2012, 03, 01), 248],
                    [Date.UTC(2012, 03, 03), 249],
                    [Date.UTC(2012, 03, 04), 250],
                    [Date.UTC(2012, 03, 05), 251],
                    [Date.UTC(2012, 03, 06), 252],
                    [Date.UTC(2012, 03, 07), 256],
                    [Date.UTC(2012, 03, 08), 259],
                    [Date.UTC(2012, 03, 10), 263],
                    [Date.UTC(2012, 03, 11), 265],
                    [Date.UTC(2012, 03, 12), 266],
                    [Date.UTC(2012, 03, 13), 267],
                    [Date.UTC(2012, 03, 14), 268],
                    [Date.UTC(2012, 03, 15), 271],
                    [Date.UTC(2012, 03, 16), 275],
                    [Date.UTC(2012, 03, 19), 276],
                    [Date.UTC(2012, 03, 20), 280],
                    [Date.UTC(2012, 03, 21), 286],
                    [Date.UTC(2012, 03, 22), 289],
                    [Date.UTC(2012, 03, 23), 292],
                    [Date.UTC(2012, 03, 24), 293],
                    [Date.UTC(2012, 03, 25), 294],
                    [Date.UTC(2012, 03, 26), 303],
                    [Date.UTC(2012, 03, 28), 304],
                    [Date.UTC(2012, 03, 29), 305],
                    [Date.UTC(2012, 03, 30), 310],
                    [Date.UTC(2012, 04, 01), 311],
                    [Date.UTC(2012, 04, 02), 318],
                    [Date.UTC(2012, 04, 03), 323],
                    [Date.UTC(2012, 04, 04), 324],
                    [Date.UTC(2012, 04, 05), 327],
                    [Date.UTC(2012, 04, 08), 330],
                    [Date.UTC(2012, 04, 09), 335],
                    [Date.UTC(2012, 04, 10), 378],
                    [Date.UTC(2012, 04, 11), 406],
                    [Date.UTC(2012, 04, 12), 432],
                    [Date.UTC(2012, 04, 13), 447],
                    [Date.UTC(2012, 04, 14), 449],
                    [Date.UTC(2012, 04, 15), 451],
                    [Date.UTC(2012, 04, 16), 861],
                    [Date.UTC(2012, 04, 17), 862],
                    [Date.UTC(2012, 04, 18), 865],
                    [Date.UTC(2012, 04, 19), 866],
                    [Date.UTC(2012, 04, 20), 868],
                    [Date.UTC(2012, 04, 24), 869],
                    [Date.UTC(2012, 04, 25), 872],
                    [Date.UTC(2012, 04, 26), 874],
                    [Date.UTC(2012, 04, 27), 876],
                    [Date.UTC(2012, 04, 28), 878],
                    [Date.UTC(2012, 04, 30), 879],
                    [Date.UTC(2012, 05, 01), 882],
                    [Date.UTC(2012, 05, 02), 884],
                    [Date.UTC(2012, 05, 03), 885],
                    [Date.UTC(2012, 05, 04), 889],
                    [Date.UTC(2012, 05, 05), 894],
                    [Date.UTC(2012, 05, 07), 895],
                    [Date.UTC(2012, 05, 08), 898],
                    [Date.UTC(2012, 05, 10), 900],
                    [Date.UTC(2012, 05, 12), 902],
                    [Date.UTC(2012, 05, 13), 905],
                    [Date.UTC(2012, 05, 15), 907],
                    [Date.UTC(2012, 05, 16), 910],
                    [Date.UTC(2012, 05, 17), 915],
                    [Date.UTC(2012, 05, 18), 916],
                    [Date.UTC(2012, 05, 19), 917],
                    [Date.UTC(2012, 05, 20), 918],
                    [Date.UTC(2012, 05, 21), 922],
                    [Date.UTC(2012, 05, 22), 923],
                    [Date.UTC(2012, 05, 23), 926],
                    [Date.UTC(2012, 05, 24), 929],
                    [Date.UTC(2012, 05, 25), 933],
                    [Date.UTC(2012, 05, 26), 936],
                    [Date.UTC(2012, 05, 27), 937],
                    [Date.UTC(2012, 05, 28), 939],
                    [Date.UTC(2012, 05, 29), 940],
                    [Date.UTC(2012, 05, 30), 942],
                    [Date.UTC(2012, 05, 31), 943],
                    [Date.UTC(2012, 06, 01), 944],
                    [Date.UTC(2012, 06, 03), 945],
                    [Date.UTC(2012, 06, 04), 955],
                    [Date.UTC(2012, 06, 05), 959],
                    [Date.UTC(2012, 06, 06), 962],
                    [Date.UTC(2012, 06, 07), 965],
                    [Date.UTC(2012, 06, 08), 969],
                    [Date.UTC(2012, 06, 09), 971],
                    [Date.UTC(2012, 06, 10), 973],
                    [Date.UTC(2012, 06, 11), 980],
                    [Date.UTC(2012, 06, 12), 988],
                    [Date.UTC(2012, 06, 13), 989],
                    [Date.UTC(2012, 06, 14), 996],
                    [Date.UTC(2012, 06, 15), 1000],
                    [Date.UTC(2012, 06, 16), 1006],
                    [Date.UTC(2012, 06, 17), 1009],
                    [Date.UTC(2012, 06, 18), 1010]

                    ]}

                            ]
        });
    });


</script>