@model Epilogger.Web.Areas.Admin.Models.AdminDashboardViewModel

@{
    Layout = "~/areas/admin/views/shared/_AdminLayout.cshtml";
    ViewBag.Title = "Index.cshtml";
}

<h2>Admin Dashboard</h2>

<div>
    <div>Total Users: <strong>@Model.TotalUsers</strong></div>
    <div>Total Events: <strong>@Model.TotalEvents</strong></div>
    <br />
    <div>Number of Events today: <strong>@Model.EventsToday</strong></div>
    <div>Number of Events yesterday: <strong>@Model.EventsYesterday</strong></div>
    <div>Avg number of Events per day: <strong>@Model.AvgNumberOfEventsPerDay</strong></div>
    <br />
    <div>Number of Events this week: <strong>@Model.EventsThisWeek</strong></div>
    <div>Number of Events last week: <strong>@Model.EventsLastWeek</strong></div>
    <div>Avg number of Events per week: <strong>@Model.AvgNumberOfEventsPerWeek</strong></div>

</div>
