@{
    Layout = "~/Views/Shared/_InteriorLayout.cshtml";
    ViewBag.Title = "About Us";
}

<div class="grid_12">
    <h1>What is Epilogger?</h1><br />
    
    <div class="about-paper fpink">
        <img src="@Url.Content("~/Public/images/homepage/about-share.png")" /><br />
        People share their<br /> entire lives
    </div>
    
    <div class="about-paper fblue">
        <img src="@Url.Content("~/Public/images/homepage/about-fragmented.png")" /><br />
        But memories on the<br /> web are fragmented
    </div>
    
    <div class="about-paper fpink">
        <img src="@Url.Content("~/Public/images/homepage/about-unite.png")" /><br />
        We unite all your<br /> social memories
    </div>
    
    <div class="about-paper fblue">
        <img src="@Url.Content("~/Public/images/homepage/about-relive.png")" style="position:relative; top:-28px" /><br />
        <p style="position:relative; top:-15px" >To discover &<br /> relive events</p>
    </div>
</div>

<span class="clear big-spacer"></span>


<a name="contact">&nbsp;</a>

<div class="grid_5">
    <h1>Contact Us</h1>
    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>

    <ul id="contact-list">
        <li> <img src="@Url.Content("~/Public/images/homepage/about-tw.png")" /> <a href="http://twitter.com/epilogger">@@epilogger</a></li>
        <li> <img src="@Url.Content("~/Public/images/homepage/about-fb.png")" /> <a href="http://facebook.com/epilogger">facebook.com/epilogger</a></li>
        <li> <img src="@Url.Content("~/Public/images/homepage/about-em.png")" /> <a href="mailto:info@epilogger.com">info@epilogger.com</a></li>
    </ul>
</div>

<div class="grid_7">
    <h1>Our Team</h1>
    <div class="profile">
        <img src="@Url.Content("~/Public/images/homepage/about-chris.jpg")" />
        <p>
            <b><a href="http://twitter.com/cbrooker">Chris Brooker</a></b><br />
            <strong>President, Co-Founder</strong><br />
            He masterminds the code and idea along with his partner in crime!
        </p>
    </div>
    
    <div class="profile">
        <img src="@Url.Content("~/Public/images/homepage/about-michael.jpg")" />
        <p>
            <b><a href="http://twitter.com/michaelnus">Michael Nussbacher</a></b><br />
            <strong>CEO, Co-Founder</strong><br />
            The voice and other great mind behind the idea, he's the man to talk to.
        </p>
    </div>

    <br class="clear" />

    <div class="profile">
        <img src="@Url.Content("~/Public/images/homepage/about-reb.jpg")" />
        <p>
            <b><a href="http://twitter.com/rebheartsyou">Rebecca Cohen Palacios</a></b><br />
            <strong>Creative Director</strong><br />
            She's always staying up until 2a to finish design work and secret css modifs.
        </p>
    </div>
    
    <div class="profile">
        <img src="@Url.Content("~/Public/images/homepage/about-chris2.jpg")" />
        <p>
            <b><a href="http://twitter.com/jonezy">Chris Jones</a></b><br />
            <strong>Lead Programmer</strong><br />
            He writes code, does backflips, & translates design all at the same time!
        </p>
    </div>
    
    <div class="profile">
        <img src="@Url.Content("~/Public/images/homepage/about-astrid.jpg")" />
        <p>
            <b><a href="http://twitter.com/astridrosemarin">Astrid Rosemarin</a></b><br />
            <strong>Chief Financial Officer</strong><br />
            She handles all the financial business and is a grant writer extraordinaire.
        </p>
    </div>    
</div>