@using Epilogger
@using Epilogger.Common
@using Epilogger.Data
@using Epilogger.Web.Models
@model Epilogger.Web.Models.HomepageViewModel


@{
    Layout = "~/Views/Shared/_HomepageLayout.cshtml";
    ViewBag.Title = "Epilogger | Home";

}


<script type="text/javascript" language="javascript">
    head.js('@Url.Content("~/Public/js/HomePage.js")');
</script>


@*<div id="StatusMessages">
    @foreach (Epilogger.Data.StatusMessage SM in Model.StatusMessages)
    {
        <span class="lightgray">@Html.DisplayFor(s => SM.MSGDateTime)</span> @: - @SM.MSG
        <div class="seperator"></div>
    }
    
</div>
*@

@section fullWidth {
    <div id="homepageMainSpread">
        <div class="container_12">
            <div id="hp-Tagline">It's all in Epilogger.</div>
            <div id="hp-Blurb">Find photos, videos, blogs, <br />& conversations from any event.</div>
            <div id="hp-eventSearch">
                Start by finding your event:
                @using (Html.BeginForm("Search", "Home", FormMethod.Post, null))
                {
                    @Html.TextBox("SearchTerm", null, new { @class = "remove-bottom", @title = "" })
                    <img src="/Public/images/homepage/searchIconDark.png" alt="search" id="homepageSearchOK" onclick="$('form').submit();" />
                }
            </div>
            
            <a href="https://itunes.apple.com/ca/app/epilogger/id589827064" target="_blank">
            <div id="hp-appSection">
                
                <div id="s3" class="pics" style="position: relative; ">
                    <img src="/Public/images/homepage/app-home.png" alt="" style="position: absolute; top: 0px; left: 0px; width: 293px; height: 252px; z-index: 3; opacity: 0; display: none; " />
                    <img src="/Public/images/homepage/app-info.png" alt="" style="position: absolute; top: 0px; left: 0px; width: 293px; height: 252px; z-index: 3; opacity: 0; display: none; " />
                    <img src="/Public/images/homepage/app-popular.png" alt="" style="position: absolute; top: 0px; left: 0px; width: 293px; height: 252px; z-index: 3; opacity: 0; display: none; " />
                    <img src="/Public/images/homepage/app-photos.png" alt="" style="position: absolute; top: 0px; left: 0px; width: 293px; height: 252px; z-index: 3; opacity: 0; display: none; " />
                    <img src="/Public/images/homepage/app-info.png" alt="" style="position: absolute; top: 0px; left: 0px; width: 293px; height: 252px; z-index: 3; opacity: 0; display: none; " />
                </div>          
                
            </div>
            </a>
            <div id="appstoreIcon">
                <a href="https://itunes.apple.com/ca/app/epilogger/id589827064" target="_blank"><img src="/Public/images/homepage/app-label.png" border="0" alt="Available on the App Store"/></a>
            </div>
        </div>
    </div>
}

<div id="homepage-container">
  

    @*
    <div id="homepage-intro">
        <span class="clear spacer"></span>
        
        @using (Html.BeginForm("Search", "Home", FormMethod.Post, null))
        {
            <img src="/Public/images/icons/btn-search-home.png" alt="search" id="homepageSearchOK" onclick="$('form').submit();" />
            @Html.TextBox("SearchTerm", null, new { @class = "remove-bottom", @title = "Find your event..." })
        }
        

        <div class="homepage-trending">
            <h2 style="font-size: 15pt; margin-bottom: 20px;"><img src="@Url.Content("~/Public/images/icons/icon-trending.png")" alt="" class="homepage-heart" />What is Epilogger (and why am I here)?</h2>
            <p class="homeBlurb">
                Epilogger is the <b>story of the event</b> from every point of view. It <b>connects people</b> through content at events, movements, and group experiences. 
            </p>
            <p class="homeBlurb">
                We bring the <b>entire experience</b> of an event into one interactive hub. Wondering where all the <b>photos</b> are from that party you went to? Looking for all the resources people were sharing during that conference the other week? We've got it all.
            </p>
        </div>
        <div style="font-size: 20px; margin-top: 24px; line-height: 26px;">
            <a href="https://itunes.apple.com/ca/app/epilogger/id589827064" target="_blank"><img src="/Public/images/rounded-57.png" border="0" alt="" style="float: left; margin-right: 15px;"/>
            Download</a> the Epilogger App available in the iOS App store
        </div>
    </div>*@
    
    @*<div id="homepage-video">
        @if (Model.FeaturedEvents != null)
        {
            
            <div class="featuredEvent">
                <div class="featuredEventName">@Html.ActionLink(Model.FeaturedEvents.Event.Name, "details", "events", new { @id = Model.FeaturedEvents.Event.EventSlug }, null)</div>
                <div class="featuredBanner"></div>
                @foreach (var theImg in Model.FeaturedEvents.TopImages)
                {
                    var thePath = theImg.EventID + "/" + theImg.ID;
                    <div class="featurePhotoBar" id="FeaturedPhoto@(theImg.ID)">
                        <a href="@theImg.Fullsize" rel="EPLPhoto[latestfeaturedphotos]" photoid="@thePath" title="" id="@theImg.ID">
                            <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@theImg.Fullsize&width=435&height=335&preserveAspect=true" border="0" alt="" />
                        </a>
                    </div>
                }
            </div>
            
            <div id="">
                <ul class="featuredPhotosList">
                    @foreach (var image in Model.FeaturedEvents.TopImages)
                    {
                        <li><a href="" onclick="return false;" class="featuredPhotosListLink" id="@(image.ID)"></a></li>
                    }
                </ul>
            </div>   
            <br />

        }
        else
        {
            <div id="s3" class="pics" style="position: relative; ">
                <img src="/Public/images/slideshow/1.png" alt="" style="position: absolute; top: 0px; left: 0px; width: 462px; height: 310px; z-index: 3; opacity: 0; display: none; " />
                <img src="/Public/images/slideshow/2.png" alt="" style="position: absolute; top: 0px; left: 0px; width: 462px; height: 310px; z-index: 3; opacity: 0; display: none; " />
                <img src="/Public/images/slideshow/3.png" alt="" style="position: absolute; top: 0px; left: 0px; width: 462px; height: 310px; z-index: 3; opacity: 0; display: none; " />
                <img src="/Public/images/slideshow/4.png" alt="" style="position: absolute; top: 0px; left: 0px; width: 462px; height: 310px; z-index: 3; opacity: 0; display: none; " />
                <img src="/Public/images/slideshow/6.png" alt="" style="position: absolute; top: 0px; left: 0px; width: 462px; height: 310px; z-index: 3; opacity: 0; display: none; " />
                <img src="/Public/images/slideshow/7a.png" alt="" style="position: absolute; top: 0px; left: 0px; width: 462px; height: 310px; z-index: 3; opacity: 0; display: none; " />
                <img src="/Public/images/slideshow/7b.png" alt="" style="position: absolute; top: 0px; left: 0px; width: 462px; height: 310px; z-index: 3; opacity: 0; display: none; " />
                <img src="/Public/images/slideshow/7c.png" alt="" style="position: absolute; top: 0px; left: 0px; width: 462px; height: 310px; z-index: 3; opacity: 0; display: none; " />
                <img src="/Public/images/slideshow/8.png" alt="" style="position: absolute; top: 0px; left: 0px; width: 462px; height: 310px; z-index: 3; opacity: 0; display: none; " />
            </div>    
        }
        
    </div>*@
    
    
    
    <div id="featuredEventContainer">
        
        @if (Model.FeaturedEvents != null)
        {
            <div class="featuredEventName">
                <img src="/Public/images/homepage/star.png" alt="star"/><span class="featuredText">&nbsp;FEATURED&nbsp;</span><img src="/Public/images/homepage/star.png" alt="star"/>
                <br />
                @Html.ActionLink(Model.FeaturedEvents.Event.Name, "details", "events", new { @id = Model.FeaturedEvents.Event.EventSlug }, null)
                <br />
                @if (Model.FeaturedEvents.Event.Venues.FirstOrDefault() != null)
                {
                    <span class="featuredDetails">@String.Format("{0:htt, MMM. d}", Model.FeaturedEvents.Event.StartDateTime.ToLocalTime())&nbsp;&nbsp;@Model.FeaturedEvents.Event.Venues.First().City, @Model.FeaturedEvents.Event.Venues.First().State</span>
                }
            </div>
                
            
            var imgSizeList = new List<HomePageGridImage>
                                {
                                    new HomePageGridImage() {Width = 477, Height = 375}, 
                                    new HomePageGridImage() {Width = 209, Height = 200}, 
                                    new HomePageGridImage() {Width = 250, Height = 177},
                                    new HomePageGridImage() {Width = 104, Height = 88}, 
                                    new HomePageGridImage() {Width = 105, Height = 88},
                                    new HomePageGridImage() {Width = 104, Height = 87}, 
                                    new HomePageGridImage() {Width = 105, Height = 87}, 
                                    new HomePageGridImage() {Width = 250, Height = 198}
                                };

            for (var currentPage = 0; currentPage <= ((int)Model.FeaturedEvents.TopImages.Count() / 8)-1; currentPage++)
            {
                var theImgs = Model.FeaturedEvents.TopImages.Skip((currentPage * 8)).Take(8);
                var enumerable = theImgs as List<Image> ?? theImgs.ToList();
                var i = 1;

                <div class="featuredEvent" id="@string.Format("featuredPage{0}", currentPage+1)">
                    
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td rowspan="3">
                                @{ var thePath = "";
                                   thePath = enumerable[0].EventID + "/" + enumerable[0].ID; }
                                <a href="@enumerable[0].Fullsize" rel="EPLPhoto[latestfeaturedphotos]" photoid="@thePath" title="" id="@enumerable[0].ID" class="imgGrid1-1">
                                    <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@enumerable[0].Fullsize&width=@imgSizeList[0].Width&height=@imgSizeList[0].Height&preserveAspect=true" border="0" alt="" />
                                </a>
                            </td>
                            <td colspan="2">
                                @{ thePath = enumerable[1].EventID + "/" + enumerable[1].ID; }
                                <a href="@enumerable[1].Fullsize" rel="EPLPhoto[latestfeaturedphotos]" photoid="@thePath" title="" id="@enumerable[1].ID" class="imgGrid1-2">
                                    <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@enumerable[1].Fullsize&width=@imgSizeList[1].Width&height=@imgSizeList[1].Height&preserveAspect=true" border="0" alt="" />
                                </a>
                            </td>
                            <td rowspan="3">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            @{
                                   if (enumerable.Count() >= 3)
                                   {
                                       thePath = enumerable[2].EventID + "/" + enumerable[2].ID;
                                                    <a href="@enumerable[2].Fullsize" rel="EPLPhoto[latestfeaturedphotos]" photoid="@thePath" title="" id="@enumerable[2].ID" class="imgGrid1-3">
                                                        <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@enumerable[2].Fullsize&width=@imgSizeList[2].Width&height=@imgSizeList[2].Height&preserveAspect=true" border="0" alt="" />
                                                    </a>
                                   }
                                   else
                                   {
                                                    <img src="/Public/images/homepage/fHolder3.png" border="0" alt="" />
                                   }
                                            }
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @{
                                   if (enumerable.Count() >= 8)
                                   {
                                       thePath = enumerable[7].EventID + "/" + enumerable[7].ID;
                                                    <a href="@enumerable[7].Fullsize" rel="EPLPhoto[latestfeaturedphotos]" photoid="@thePath" title="" id="@enumerable[7].ID" class="imgGrid1-8">
                                                        <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@enumerable[7].Fullsize&width=@imgSizeList[7].Width&height=@imgSizeList[7].Height&preserveAspect=true" border="0" alt="" />
                                                    </a>    
                                   }
                                   else
                                   {
                                                    <img src="/Public/images/homepage/fHolder8.png" border="0" alt="" />
                                   }
                                            }
                                            
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @{
                                   if (enumerable.Count() >= 4)
                                   {
                                       thePath = enumerable[3].EventID + "/" + enumerable[3].ID;
                                        <a href="@enumerable[3].Fullsize" rel="EPLPhoto[latestfeaturedphotos]" photoid="@thePath" title="" id="@enumerable[3].ID" class="imgGrid1-4">
                                            <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@enumerable[3].Fullsize&width=@imgSizeList[3].Width&height=@imgSizeList[3].Height&preserveAspect=true" border="0" alt="" />
                                        </a>
                                   }
                                   else
                                   {
                                        <img src="/Public/images/homepage/fHolder4.png" border="0" alt="" />
                                   }
                                }
                                
                            </td>
                            <td>
                                @{
                                   if (enumerable.Count() >= 5)
                                   {
                                       thePath = enumerable[4].EventID + "/" + enumerable[4].ID;
                                        <a href="@enumerable[4].Fullsize" rel="EPLPhoto[latestfeaturedphotos]" photoid="@thePath" title="" id="@enumerable[4].ID" class="imgGrid1-5">
                                            <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@enumerable[4].Fullsize&width=@imgSizeList[4].Width&height=@imgSizeList[4].Height&preserveAspect=true" border="0" alt="" />
                                        </a>
                                   }
                                   else
                                   {
                                        <img src="/Public/images/homepage/fHolder5.png" border="0" alt="" />
                                   }
                                }
                                
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @{
                                   if (enumerable.Count() >= 6)
                                   {
                                       thePath = enumerable[5].EventID + "/" + enumerable[5].ID;
                                        <a href="@enumerable[5].Fullsize" rel="EPLPhoto[latestfeaturedphotos]" photoid="@thePath" title="" id="@enumerable[5].ID" class="imgGrid1-6">
                                            <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@enumerable[5].Fullsize&width=@imgSizeList[5].Width&height=@imgSizeList[5].Height&preserveAspect=true" border="0" alt="" />
                                        </a>
                                   }
                                   else
                                   {
                                        <img src="/Public/images/homepage/fHolder6.png" border="0" alt="" />
                                   }
                                }
                            </td>
                            <td>
                                @{
                                   if (enumerable.Count() >= 7)
                                   {
                                       thePath = enumerable[6].EventID + "/" + enumerable[6].ID;
                                        <a href="@enumerable[6].Fullsize" rel="EPLPhoto[latestfeaturedphotos]" photoid="@thePath" title="" id="@enumerable[6].ID" class="imgGrid1-7">
                                            <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@enumerable[6].Fullsize&width=@imgSizeList[6].Width&height=@imgSizeList[6].Height&preserveAspect=true" border="0" alt="" />
                                        </a>   
                                   }
                                   else
                                   {
                                        <img src="/Public/images/homepage/fHolder7.png" border="0" alt="" />
                                   }
                                }
                            </td>
                        </tr>
                    </table>
                </div>
                
                }
                //Elipses
                    <div id="">
                        <ul class="featuredPhotosList">
                            @for (var y = 1; y <= ((int)Model.FeaturedEvents.TopImages.Count() / 8); y++)
                            {
                                <li><a href="" onclick="return false;" class="featuredPhotosListLink" id="@y"></a></li>
                            }
                        </ul>
                    </div>
                    <br />
        }
        
                </div>
    
    
    <div class="clear spacer"></div>
    
    
    <div id="hp-whoBlurbs">
        <div id="eventOrganizers">
            <h2>Event Organizers</h2>
            <p>Do you run events on a regular basis? Maybe you're looking to plan one for the first time. No matter what your experience level or what the size of event we're here for you!</p>
            <p>Epilogger collects what people are sharing about your event online and presents it to you in a beautiful, easy-to-read format. We help your event grow by giving you the tools to analyze, moderate, and even have a custom branded display for big screens & projectors.</p>
            <p>For a complete list of our basic and premium packages check out our features page.</p>
        </div>
        <div id="eventAttendees">
            <h2>Event Attendees</h2>
            <p>You love going to events of all shapes and sizes! Or maybe you don't and just want to see what all the hubbub is about without that whole getting dressed thing. We've got your back either way.</p>
            <p>Use Epilogger to contribute to events and discover new ones right from your iPhone or web browser. See what everyone is sharing online, get the whole scoop, save your favourite moments, and even see who the top contributors are!</p>
            <p>Get started by creating a free account or browse for events!</p>
        </div>

    </div>
    
    
    <div class="clear spacer"></div>

    <div id="galleryContainer">
        <ul id="activityGallery">
        @foreach (var item in Model.Activity)
        {
            var rowClass = string.Empty;
            if (Model.Activity.IndexOf(item) >= 0 && Model.Activity.IndexOf(item) <= 3)
            {
                rowClass = "top";
            }
            else if (Model.Activity.IndexOf(item) >= 4 && Model.Activity.IndexOf(item) <= 7)
            {
                rowClass = "bottom";
            }

            if (item.ActivityType == Epilogger.Web.Models.ActivityType.PHOTOS_VIDEOS)
            {
                var thePath = item.Image.EventID + "/" + item.Image.ID;

                var fullSizeUrl = item.Image.Fullsize;
                var isVideo = false;
                if (item.Image.MediaType == (short)MQ.Messages.EventMediaType.YoutubeVideo)
                {
                    fullSizeUrl = string.Format("http://youtube.com/watch?v={0}", item.Image.Thumb);
                    isVideo = true;
                }
                else if (item.Image.MediaType == (short)MQ.Messages.EventMediaType.VimeoVideo)
                {
                    fullSizeUrl = string.Format("http://vimeo.com/{0}", item.Image.Thumb);
                    isVideo = true;
                }
                else if (item.Image.MediaType == (short)MQ.Messages.EventMediaType.KeekVideo)
                {
                    fullSizeUrl = string.Format("http://www.keek.com/embed/{0}?iframe=true", item.Image.Thumb);
                    isVideo = true;
                }
                <li>
                    <div class="title @item.ActivityType @rowClass">
                        @Html.ActionLink(item.EventName.TruncateAtWord(30), "details", "events", new { @id = item.EventSlug }, null)    
                    </div>

                    <div class="galleryImage"  id="photo-@item.Image.ID">
                        <a href="@fullSizeUrl" rel="EPLPhoto[latestphotos]" photoid="@thePath" title="" id="@item.Image.ID">
                            <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@item.Image.Fullsize&width=182&height=153&preserveAspect=true" border="0" alt="" />
                            @if (isVideo)
                            {
                                <img src="@Links.Public.images.video_play_jpg" class="videothumbnail3" alt="" />
                            }
                        </a>
                    </div>
                </li>   
            }
            else if (item.ActivityType == Epilogger.Web.Models.ActivityType.EVENT_CREATION)
            {
                <li>
                    <div class="title @item.ActivityType">
                        @Html.ActionLink(item.EventName.TruncateAtWord(30), "details", "events", new { @id = item.EventSlug }, null)    
                    </div>
                    <div class="galleryItem">
                        <h2><br /><br /><br /><br />New event added</h2>
                    </div>
                </li>
            }
            else if (item.ActivityType == Epilogger.Web.Models.ActivityType.EVENT_RATING)
            {
                <li>
                    <div class="title @item.ActivityType">
                        @Html.ActionLink(item.EventName.TruncateAtWord(30), "details", "events", new { @id = item.EventSlug }, null)    
                    </div>
                    <div class="galleryItem">
                        <h2><br /><br /><br /><br />Event rated</h2>
                    </div>
                </li>
            }
        }
        </ul>
    </div>
    


    <script type="text/javascript" charset="utf-8">
        head.ready(function () {
            $("a[rel^='EPLPhoto']").prettyPhoto({
                theme: 'light_square',
                animation_speed: 'fast',
                overlay_gallery: false,
                changepicturecallback: function () { changeDescription(); }
            });
        });

//        $('.featuredEvent').masonry({
//            // options
//            itemSelector: 'a'
//        });






        //Scroll for the slide show or featured
        head.ready(function () {
            $('#s3').cycle({
                fx: 'fade',
                speed: 800,
                timeout: 3500,
                next: '#s3',
                pause: 1
            });
        });
    </script>
</div>

<span class="big-spacer clear"></span>