@using Epilogger
@using Epilogger.Common
@using Epilogger.Data
@using Epilogger.Web.Models
@model Epilogger.Web.Models.HomepageViewModel


@{
    Layout = "~/Views/Shared/_HomepageLayout.cshtml";
    ViewBag.Title = "Epilogger | Home";

}


<script type="text/javascript" language="javascript">
    head.js('@Url.Content("~/Public/js/HomePage.js")');
</script>


@*<div id="StatusMessages">
    @foreach (Epilogger.Data.StatusMessage SM in Model.StatusMessages)
    {
        <span class="lightgray">@Html.DisplayFor(s => SM.MSGDateTime)</span> @: - @SM.MSG
        <div class="seperator"></div>
    }
    
</div>
*@


<div id="homepage-container">
  
    <span class="spacer"></span>

    @*
    <div id="homepage-intro">
        <span class="clear spacer"></span>
        
        @using (Html.BeginForm("Search", "Home", FormMethod.Post, null))
        {
            <img src="/Public/images/icons/btn-search-home.png" alt="search" id="homepageSearchOK" onclick="$('form').submit();" />
            @Html.TextBox("SearchTerm", null, new { @class = "remove-bottom", @title = "Find your event..." })
        }
        

        <div class="homepage-trending">
            <h2 style="font-size: 15pt; margin-bottom: 20px;"><img src="@Url.Content("~/Public/images/icons/icon-trending.png")" alt="" class="homepage-heart" />What is Epilogger (and why am I here)?</h2>
            <p class="homeBlurb">
                Epilogger is the <b>story of the event</b> from every point of view. It <b>connects people</b> through content at events, movements, and group experiences. 
            </p>
            <p class="homeBlurb">
                We bring the <b>entire experience</b> of an event into one interactive hub. Wondering where all the <b>photos</b> are from that party you went to? Looking for all the resources people were sharing during that conference the other week? We've got it all.
            </p>
        </div>
        <div style="font-size: 20px; margin-top: 24px; line-height: 26px;">
            <a href="https://itunes.apple.com/ca/app/epilogger/id589827064" target="_blank"><img src="/Public/images/rounded-57.png" border="0" alt="" style="float: left; margin-right: 15px;"/>
            Download</a> the Epilogger App available in the iOS App store
        </div>
    </div>*@
    
    @*<div id="homepage-video">
        @if (Model.FeaturedEvents != null)
        {
            
            <div class="featuredEvent">
                <div class="featuredEventName">@Html.ActionLink(Model.FeaturedEvents.Event.Name, "details", "events", new { @id = Model.FeaturedEvents.Event.EventSlug }, null)</div>
                <div class="featuredBanner"></div>
                @foreach (var theImg in Model.FeaturedEvents.TopImages)
                {
                    var thePath = theImg.EventID + "/" + theImg.ID;
                    <div class="featurePhotoBar" id="FeaturedPhoto@(theImg.ID)">
                        <a href="@theImg.Fullsize" rel="EPLPhoto[latestfeaturedphotos]" photoid="@thePath" title="" id="@theImg.ID">
                            <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@theImg.Fullsize&width=435&height=335&preserveAspect=true" border="0" alt="" />
                        </a>
                    </div>
                }
            </div>
            
            <div id="">
                <ul class="featuredPhotosList">
                    @foreach (var image in Model.FeaturedEvents.TopImages)
                    {
                        <li><a href="" onclick="return false;" class="featuredPhotosListLink" id="@(image.ID)"></a></li>
                    }
                </ul>
            </div>   
            <br />

        }
        else
        {
            <div id="s3" class="pics" style="position: relative; ">
                <img src="/Public/images/slideshow/1.png" alt="" style="position: absolute; top: 0px; left: 0px; width: 462px; height: 310px; z-index: 3; opacity: 0; display: none; " />
                <img src="/Public/images/slideshow/2.png" alt="" style="position: absolute; top: 0px; left: 0px; width: 462px; height: 310px; z-index: 3; opacity: 0; display: none; " />
                <img src="/Public/images/slideshow/3.png" alt="" style="position: absolute; top: 0px; left: 0px; width: 462px; height: 310px; z-index: 3; opacity: 0; display: none; " />
                <img src="/Public/images/slideshow/4.png" alt="" style="position: absolute; top: 0px; left: 0px; width: 462px; height: 310px; z-index: 3; opacity: 0; display: none; " />
                <img src="/Public/images/slideshow/6.png" alt="" style="position: absolute; top: 0px; left: 0px; width: 462px; height: 310px; z-index: 3; opacity: 0; display: none; " />
                <img src="/Public/images/slideshow/7a.png" alt="" style="position: absolute; top: 0px; left: 0px; width: 462px; height: 310px; z-index: 3; opacity: 0; display: none; " />
                <img src="/Public/images/slideshow/7b.png" alt="" style="position: absolute; top: 0px; left: 0px; width: 462px; height: 310px; z-index: 3; opacity: 0; display: none; " />
                <img src="/Public/images/slideshow/7c.png" alt="" style="position: absolute; top: 0px; left: 0px; width: 462px; height: 310px; z-index: 3; opacity: 0; display: none; " />
                <img src="/Public/images/slideshow/8.png" alt="" style="position: absolute; top: 0px; left: 0px; width: 462px; height: 310px; z-index: 3; opacity: 0; display: none; " />
            </div>    
        }
        
    </div>*@
    
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    
    <div id="featuredEventContainer">
        
        @if (Model.FeaturedEvents != null)
        {
            <div class="featuredEventName">
                <img src="/Public/images/homepage/star.png" alt="star"/><span class="featuredText">&nbsp;FEATURED&nbsp;</span><img src="/Public/images/homepage/star.png" alt="star"/>
                <br />
                @Html.ActionLink(Model.FeaturedEvents.Event.Name, "details", "events", new {@id = Model.FeaturedEvents.Event.EventSlug}, null)
                <br />
                <span class="featuredDetails">@String.Format("{0:htt, MMM. d}", Model.FeaturedEvents.Event.StartDateTime.ToLocalTime())&nbsp;&nbsp;@Model.FeaturedEvents.Event.Venues.First().City, @Model.FeaturedEvents.Event.Venues.First().State</span>

            </div>
                @*<div class="featuredBanner"></div>*@

            var imgSizeList = new List<HomePageGridImage>
                                  {
                                      new HomePageGridImage() {Width = 477, Height = 375}, 
                                      new HomePageGridImage() {Width = 209, Height = 200}, 
                                      new HomePageGridImage() {Width = 250, Height = 177},
                                      new HomePageGridImage() {Width = 104, Height = 88}, 
                                      new HomePageGridImage() {Width = 105, Height = 88},
                                      new HomePageGridImage() {Width = 104, Height = 87}, 
                                      new HomePageGridImage() {Width = 105, Height = 87}, 
                                      new HomePageGridImage() {Width = 250, Height = 198}
                                  };

            for (var currentPage = 0; currentPage <= 0; currentPage++)
            {
                var theImgs = Model.FeaturedEvents.TopImages.Skip((currentPage * 8)).Take(8);
                var enumerable = theImgs as List<Image> ?? theImgs.ToList();
                var i = 1;

                <div class="featuredEvent">
                    
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td rowspan="3">
                                @{ var thePath = "";
                                   thePath = enumerable[0].EventID + "/" + enumerable[0].ID; }
                                <a href="@enumerable[0].Fullsize" rel="EPLPhoto[latestfeaturedphotos]" photoid="@thePath" title="" id="@enumerable[0].ID" class="imgGrid1-1">
                                    <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@enumerable[0].Fullsize&width=@imgSizeList[0].Width&height=@imgSizeList[0].Height&preserveAspect=true" border="0" alt="" />
                                </a>
                            </td>
                            <td colspan="2">
                                @{ thePath = enumerable[1].EventID + "/" + enumerable[1].ID; }
                                <a href="@enumerable[1].Fullsize" rel="EPLPhoto[latestfeaturedphotos]" photoid="@thePath" title="" id="@enumerable[1].ID" class="imgGrid1-2">
                                    <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@enumerable[1].Fullsize&width=@imgSizeList[1].Width&height=@imgSizeList[1].Height&preserveAspect=true" border="0" alt="" />
                                </a>
                            </td>
                            <td rowspan="3">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            @{ thePath = enumerable[2].EventID + "/" + enumerable[2].ID; }
                                            <a href="@enumerable[2].Fullsize" rel="EPLPhoto[latestfeaturedphotos]" photoid="@thePath" title="" id="@enumerable[2].ID" class="imgGrid1-3">
                                                <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@enumerable[2].Fullsize&width=@imgSizeList[2].Width&height=@imgSizeList[2].Height&preserveAspect=true" border="0" alt="" />
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @{ thePath = enumerable[7].EventID + "/" + enumerable[7].ID; }
                                            <a href="@enumerable[7].Fullsize" rel="EPLPhoto[latestfeaturedphotos]" photoid="@thePath" title="" id="@enumerable[7].ID" class="imgGrid1-8">
                                                <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@enumerable[7].Fullsize&width=@imgSizeList[7].Width&height=@imgSizeList[7].Height&preserveAspect=true" border="0" alt="" />
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @{ thePath = enumerable[3].EventID + "/" + enumerable[3].ID; }
                                <a href="@enumerable[3].Fullsize" rel="EPLPhoto[latestfeaturedphotos]" photoid="@thePath" title="" id="@enumerable[3].ID" class="imgGrid1-4">
                                    <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@enumerable[3].Fullsize&width=@imgSizeList[3].Width&height=@imgSizeList[3].Height&preserveAspect=true" border="0" alt="" />
                                </a>
                            </td>
                            <td>
                                @{ thePath = enumerable[4].EventID + "/" + enumerable[4].ID; }
                                <a href="@enumerable[4].Fullsize" rel="EPLPhoto[latestfeaturedphotos]" photoid="@thePath" title="" id="@enumerable[4].ID" class="imgGrid1-5">
                                    <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@enumerable[4].Fullsize&width=@imgSizeList[4].Width&height=@imgSizeList[4].Height&preserveAspect=true" border="0" alt="" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @{ thePath = enumerable[5].EventID + "/" + enumerable[5].ID; }
                                <a href="@enumerable[5].Fullsize" rel="EPLPhoto[latestfeaturedphotos]" photoid="@thePath" title="" id="@enumerable[5].ID" class="imgGrid1-6">
                                    <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@enumerable[5].Fullsize&width=@imgSizeList[5].Width&height=@imgSizeList[5].Height&preserveAspect=true" border="0" alt="" />
                                </a>
                            </td>
                            <td>@{ thePath = enumerable[6].EventID + "/" + enumerable[6].ID; }
                                <a href="@enumerable[6].Fullsize" rel="EPLPhoto[latestfeaturedphotos]" photoid="@thePath" title="" id="@enumerable[6].ID" class="imgGrid1-7">
                                    <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@enumerable[6].Fullsize&width=@imgSizeList[6].Width&height=@imgSizeList[6].Height&preserveAspect=true" border="0" alt="" />
                                </a>
                            </td>
                        </tr>
                    </table>
    
                    
                    @*<div class="smallGroupImg">*@
                    @*</div>*@


                @*    
                    
                    @foreach (var theImg in enumerable)
                    {

                       // var thePath = theImg.EventID + "/" + theImg.ID;
                    <a href="@theImg.Fullsize" rel="EPLPhoto[latestfeaturedphotos]" photoid="@thePath" title="" id="@theImg.ID" class="imgGrid1-@i">
                        <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@theImg.Fullsize&width=@imgSizeList[i - 1].Width&height=@imgSizeList[i - 1].Height&preserveAspect=true" border="0" alt="" />
                    </a>
                    
                        i++;
                    }*@
                </div>
                    
                
                
            }
         
            
            
            @*
                    <div class="featuredEvent">
                       
                        @foreach (var theImg in Model.FeaturedEvents.TopImages.Take(8))
                        {
                            var thePath = theImg.EventID + "/" + theImg.ID;
                            <a href="@theImg.Fullsize" rel="EPLPhoto[latestfeaturedphotos]" photoid="@thePath" title="" id="@theImg.ID" class="imgGrid1-@i">
                                <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@theImg.Fullsize&width=477&height=375&preserveAspect=true" border="0" alt="" />
                            </a>
                            @
                            {
                                i ++;
                            }
                        }
                
                    </div>*@

                    <div id="">
                        <ul class="featuredPhotosList">
                            @foreach (var image in Model.FeaturedEvents.TopImages)
                            {
                                <li><a href="" onclick="return false;" class="featuredPhotosListLink" id="@(image.ID)"></a></li>
                            }
                        </ul>
                    </div>
                    <br />
        }
        
                </div>
    
    
    <div class="clear spacer"></div>
    <div id="galleryContainer">
        <ul id="activityGallery">
        @foreach (var item in Model.Activity)
        {
            var rowClass = string.Empty;
            if (Model.Activity.IndexOf(item) >= 0 && Model.Activity.IndexOf(item) <= 3)
            {
                rowClass = "top";
            }
            else if (Model.Activity.IndexOf(item) >= 4 && Model.Activity.IndexOf(item) <= 7)
            {
                rowClass = "bottom";
            }

            if (item.ActivityType == Epilogger.Web.Models.ActivityType.PHOTOS_VIDEOS)
            {
                var thePath = item.Image.EventID + "/" + item.Image.ID;

                var fullSizeUrl = item.Image.Fullsize;
                var isVideo = false;
                if (item.Image.MediaType == (short)MQ.Messages.EventMediaType.YoutubeVideo)
                {
                    fullSizeUrl = string.Format("http://youtube.com/watch?v={0}", item.Image.Thumb);
                    isVideo = true;
                }
                else if (item.Image.MediaType == (short)MQ.Messages.EventMediaType.VimeoVideo)
                {
                    fullSizeUrl = string.Format("http://vimeo.com/{0}", item.Image.Thumb);
                    isVideo = true;
                }
                else if (item.Image.MediaType == (short)MQ.Messages.EventMediaType.KeekVideo)
                {
                    fullSizeUrl = string.Format("http://www.keek.com/embed/{0}?iframe=true", item.Image.Thumb);
                    isVideo = true;
                }
                <li>
                    <div class="title @item.ActivityType @rowClass">
                        @Html.ActionLink(item.EventName.TruncateAtWord(30), "details", "events", new { @id = item.EventSlug }, null)    
                    </div>

                    <div class="galleryImage"  id="photo-@item.Image.ID">
                        <a href="@fullSizeUrl" rel="EPLPhoto[latestphotos]" photoid="@thePath" title="" id="@item.Image.ID">
                            <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@item.Image.Fullsize&width=230&height=188&preserveAspect=true" border="0" alt="" />
                            @if (isVideo)
                            {
                                <img src="@Links.Public.images.video_play_jpg" class="videothumbnail3" alt="" />
                            }
                        </a>
                    </div>
                </li>   
            }
            else if (item.ActivityType == Epilogger.Web.Models.ActivityType.EVENT_CREATION)
            {
                <li>
                    <div class="title @item.ActivityType">
                        @Html.ActionLink(item.EventName.TruncateAtWord(30), "details", "events", new { @id = item.EventSlug }, null)    
                    </div>
                    <div class="galleryItem">
                        <h2><br /><br /><br /><br />New event added</h2>
                    </div>
                </li>
            }
            else if (item.ActivityType == Epilogger.Web.Models.ActivityType.EVENT_RATING)
            {
                <li>
                    <div class="title @item.ActivityType">
                        @Html.ActionLink(item.EventName.TruncateAtWord(30), "details", "events", new { @id = item.EventSlug }, null)    
                    </div>
                    <div class="galleryItem">
                        <h2><br /><br /><br /><br />Event rated</h2>
                    </div>
                </li>
            }
        }
        </ul>
    </div>
    


    <script type="text/javascript" charset="utf-8">
        head.ready(function () {
            $("a[rel^='EPLPhoto']").prettyPhoto({
                theme: 'light_square',
                animation_speed: 'fast',
                overlay_gallery: false,
                changepicturecallback: function () { changeDescription(); }
            });
        });

//        $('.featuredEvent').masonry({
//            // options
//            itemSelector: 'a'
//        });






        //Scroll for the slide show or featured
//        head.ready(function () {
//            $('#s3').cycle({
//                fx: 'scrollLeft',
//                speed: 300,
//                timeout: 3500,
//                next: '#s3',
//                pause: 1
//            });
//        });
    </script>
</div>

<span class="big-spacer clear"></span>