@using Epilogger.Web;
@using Epilogger.Web.Models;
@model DashboardEventViewModel

    <div class="dashboard-event-item clearfix">
        <div class="month-day">
            <div class="month">@Html.DisplayFor(e => e.StartDateTime, "Month")</div>    
            <h2>@Html.DisplayFor(e => e.StartDateTime, "Day")</h2>
            <div class="icon"></div>
        </div>
        <div class="event-content">
            <h6>@Html.ActionLink(Model.Name, "details", "events", new { @id = Model.ID }, null)</h6>
                
            <div class="event-content-time2">@Html.DisplayFor(e => e.StartDateTime, "Time")</div>
            @*Too long in most cases, looks like shit. Not important information*@
            @*<div class="event-content-searchterms2">@item.SearchTerms</div>*@
        </div>
        <div class="event-totals">
            <div class="total-tweets">@string.Format("{0:#,###}", Model.TotalTweets)</div>
            <div class="total-media">@string.Format("{0:#,###}", Model.TotalMedia)</div>
        </div>
    </div>


