@using Epilogger.Web;
@model Epilogger.Web.Models.BrowseEventsDisplayViewModel
      
<script type="text/javascript" language="javascript">
    head.js('@Url.Content("~/Public/js/BrowseEvents.js")');
</script>

           
<div id="events-nav">
    <h1>BROWSE EVENTS</h1>
    <br style="clear:both;" />
    
    
    <ul class="BrowseWhenMenu">
        <li><a href="" class="active">TODAY</a></li>
        @*<li><a href="">PAST</a></li>
        <li><a href="">UPCOMING</a></li>*@
    </ul>
    <br style="clear:both;" />
    <div class="BEventListContainer">
        @foreach (var item in Model.Events) {
            <div class="dashboard-event-item clearfix">
                <div class="month-day">
                    <div class="month">@item.StartDateTime.ToString("MMM")</div>    
                    <h2>@item.StartDateTime.Day</h2>
                    <div class="icon"></div>
                </div>
                <div class="event-content">
                    <h6>@Html.ActionLink(item.Name, "details", "events", new { @id = item.ID }, null)</h6>
                
                    <div class="event-content-time2">@item.StartDateTime.ToUserTimeZone().ToString("hh:mmtt").ToLower()</div>
                    <div class="event-content-searchterms2">@item.SearchTerms</div>
                </div>
                <div class="event-totals">
                    <div class="total-tweets">@string.Format("{0:#,###}", item.TotalTweets)</div>
                    <div class="total-media">@string.Format("{0:#,###}", item.TotalMedia)</div>
                </div>
            </div>
        }
    
    </div>

    




    @*This is styled and working for when the Calendar tab is built*@
    @*
    @Html.TextBox("Search")
    A calendar goes here.
    <br style="clear:both;" />
    <br style="clear:both;" />
    
    @foreach (Epilogger.Data.Event UpE in Model.UpcomingEvents.OrderBy(e => e.StartDateTime))
    {
        <h2>@UpE.StartDateTime.ToString("MMMM d, yyyy"):</h2>
        <ul class="browseEventList">
            <li><a href="/events/@UpE.ID/details"><div>@UpE.StartDateTime.ToString("h:mmtt")</div>@UpE.Name</a></li>
        </ul>
        <br style="clear:both;" />
    }
    *@

    @*<h2>EVENTS FOR (selected date):</h2>
    <ul class="browseEventList">
        <li><div>8:00p</div>Event Name</li>
    </ul>*@
</div>

<div id="events-content">
        <h2>HOTTEST EVENTS:</h2>
        
        <div id="HottestSlides">
        @foreach (Epilogger.Web.Models.HotestEventsModel item in Model.HottestEvents)
        {
            <div class="HottestEventBig" id="HotestEventDetails@(item.Event.ID)">
                <div class="hottest-photogridTop">
                    @foreach (Epilogger.Data.Image image in item.RandomHottestImages.Take(5))
                    {
                        <div class="hottestimage" id="photo-@image.ID">
                            <a href="@image.Fullsize" rel="prettyPhoto[@item.Event.ID]" title="@image.ID" id="@image.ID">
                            <img src="@image.Fullsize" width="200" border="0" alt="" /></a>
                        </div>
                    }
                </div>
                <div class="hottest-Title">
                    <h1>@item.Event.Name</h1>
                    <div class="event-totals">
                        <div class="total-tweets">@string.Format("{0:#,###}", item.TweetCount)</div>
                        <div class="total-media">@string.Format("{0:#,###}", item.PhotoCount)</div>
                    </div>
                    <br style="clear:both;" />
                </div>
                <div class="hottest-photogridBottom">
                    @foreach (Epilogger.Data.Image image in item.RandomHottestImages.Skip(5).Take(5))
                    {
                        <div class="hottestimage" id="photo-@image.ID">
                            <a href="@image.Fullsize" rel="prettyPhoto[@item.Event.ID]" title="@image.ID" id="@image.ID">
                            <img src="@image.Fullsize" width="200" border="0" alt="" /></a>
                        </div>
                    }
                </div>
            </div>
        }
        </div>
        
        @*Links*@
        <ul class="HottestList">
        @foreach (Epilogger.Web.Models.HotestEventsModel item in Model.HottestEvents)
        {
            <li><a href="#" class="HottestListLink" id="@(item.Event.ID)">@item.Event.Name</a></li>
        }
        </ul>   
        <br style="clear:both;" />
        <br style="clear:both;" />


        @*Categories*@
        <h2>BROWSE BY CATEGORY:</h2>
        <ul class="browseCategoryList">
            @foreach (Epilogger.Data.EventCategory c in Model.EventCategories)
            {
                <li><a href="">@c.CategoryName</a></li>
            }
        </ul>


</div>



<script type="text/javascript" language="javascript">
    head.ready(function () {
        $("a[rel^='prettyPhoto']").prettyPhoto({
            theme: 'light_square',
            animation_speed: 'fast',
            overlay_gallery: false,
            changepicturecallback: function () { changeDescription(); }
        });
    });
</script>