@model Epilogger.Web.Models.BrowseEventsDisplayViewModel
<div id="events-nav">
    <h1>BROWSE @Model.BrowsePageFilter.ToUpper() EVENTS</h1>
    <br style="clear: both;" />
</div>
<div id="events-content">
    <h2>
        EVENTS:</h2>
    @if (Model.Events.Count() == 0) {
        <div class="dashboard-event-item clearfix">
            There are currently no events going on. Why not add one?!</div>
        <span class="spacer"></span>        
        @Html.ActionLink("Add an Event", "create", "events", null, new { @class = "blue-action-button" })
    }
    @foreach (var item in Model.Events) {
        <div class="dashboard-event-item clearfix">
            <div class="month-day">
                <div class="month">@Html.DisplayFor(thing => item.StartDateTime, "Month")</div>
                <h2>@Html.DisplayFor(thing => item.StartDateTime, "Day")</h2>
                <h3>@Html.Encode(item.StartDateTime.Year)</h3>
                <div class="icon" style="background-image:url(@Url.Content("~/Public/images/date-icons/" + item.EventCategoryID + ".png"))">
                </div>
            </div>
            <div class="event-content">
                <h6>@Html.ActionLink(item.Name, "details", "events", new { @id = item.ID }, null)</h6>
                <div class="event-content-time">@Html.DisplayFor(thing => item.StartDateTime, "Time")</div>
                <div class="event-content-searchterms">@item.SearchTerms</div>
            </div>
            <div class="event-totals">
                <div class="total-tweets">@string.Format("{0:#,###}", item.TotalTweets)</div>
                <div class="total-media">@string.Format("{0:#,###}", item.TotalMedia)</div>
            </div>
        </div>
    }
    @MvcHtmlString.Create(Html.Pager(10, Model.CurrentPageIndex, Model.TotalRecords, new { controller = "Events", action = "index", filter = Model.BrowsePageFilter }))
</div>
