@model Epilogger.Web.Models.BrowseEventsDisplayViewModel
<div id="events-nav">
    <h1>BROWSE @Model.BrowsePageFilter.ToUpper() EVENTS</h1>
    <br style="clear: both;" />
</div>
<div id="events-content">
    <h2>EVENTS:</h2>
    <ul class="plain-list" id="">
        @if (Model.Events.Count() == 0) {
            <li>There are currently no events going on. Why not add one?!</li>
            @Html.ActionLink("CREATE EVENT", "create", "events")
        }
        @foreach (var item in Model.Events) {
            if (!string.IsNullOrEmpty(item.Name)) {
                <li class="grid_4">@Html.RouteLink(@item.Name, "EventsRoutes", new { controller = "events", action = "details", id = @item.ID })</li>
            }
        }
    </ul>
</div>
