@using Epilogger.Common
@model Epilogger.Web.Models.ImageTemplateViewModel

@{ //ToDo: Move this logic out of view
    
    var thePath = Model.Image.EventID + "/" + Model.Image.ID;

    var fullSizeUrl = Model.Image.Fullsize;
    if (Model.Image.MediaType == (short)MQ.Messages.EventMediaType.YoutubeVideo)
    {
        fullSizeUrl = string.Format("http://youtube.com/watch?v={0}", Model.Image.Thumb);
    }
    else if (Model.Image.MediaType == (short)MQ.Messages.EventMediaType.VimeoVideo)
    {
        fullSizeUrl = string.Format("http://vimeo.com/{0}", Model.Image.Thumb);
    }
    else if (Model.Image.MediaType == (short)MQ.Messages.EventMediaType.KeekVideo)
    {
        fullSizeUrl = string.Format("http://www.keek.com/embed/{0}?iframe=true", Model.Image.Thumb);
    }
        
   }

<div class="withcomment newPhotoupdates" id="photo-@Model.Image.ID">
    <a href="@fullSizeUrl" rel="EPLPhoto[latestphotos]" photoid="@thePath" title="" id="">
        <img src="@Model.Image.Fullsize" width="250" border="0" alt="" />
    </a>
    <a href="#" class="commentbubble">
        @Model.Image.ImageMetaData.Count()
    </a>
    @if (Model.CanDelete)
    {
        <a href="#" id="@Model.Image.ID" class="imagedelete">delete</a>
    }
</div>