@model IEnumerable<Epilogger.Web.Models.FoursquareVenue>

@foreach (var item in Model) {
    <div class="venuesearchresult-item">
    <strong>@item.Name</strong><br />
    @if (!string.IsNullOrEmpty(item.Address)) {
        @item.Address<br />
    }
        <a href="#" onclick="SetSelectedVenue('@item.id', 
                                '@if (item.Name != null)
                                {
                                    @item.Name.Replace("'", "\\'")
                                }', 
                                '@if (item.Address != null)
                                {
                                    @item.Address.Replace("'", "\\'")
                                }', 
                                '@if (item.City != null)
                                {
                                    @item.City.Replace("'", "\\'")
                                }',
                                '@if (item.State != null)
                                {
                                    @item.State.Replace("'", "\\'")
                                }',
                                '@if (item.Zip != null)
                                {
                                    @item.Zip.Replace("'", "\\'")
                                }');">Select this venue</a>
    @*parent.$.fn.colorbox.close();*@
    </div>
}
