@model IEnumerable<Epilogger.Web.Models.FoursquareVenue>

@foreach (var item in Model) {
    <div class="venuesearchresult-item">
    <strong>@item.Name</strong><br />
    @if (!string.IsNullOrEmpty(item.Address)) {
        @item.Address<br />
    }
    <a href="#" onclick="SetSelectedVenue('@item.id', '@Url.Encode(@item.Name)');parent.$.fn.colorbox.close();">Select this venue</a>
    </div>
}
