@model Epilogger.Web.Models.AddBlogPostViewModel
           
<link href="@Url.Content("~/Public/css/modal.css")" rel="stylesheet" type="text/css" />

<div class="modal_left">
<h2>Add a blog, link or flickr photo album</h2>
<p>Submit your blog post and see your hard work in lights on the page where everyone is looking to find out what happened last night!</p>
</div>
<div class="modal_right">
    <h2>Post information</h2>

    <form action="" method="post" onsubmit="return AddBlogPost('@Url.Action("AddBlogPost", "events", new { id = @Model.EventID })')">
        <fieldset class="modal">
            <p>@Html.LabelFor(m => m.BlogURL)@Html.TextBoxFor(m => m.BlogURL)</p>
            <p>@Html.LabelFor(m => m.Title)@Html.TextBoxFor(m => m.Title)</p>
            <p>@Html.LabelFor(m => m.Description)@Html.TextAreaFor(m => m.Description)</p>
            <input type="submit" id="search" class="blue-action-button" value="Add post" />
        </fieldset>
    </form>
</div>