@model Epilogger.Web.Models.AddBlogPostViewModel
           
<link href="@Url.Content("~/Public/css/modal.css")" rel="stylesheet" type="text/css" />

<div class="modal_left">
<h2>1) Add a blog, link or flickr photo album</h2>

</div>
<div class="modal_right">
<h2>Blog Post</h2>

<fieldset class="modal">
    <p>@Html.LabelFor(m => m.BlogURL)@Html.TextBoxFor(m => m.BlogURL)</p>
    <p>@Html.LabelFor(m => m.Title)@Html.TextBoxFor(m => m.Title)</p>
    <p>@Html.LabelFor(m => m.Description)@Html.TextAreaFor(m => m.Description)</p>
    <input type="submit" onclick="AddBlogPost('@Url.Action("addblogpost", "events")');return false;" id="search" class="blue-action-button" value="Submit" />
</fieldset>

</div>