@using Epilogger.Web;
@using Epilogger.Web.Models;
@model Epilogger.Web.Models.AllBlogPostsViewModel
@{
    Layout = "~/Views/Shared/_InteriorLayout.cshtml";
    ViewBag.Title = "Epilogger - " + Model.Name + "- All Blogs";
}
@Html.Partial("EventToolbar")

<div id="events-nav">
    <h1>ALL @Model.TotalRecords BLOG POSTS</h1>
    <h2>FROM @Model.Name</h2>
</div>
<div id="events-content">
    
    @foreach (BlogPostDisplayViewModel BP in Model.BlogPosts)
    {
        <div class="blogPost">
            @{
                string TheURL;
                if (BP.Url.Contains("http://")) 
                { 
                    TheURL = BP.Url;
                } 
                else 
                {
                    TheURL = "http://" + BP.Url;
                }   
            }
            <a href="@TheURL" target="_blank">@BP.Title</a><br />
            <span class="small">@TheURL</span><br /><br />
            <div class="blogDescription">
                @BP.Description
            </div>
        </div>
    }

</div>
