@using Epilogger.Web;
@using Epilogger.Web.Models;
@model Epilogger.Web.Models.AllCheckinsViewModel
@{
    Layout = "~/Views/Shared/_InteriorLayout.cshtml";
    ViewBag.Title = "Epilogger - " + Model.Name + "- Check Ins";
}
@Html.Partial("EventToolbar")

<div id="events-nav">
    <h1>ALL @Model.TotalRecords CHECK INS</h1>
    <h2>FROM @Model.Name</h2>
    <br style="clear:both;" />
</div>


<div id="events-content">
    @foreach (CheckinDisplayViewModel item in Model.Checkins) {
        <div class="alltweets-entry clearfix">
            <img src="@item.Tweet.ProfileImageUrl" class="fleft" height="48" width="48" alt="" />
            <div class="tweet-content">
                <strong><a href="http://www.twitter.com/@item.Tweet.FromUserScreenName" class="tweet-content-username-small" target="_blank">@item.Tweet.FromUserScreenName</a></strong>
                <p>@Html.Raw(item.Tweet.TextAsHTML)</p>
                <span class="tweet-date">(@Html.DisplayFor(thing => item.Tweet.CreatedDate))</span>
            </div>
        </div>
    }

    @MvcHtmlString.Create(Html.Pager(10, Model.CurrentPageIndex, Model.TotalRecords, new { controller = "Events", action = "allcheckins", id = Model.ID, f = Request.QueryString["f"], t = Request.QueryString["t"] }))
</div>
