@using Epilogger.Web;
@using Epilogger.Web.Models;
@model Epilogger.Web.Models.AllLinksViewModel
@{
    Layout = "~/Views/Shared/_InteriorLayout.cshtml";
    ViewBag.Title = "Epilogger - " + Model.Name + "- Links";
}

@*New event menu*@
@Html.Partial("Menu", Model.ToolbarViewModel)
<div class="spacer"></div>

<div id="events-nav">
    <h1>ALL @Model.TotalRecords LINKS</h1>
    <h2>FROM @Model.Name</h2>
    <br style="clear:both;" />
</div>
<div id="events-content">
    
    @foreach (Epilogger.Data.URL TheURL in Model.Links) {
        <div class="alllinks-entry">
            <small><img src="@Url.Content("~/Public/images/icons/tweet-black.png")" class="valign" alt="" />VIA @TheURL.Tweets.Where(t => t.ID == TheURL.TweetID).FirstOrDefault().FromUserScreenName</small><br />
            <a href="@TheURL.ShortURL" title="@TheURL.Tweets.FirstOrDefault().Text">@TheURL.FullURL</a><br />
            <div class="tweet"><img src="@TheURL.Tweets.FirstOrDefault().ProfileImageURL" class="fleft" height="34" width="34" alt="" />@Html.Raw(TheURL.Tweets.FirstOrDefault().TextAsHTML)</div>
            
        </div>
    }

    <span class="spacer"></span>
    
    @MvcHtmlString.Create(Html.Pager(10, Model.CurrentPageIndex, Model.TotalRecords, new { controller = "Events", action = "alllinks", id = Model.EventSlug, f = Request.QueryString["f"], t = Request.QueryString["t"] }))
</div>
