
@using Epilogger.Common
@using Epilogger.Web;

@model Epilogger.Web.Models.AllPhotosDisplayViewModel

@{
    Layout = "~/Views/Shared/_InteriorLayout.cshtml";
    ViewBag.Title = Model.Name + " - Media (Page " + (Model.CurrentPageIndex + 1) + ") | Epilogger";
}

<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
    {"parsetags": "explicit"}
</script>

<script type="text/javascript" language="javascript">
    head.js('@Url.Content("~/Public/js/AllPhotos.js")');

    var EventSlug = '@Model.EventSlug';
    var EventID = @Model.ID;
    var EventName = '@Model.Name';
    var EventURL = 'http://www.epilogger.com/Events/Details/@Model.ID';
</script>



<div class="grid_11 alpha">
	<h1>Media</h1>
	<h2>FROM @Model.Name - @Model.PhotoCount.ToString("#,###")</h2>
</div>

<div class="clear"></div>

@*New event menu*@
@Html.Partial("Menu", Model.ToolbarViewModel)
<div class="spacer"></div>

@if (Model.ShowTopPhotos)
{
    foreach (Epilogger.Data.Image image in Model.TopImages)
    {
        //ToDo: Move this logic out of view
        
        var thePath = image.EventID + "/" + image.ID;
        
        var fullSizeUrl = image.Fullsize;
        var isVideo = false;
        if (image.MediaType == (short)MQ.Messages.EventMediaType.YoutubeVideo)
        {
            fullSizeUrl = "http://youtube.com/watch?v=" + image.Thumb;
            isVideo = true;
        }
        else if (image.MediaType == (short)MQ.Messages.EventMediaType.VimeoVideo)
        {
            fullSizeUrl = "http://vimeo.com/" + image.Thumb;
            isVideo = true;
        }
        else if (image.MediaType == (short)MQ.Messages.EventMediaType.KeekVideo)
        {
            fullSizeUrl = string.Format("http://www.keek.com/embed/{0}?iframe=true", image.Thumb);
            isVideo = true;
        }
        
        <div id="TopPhoto@(image.ID)" class="topPhotosBar">
            <div class="topPhoto">
                <div class="videothumbnailcontainer">
                    <a href="@fullSizeUrl" rel="EPLPhoto[topphotos]" photoid="@thePath" title="" id="@image.ID">
                        <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@image.Fullsize&width=415&height=302&preserveAspect=true" width="415" width="302" border="0" alt="" />
                        @if (isVideo)
                        {
                            <img src="@Links.Public.images.video_play_jpg" class="videothumbnail2" alt="1"/>
                        }
                    </a>
                </div>
            </div>
            <div class="topPhotoComments">
            </div>
        </div>
        <div class="clear"></div>
    }
     @*Links*@
    
    <ul class="topPhotosList">
        <li>TOP @Model.TopImages.Count():</li>
        @foreach (Epilogger.Data.Image Image in Model.TopImages)
        {
            <li><a href="" onclick="return false;" class="topPhotosListLink" id="@(Image.ID)"></a></li>
        }
    </ul>   
    <br style="clear:both;" />
    <br />
}


<div id="photos-filterbar">
    &nbsp; <!-- FILTER: -->
</div>

<div class="clear"></div>


<div class="image-grid" id="photosvideos">
    @foreach (Epilogger.Data.Image EPLImage in Model.Images)
    {
        var itvm = new Epilogger.Web.Models.ImageTemplateViewModel { Image = EPLImage, CanDelete = Model.CanDelete };
        @Html.Partial("_ImageTemplate", itvm)
    }
</div>

<div class="clear"></div>
<div class="spacer"></div>
@MvcHtmlString.Create(Html.Pager(30, Model.CurrentPageIndex, Model.PhotoCount, new { controller = "Events", action = "AllPhotos", id = Model.EventSlug, f = Request.QueryString["f"], t = Request.QueryString["t"] }))

<script type="text/javascript" charset="utf-8">
    head.ready(function () {
        $("a[rel^='EPLPhoto']").prettyPhoto({
            theme: 'light_square',
            animation_speed: 'fast',
            overlay_gallery: false,
            changepicturecallback: function () { changeDescription(); }
        });
    });
</script>

