@using Epilogger.Web;

@model Epilogger.Web.Models.AllPhotosDisplayViewModel


@{
    ViewBag.Title = "Epilogger - " + Model.Name + "- Photos";
}


<script language="javascript" type="text/javascript">
    var EventID = @Model.ID;

    var EventName = '@Model.Name';
    var EventURL = 'http://www.epilogger.com/Events/Details/@Model.ID';
</script>

@Html.Partial("EventToolbar")

<div class="grid_11 alpha">
	<h1>ALL PHOTOS</h1>
	<h2>FROM @Model.Name - @Model.PhotoCount.ToString("#,###")</h2>
</div>

<div class="clear"></div>

@if (Model.ShowTopPhotos)
{
    <div class="grid_11 alpha" style="background-color: #333; height: 200px">Temp space</div>
    <div class="clear"></div>
    <div class="spacer"></div>
}

	


<div id="photos-filterbar">
    FILTER:
</div>

<div class="clear"></div>
<div class="spacer"></div>

<div class="image-grid" id="photosvideos">
    @foreach (Epilogger.Data.Image EPLImage in Model.Images)
    {
        <div class="withcomment newPhotoupdates" id="photo-@EPLImage.ID">
            <a href="@EPLImage.Fullsize" rel="prettyPhoto[latestphotos]" title="@EPLImage.ID" id="@EPLImage.ID"><img src="@EPLImage.Thumb" height="154" width="180" border="0" alt="" /></a>
		    <a href="#" class="commentbubble">
                @*Number of Comments*@
                @EPLImage.ImageMetaData.Count()
            </a>
	    </div>
    }
</div>

<div class="clear"></div>
<div class="spacer"></div>
@MvcHtmlString.Create(Html.Pager(30, Model.CurrentPageIndex, Model.PhotoCount, new { controller = "Events", action = "AllPhotos/" + Model.ID }))


<script type="text/javascript" charset="utf-8">
    head.ready(function () {
        $("a[rel^='prettyPhoto']").prettyPhoto({
            theme: 'light_square',
            animation_speed: 'fast',
            overlay_gallery: false,
            changepicturecallback: function () { changeDescription(); }
        });
    });
</script>