@using Epilogger.Web;

@model Epilogger.Web.Models.AllPhotosDisplayViewModel


@{
    ViewBag.Title = "Epilogger - " + Model.Name + "- Photos";
}

<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
    {"parsetags": "explicit"}
</script>

<script type="text/javascript" language="javascript">
    head.js('@Url.Content("~/Public/js/AllPhotos.js")');

    var EventID = @Model.ID;

    var EventName = '@Model.Name';
    var EventURL = 'http://www.epilogger.com/Events/Details/@Model.ID';
</script>

@Html.Partial("EventToolbar")

<div class="grid_11 alpha">
	<h1>ALL PHOTOS</h1>
	<h2>FROM @Model.Name - @Model.PhotoCount.ToString("#,###")</h2>
</div>

<div class="clear"></div>

@if (Model.ShowTopPhotos)
{
    foreach (Epilogger.Data.Image Image in Model.TopImages)
    {
        <div id="TopPhoto@(Image.ID)" class="topPhotosBar">
            <div class="topPhoto">
                <a href="@Image.Fullsize" rel="prettyPhoto[topphotos]" photoid="@Image.ID" title="" id="@Image.ID">
                    <img src="@Image.Fullsize" height="302" border="0" alt="" />
                </a>
            </div>
            <div class="topPhotoComments">
            </div>
        </div>
        <div class="clear"></div>
    }
     @*Links*@
    <ul class="topPhotosList">
        <li>TOP @Model.TopImages.Count():</li>
        @foreach (Epilogger.Data.Image Image in Model.TopImages)
        {
            <li><a href="" onclick="return false;" class="topPhotosListLink" id="@(Image.ID)"></a></li>
        }
    </ul>   
    <br style="clear:both;" />
    <br style="clear:both;" />
}

<div id="photos-filterbar">
    FILTER:
</div>

<div class="clear"></div>
<div class="spacer"></div>

<div class="image-grid" id="photosvideos">
    @foreach (Epilogger.Data.Image EPLImage in Model.Images)
    {
        @Html.Partial("_ImageTemplate", EPLImage)
    }
</div>

<div class="clear"></div>
<div class="spacer"></div>
@MvcHtmlString.Create(Html.Pager(30, Model.CurrentPageIndex, Model.PhotoCount, new { controller = "Events", action = "AllPhotos", id = Model.ID, f = Request.QueryString["f"], t = Request.QueryString["t"] }))

<script type="text/javascript" charset="utf-8">
    head.ready(function () {
        $("a[rel^='prettyPhoto']").prettyPhoto({
            theme: 'light_square',
            animation_speed: 'fast',
            overlay_gallery: false,
            changepicturecallback: function () { changeDescription(); }
        });
    });
</script>

