@using Epilogger.Web;
@using Epilogger.Web.Models;
@using Epilogger.Web.Core.Stats;

@model Epilogger.Web.Models.AllTweetsDisplayViewModel
@{
    ViewBag.Title = "Epilogger - " + Model.Name + "- Tweets";
}
@Html.Partial("EventToolbar")
<div id="events-nav">
    <h1>ALL @Model.TweetCount.ToString("#,###") TWEETS</h1>
    <h2>FROM @Model.Name</h2>
    <div class="alltweets-nub"></div>
    <div class="unique-tweets">
        <h2>UNIQUE TWEETERS:</h2>
        <h1>@Model.UniqueTweeterCount.ToString("#,###")</h1>
    </div>
    <br style="clear:both;" />
    <div id="top-tweeters">
        <h2>Top 10 Tweeters</h2>
        @for (int i = 0; i < 3; i++) {
            try {
                if (Model.TopTweeters[i] != null) {
                    Tweeter tweeter = Model.TopTweeters[i];
                    <img src="@tweeter.Picture" class="fleft" height="48" width="48" alt="" />
                    <div class="toptweeter-item primary clearfix">
                        <strong><a href="http://twitter.com/@tweeter.Name" target="_blank">@@@tweeter.Name</a></strong><br />
                        @{
                            string color_class = "color_" + i;
                            }
                        <div style="width:@tweeter.PercentOfTotal%;" class="bar @color_class"></div>@if(tweeter.PercentOfTotal < 100) {<div class="count">@tweeter.Total</div>}
                    </div>
                    <br style="clear:both;" />
                }
            } catch { }
        }
        @for (int i = 4; i <= 10; i++) {
            try {
            if (Model.TopTweeters[i] != null) {
                Tweeter tweeter = Model.TopTweeters[i];
                <img src="@tweeter.Picture" class="fleft" height="29" width="29" alt="" />
                <div class="toptweeter-item small clearfix left">
                    <strong><a href="http://twitter.com/@tweeter.Name" target="_blank">@@@tweeter.Name</a></strong><br />
                    <div style="width:@tweeter.PercentOfTotal%;" class="bar small"></div><div class="count small">@tweeter.Total</div>
                </div>
                <br style="clear:both;" />
            }
            } catch { }
        }
        
    </div>
</div>
<div id="events-content">

    @foreach (TweetDisplayViewModel item in Model.Tweets) {
        <div class="alltweets-entry clearfix">
            <img src="@item.ProfileImageUrl" class="fleft" height="48" width="48" alt="" />
            <div class="tweet-content">
                <strong><a href="http://www.twitter.com/@item.FromUserScreenName" class="tweet-content-username" target="_blank">@item.FromUserScreenName</a></strong>
                <p>@Html.Raw(item.TextAsHTML)</p>
                <span class="tweet-date">(@Html.DisplayFor(thing => item.CreatedDate))</span>
            </div>
        </div>
    }

    @MvcHtmlString.Create(Html.Pager(100, Model.CurrentPageIndex, Model.TweetCount, new { controller = "Events", action = "AllTweets", id = Model.ID, f = Request.QueryString["f"], t = Request.QueryString["t"] }))
</div>
