@using Epilogger.Web;
@using Epilogger.Web.Models;
@model Epilogger.Web.Models.AllTweetsDisplayViewModel
@{
    ViewBag.Title = "Epilogger - " + Model.Name + "- Tweets";
}

<div id="events-nav">
    <h1>ALL TWEETS</h1>
    <h2>FROM @Model.Name</h2>
    <div class="alltweets-nub"></div>
    <div class="unique-tweets">
        <h2>UNIQUE:</h2>
        <h1>@Model.TweetCount.ToString("#,###")</h1>
    </div>
    <div class="total-tweets">
        <h2>TOTAL:</h2>
        <h1>@Model.TweetCount.ToString("#,###")</h1>
    </div>
</div>
<div id="events-content">

    @foreach (TweetDisplayViewModel item in Model.Tweets) {
        <div class="alltweets-entry clearfix">
            <img src="@item.ProfileImageUrl" class="fleft" height="48" width="48" alt="" />
            <div class="tweet-content">
                <strong><a href="http://www.twitter.com/@item.FromUserScreenName" class="tweet-content-username" target="_blank">@item.FromUserScreenName</a></strong>
                <p>@Html.Raw(item.TextAsHTML)</p>
                <span class="tweet-date">(@item.CreatedDate.Value.ToUserTimeZone(-5).ToString("MMMM dd, yyyy"))</span>
            </div>
        </div>
    }

    @MvcHtmlString.Create(Html.Pager(100, Model.CurrentPageIndex, Model.TweetCount, new { controller = "Events", action = "AllTweets/" + Model.ID }))
</div>
