@model Epilogger.Web.Models.BrowseCategoriesDisplayViewModel

@{
    Layout = "~/Views/Shared/_InteriorLayout.cshtml";
    ViewBag.Title = "Epilogger - " + @Model.CategoryName;
}

<div id="events-nav">
    <h1>@Model.CategoryName.ToUpper()</h1>
    <br style="clear: both;" />
    @foreach (Epilogger.Data.EventCategory item in Model.EventCategories)
    {
        <h2>@Html.ActionLink(item.CategoryName, "Category", new { CategoryName = item.URLStub })</h2>
    }
</div>
<div id="events-content">
    <h2>EVENTS:</h2>
    @if (Model.Events.Count() == 0)
    {
        <div class="dashboard-event-item clearfix">There are currently no events going on. Why not add one?!</div>
        @Html.ActionLink("CREATE EVENT", "create", "events")
    }

    @foreach (var item in Model.Events)
    {
        <div class="dashboard-event-item clearfix">
            <div class="month-day">
                <div class="month">@item.StartDateTime.ToString("MMM")</div>    
                <h2>@item.StartDateTime.Day</h2>
                <div class="icon"></div>
            </div>
            <div class="event-content">
                <h6>@Html.ActionLink(item.Name, "details", "events", new { @id = item.ID }, null)</h6>
                
                <div class="event-content-time">@item.StartDateTime.ToString("hh:mmtt").ToLower()</div>
                <div class="event-content-searchterms">@item.SearchTerms</div>
            </div>
            <div class="event-totals">
                <div class="total-tweets">@item.TotalTweets</div>
                <div class="total-media">@item.TotalMedia</div>
            </div>
        </div>
    }

</div>