@model Epilogger.Web.Models.CreateEventTwitterViewModel
@{
    Layout = "~/Views/Events/_CreateEventLayout.cshtml";
    ViewBag.Title = "Create a new event | Epilogger";
}
<script type="text/javascript">
    $(document).ready(function () {
        var x = $('#event-popup').height();
        var y = $('#event-popup').width();

        parent.$.colorbox.resize({ width: 560, height: 550 });

        $('#searchButton').bind("click", function () {
            $("#preview_tweet_box").removeClass("invisible");
            $('#preview_tweet_box').slideDown(200);
            $('.clear_away').remove();
            $("#warningBox").attr('class', 'warning_small');
            $(this).removeClass("disabled_blue_button");
            $(this).addClass("preview_stretch_btn");
            $(this).prop('value', 'refresh results in preview box');
        });
        var i = 0;
        $('#button_input').bind("click", function () {
            i++;
            $("#addAnother" + i).removeClass("invisible");
            if (i == 5)
                $(this).remove();
        });

    });
    
    function advancedMode() {
        $('#normal_mode').toggle();

        if ($('#IsAdvanceMode').val() == 'false')
        {
            $('#IsAdvanceMode').val('true');
            $('#modeTitle').text('Official Hashtag(s):');
        }
        else {
            $('#IsAdvanceMode').val('false');
            $('#modeTitle').text('Advanced Mode: Hashtags/Keywords');
        }

        $('#advance_link').text($('#advance_link').text() == '(advanced mode)' ? '(normal mode)' : '(advanced mode)');
     
    }
</script>
<div class="form_process2">
    <img src="/Public/images/CreateEvent/HashTagsActive.png" alt="Basic Information" />
</div>
@Html.ValidationSummary("Please correct the following issues")
@using (Html.BeginForm("CreateEventTweets", "Events"))
{
    <fieldset>
        @Html.HiddenFor(m => Model.EventSlug)
        @Html.HiddenFor(m => Model.EventTime)
        @Html.HiddenFor(x => x.IsAdvanceMode, new { id = "IsAdvanceMode" } )
        <div id="twitter_wrapper">
            <div id="left_side">
                <p id="modeTitle">
                    Official Hashtag(s):
                </p>
                @Html.TextBoxFor(model => model.SearchTerms, new { @id = "searchText", @Value = "#", @class = "bolder searchText" })
                <div id="normal_mode">
                    <div id="addAnother1" class="invisible add_another">
                        <p>Other hashtags/keywords:</p>
                        @Html.TextBoxFor(model => model.SearchTerms, new { @id = "searchText2", @Value = "", @class = "searchText" })
                    </div>
                    <div id="addAnother2" class="invisible add_another">
                        @Html.TextBoxFor(model => model.SearchTerms, new { @id = "searchText3", @Value = "", @class = "searchText" })
                    </div>
                    <div id="addAnother3" class="invisible add_another">
                        @Html.TextBoxFor(model => model.SearchTerms, new { @id = "searchText4", @Value = "", @class = "searchText" })
                    </div>
                    <div id="addAnother4" class="invisible add_another">
                        @Html.TextBoxFor(model => model.SearchTerms, new { @id = "searchText5", @Value = "", @class = "searchText" })
                    </div>
                    <div id="addAnother5" class="invisible add_another">
                        @Html.TextBoxFor(model => model.SearchTerms, new { @id = "searchText6", @Value = "", @class = "searchText" })
                    </div>
                    <div id="button_input">
                        <input type="button" value="add another" class="stn_button blue_button" />
                    </div>
                </div>
                <div style="padding-top: 8px;">
                    <a href="" id="advance_link" onclick="advancedMode(); return false;">(advanced mode)</a>
                </div>
            </div>
            <div id="right_side">
                <div id="warningBox" class="warning">
                    <div class="clear_away">
                        <h3>Hit the preview button to see what your search term(s) collect!</h3>
                        <span>If your terms are too broad, try narrowing it down with an official hashtag unique
                            to your event</span><br />
                    </div>
                    <input type="button" value="preview results" class="stn_button disabled_blue_button"
                        id="searchButton" />
                </div>
                <div id="preview_tweet_box" class="invisible">
                    <div id="tweetSubContainer">
                    </div>
                    <div id="tweetMainContainer">
                    </div>
                    @*<input id="getMoreTweetsButton" type="button" value="Get More Tweets" />*@
                </div>
            </div>
            <div id="tweet_footer">
                <div class="dashed">
                </div>
                <div id="left">
                    @Html.ActionImage("CreateEvent", "Events", new { id = Model.EventSlug }, "/Public/images/CreateEvent/FixBasicInfo.png", "Back")
                </div>
                <div id="right">
                    @*  @Html.ActionImage("CreateEvent", "Events", "#", "../../Public/images/CreateEvent/CreateTweetEvent.png", "Save and Continue")*@
                    <input type="image" src="/Public/images/CreateEvent/CreateTweetEvent.png" alt="Save and Continue" />
                </div>
            </div>
        </div>
    </fieldset>
            
}
