@model Epilogger.Web.Models.CreateFinalEventViewModel
@{
    Layout = "~/Views/Events/_CreateEventLayout.cshtml";
    ViewBag.Title = "Create a new event | Epilogger";
}
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
//        var x = $('#event-popup').height();
//        var y = $('#event-popup').width();

        parent.$.colorbox.resize({ width: 560, height: 520 });
    });
    
    function CloseAndRedirect(url) {
        parent.window.location = url;
    }

</script>

<div class="form_process3">
    <img src="/Public/images/CreateEvent/step4.png" alt="Basic Information" />
</div>


<div id="final_wrapper">
    <div id="left_side" class="left_side_wider">
        
        <h2>WOOT! YOUR EVENT HAS BEEN ADDED!</h2>
        <h3 id="title">@Html.DisplayFor(m => m.Name)</h3>
        
        <ul class="summaryTable">
            @if (!string.IsNullOrEmpty(Model.Subtitle))
            {
                <li>
                    <img src="/Public/images/CreateEvent/quotes.png" alt="quotes" />
                    <div class="tableText">
                        @Html.DisplayFor(m => m.Subtitle)
                    </div>
                </li>
            }
            <li>
                <img src="/Public/images/CreateEvent/clock.png" alt="clock" />
                <div class="tableText">
                    @Html.DisplayFor(m => m.EventStartEndTime)
                    @*Sept 18th 2:00pm - Sept 19th 4:00pm*@
                </div>
            </li>
            <li>
                <img src="/Public/images/CreateEvent/hash.png" alt="hashtags" />
                <div class="tableText">
                    @Html.DisplayFor(m => m.SearchTerms)
                </div>
            </li>
            <li>
                <img src="/Public/images/CreateEvent/info.png" alt="quotes" />
                <div class="tableText">
                    The event page starts collecting data @Html.DisplayFor(m => m.CollectionTime)
                </div>
            </li>
        </ul>
        
        
   

    </div>
    <div id="right_side">
        <div class="improveEventPanel">
            @*<h3 class="grey_box">Improve your event page by adding:</h3>*@
            <h3 class="rightSummaryTitle">Improve your event page by adding:</h3>
            <ul>
                <li>Location</li>
                <li>Description</li>
                <li>Where to buy tickets</li>
                <li>Official Website</li>
                <li>Twitter & Facebook page</li>
                <li>Sponsor logos</li>
            </ul>
            <input type="button" class="lighterblue-action-button" onclick="CloseAndRedirect('@Url.Action("Edit", new { id = Model.EventSlug })');" value="add details now" />
        </div>
    </div>

    <div id="tweet_footer">
        <div id="left">
            @* @Html.ActionImage("CreateEventTweets", "Events", "#", "/Public/images/CreateEvent/EditHashtags.png", "Back")*@
            
            @*@Html.ActionImage("CreateEventTweets", "Events",  null, "/Public/images/CreateEvent/EditHashtags.png", "Edit my hashtags")*@
            
        </div>
        <div id="right" class="finalRight">
            <img src="/Public/images/CreateEvent/GotoEvent.png" alt="Take me to my event" style="cursor: pointer;" onclick="CloseAndRedirect('@Url.Action("Details", new { id = Model.EventSlug })');" />
            
            @*@Html.ActionImage("CreateEvent", "Events", null, "/Public/images/CreateEvent/GotoEvent.png", "Take me to my event")*@
            @*<input type="submit" class="submitEvent" value="TAKE ME TO MY EVENT" onclick="CloseAndRedirect('@Url.Action("Details", new { id = Model.EventSlug })');">*@
            @*@Html.ActionImage("#", "Events", "#", "/Public/images/CreateEvent/GotoEvent.png", "go view your event")*@
        </div>
    </div>
</div>