@model Epilogger.Web.Models.CreateEventViewModel

@{
    Layout = "~/Views/Shared/_InteriorLayout.cshtml";
    ViewBag.Title = "Epilogger - Create Event";
}

<div id="events-nav">
    <h1>ADD AN EVENT</h1>
    <p>Create an event here and we’ll remember it for you! Make sure to put as much detail as possible to get the most complete record of your history-making soiree!</p>

</div>
<div id="events-content">

@Html.ValidationSummary("Please correct the following issues")
@using (Html.BeginForm("Create", "Events", FormMethod.Post)) {

    <div id="createevent-info" class="item-card">
        <h4>EVENT INFORMATION</h4>
        <br style="clear:both;" />
        <div class="item-data clearfix">
            <p>@Html.LabelFor(model => model.Name) @Html.TextBoxFor(model => model.Name, new { @class = "wide" })</p>
            <p>@Html.LabelFor(model => model.Subtitle) @Html.TextBoxFor(model => model.Subtitle, new { @class = "wide" })</p>
            <p><label>Search Terms:</label> @Html.TextBoxFor(model => model.SearchTerms, new { @class = "wide" })</p>
            <p>@Html.LabelFor(model => model.CategoryID) @Html.DropDownListFor(model => model.CategoryID, Model.Categories, "Select your event category", new { @class = "wide" })</p>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="item-card">
        <h4>WHEN AND WHERE</h4>
        <br style="clear:both;" />
        <div id="createevent-time" class="item-data clearfix">
            <label class="wide">Start Date</label> @Html.EditorFor(model => model.StartDateTime)
            <div class="end-time"><input type="checkbox" id="end-time" class="unhide" /><label for="end-time">Specifiy an ending time</label><br style="clear:both;" /></div>
            <div class="hidden">
                <div style="clear:both;"><label class="wide">Event End</label> @Html.EditorFor(model => model.EndDateTime)</div>
            </div>
            <p>Data collection will start 3 hours prior to the Start time at your current account level. Want to start it sooner? Update to a payed acoount.</p>

            @*<p><label class="wide">Time Zone:</label> @Html.DropDownListFor(model => model.TimeZoneOffset, Model.TimeZones, "Select your timezone", new { @class = "wide" })</p>*@
            @*@Html.ActionLink("Venue Search", "venuesearch", "events", null, new { @class="modal"})*@
            <label class="wide">Venue</label>
            <div style="display: block; margin-left: 112px; padding-top: 8px;">
                <div id="selectedVenue"></div>
                <h3><a href="#" id="foursquare-search" class="modal">Search for a venue</a></h3>
            </div>
            @Html.HiddenFor(model => model.FoursquareVenueID)
        </div>
    </div>
    <div class="spacer"></div>
    
    <div class="item-card">
        <h4>MORE INFORMATION (optional)</h4>
        <br style="clear:both;" />
        <div class="item-data clearfix">
            <p>@Html.LabelFor(model => model.Description) @Html.TextAreaFor(model => model.Description, new { @class = "wide" })</p>

            <div class="grid_4 alpha">
                <p>@Html.LabelFor(model => model.TwitterAccount) @Html.TextBoxFor(model => model.TwitterAccount, new { @class = "med" })</p>
            </div>

            <div class="grid_4 alpha">
                <p>@Html.LabelFor(model => model.FacebookPageURL) @Html.TextBoxFor(model => model.FacebookPageURL, new { @class = "med" })</p>
            </div>

            <p>@Html.LabelFor(model => model.Cost) @Html.TextBoxFor(model => model.Cost, new { @class = "small" })</p>
        </div>
    </div>
    <div class="spacer"></div>    
    <input type="submit" class="blue-action-button" value="Create Event" />
}
</div>
<div style='display:none'>
<div id="venue-search">
    <div style="background:#fff;padding:10px;">
        <h2>VenueSearch</h2>
        @using (Html.BeginForm("VenueSearch", "Events", FormMethod.Post)) {
        <fieldset class="modal">
            <p><label>Venue name:</label>@Html.TextBox("venue_name")</p>
            <input type="submit" id="search" class="blue-action-button" value="Search" />
        </fieldset>
        }
    </div>
</div>
</div>
<script language="javascript" type="text/javascript">
    head.ready(function () {
        $('.unhide').click(function () {
            var unhide = $('.hidden');
            unhide.toggle();
        });

        $("#foursquare-search").colorbox({
            width: "60%", height: "62%",
            href: '@Url.Action("VenueSearch", "Events")',
            onComplete: function () { $("#VenueName").focus(); }
        });

    });
</script>

@*$(".modal").colorbox({
            width: "60%", height: "62%",
            href:'@Url.Action("VenueSearch", "Events")'
        });*@
