@model Epilogger.Web.Models.CreateEventViewModel

@{
    Layout = "~/Views/Shared/_InteriorLayout.cshtml";
    ViewBag.Title = "Epilogger - Create Event";
}



<script type="text/javascript">
    head.js('@Url.Content("~/Public/js/jquery.blockUI.js")');
    head.js('@Url.Content("~/Public/js/CreateEditEvent.js")');
    var page = "Create";
</script>

<div id="events-nav">
    <h1>ADD AN EVENT</h1>
    <p>Create an event here and we’ll remember it for you! Make sure to put as much detail as possible to get the most complete record of your history-making soiree!</p>


    <ul id="createSteps">
        <li id="step1"><span>1</span><h2>Event Information</h2></li>
        <li id="step2" class="stepDisable"><span>2</span><h2>Search Terms</h2></li>
        <li id="step3" class="stepDisable"><span>3</span><h2>When and Where</h2></li>
        <li id="step4" class="borderTop stepDisable"><span>4</span><h2>Add More Details</h2></li>
    </ul>
    <div class="spacer"></div>
    <input type="button" onclick="$('#CreateForm').submit();" class="blue-action-button disabled submitForm" value="+ Add this event" />


    @*<p class="small">
        <strong>Name:</strong> The name of the event<br /><br />
        <strong>Subtitle:</strong> Additional information i.e. sponsored by, presented by<br /><br />
        <strong>Category:</strong> Give us a general idea of what your event is about<br /><br />
        <strong>Search terms:</strong><br />
        Enter any hashtags, twitter accounts or keywords related to the event. If your event has an official hashtag, also enter it here.<br />
        <@@EventTwitter> OR <#OfficialHashtag> OR &lt;unique keyword&gt;<br /><br />
        <a href="" id="AdvancedSearchHelp">Advanced operators</a>
        <br /><br />

        <strong>Event Time:</strong> This is the actual time of the event<br /><br />
        <strong>Collection Time:</strong> This is the amount of time Epilogger will collect data about your event. Some people want to collect all the chatter leading up to an event and after an event. Select a range that works best for you.<br /><br />
        
    </p>

    <div id="SearchHelpPopUpDiv" class="uiPopUp" style="display: none;">
        <div id="SearchHelpPopUpContentDiv" class="uiPopUpBody">
            <table cellpadding="0" cellspacing="0">
                <tbody><tr><th>Operator</th><th>Finds data...</th></tr>
                    <tr><td>epilogger search</td><td>containing both "epilogger" and "search". This is the default operator.</td></tr>
                    <tr><td><b>"</b>happy hour<b>"</b></td><td>containing the exact phrase "happy hour".</td></tr>
                    <tr><td>love <b>OR</b> hate</td><td>containing either "love" or "hate" (or both).</td></tr>
                    <tr><td>beer <b>-</b>root</td><td>containing "beer" but not "root".</td></tr>
                    <tr><td><b>#</b>haiku</td><td>containing the hashtag "haiku".</td></tr>
                    <tr><td><b>from:</b>alexiskold</td><td>sent from person "alexiskold".</td></tr>
                    <tr><td><b>to:</b>techcrunch</td><td>sent to person "techcrunch".</td></tr>
                    <tr><td><b>@@</b>mashable</td><td>referencing person "mashable".</td></tr>
                    <tr><td>"happy hour" <b>near:</b>"san francisco"</td><td>containing the exact phrase "happy hour" and sent near "san francisco".</td></tr>
                    <tr><td><b>near:</b>NYC <b>within:</b>15mi</td><td>sent within 15 miles of "NYC".</td></tr>
                    <tr><td>superhero <b>since:</b>2010-12-27</td><td>containing "superhero" and sent since date "2010-12-27" (year-month-day).</td></tr>
                    <tr><td>ftw <b>until:</b>2010-12-27</td><td>containing "ftw" and sent up to date "2010-12-27".</td></tr>
                    <tr><td>movie -scary <b>:)</b></td><td>containing "movie", but not "scary", and with a positive attitude.</td></tr>
                    <tr><td>flight <b>:(</b></td><td>containing "flight" and with a negative attitude.</td></tr>
                    <tr><td>traffic <b>?</b></td><td>containing "traffic" and asking a question.</td></tr>
                    <tr><td>hilarious <b>filter:links</b></td><td>containing "hilarious" and linking to URLs.</td></tr>
                    <tr><td>news <b>source:twitterfeed</b></td><td>containing "news" and entered via TwitterFeed</td></tr>
                </tbody>
            </table>
        </div>
    </div>*@

</div>
<div id="events-content"> 

@Html.ValidationSummary("Please correct the following issues")
@using (Html.BeginForm("Create", "Events", FormMethod.Post, new { id = "CreateForm" }))
{

    <div id="createevent-info" class="item-card">
        <h4>EVENT INFORMATION</h4>
        <br style="clear:both;" />
        <div class="blocking" >
            <div class="item-data clearfix">
                <p>@Html.LabelFor(model => model.Name) @Html.TextBoxFor(model => model.Name, new { @class = "wide padded" })</p>
                <p>@Html.LabelFor(model => model.Subtitle) @Html.TextBoxFor(model => model.Subtitle, new { @class = "wide padded" })</p>
                <p>@Html.LabelFor(model => model.CategoryID) @Html.DropDownListFor(model => model.CategoryID, Model.Categories, "Select your event category", new { @class = "wide padded" })</p>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    
    <div id="whattoinclude-info" class="item-card">
        <h4>SEARCH TERMS</h4>
        <br style="clear:both;" />
        <div class="blocking">
            <div class="item-data clearfix">
            

                <div id="rule-group">
                    <div class="rule" id="rule1">
                        <div id="addMoreArrow">
                            <img src="/Public/images/icons/addMoreArrow.png" alt="" class="fleft" />
                            <span>Add More</span>
                        </div>
                        <label>* 1ST Term<br /><span class="small">(# " @@ allowed)</span></label><input type="text" id="seachTerm1" class="searchBox1 padded" />
                        &nbsp;&nbsp;&nbsp;<a href="#" class="plus blue-action-button">+</a>
                    </div>

                    <div class="rule hidden" id="template">
                        <label>NEXT TERM</label>
                        <select id="operator1" class="searchOperator">
                            <option value="OR">or</option>
                            <option value="AND">and</option>
                            <option value="NOT">not</option>
                        </select>
                        <input type="text" id="hst" class="med textPadding" />
                        &nbsp;&nbsp;&nbsp;<a href="#" class="minus blue-action-button">-</a> <a href="#" class="plus blue-action-button">+</a>
                    </div>
                </div>

                <div id="SearchTermsImage">
                    <img src="/Public/images/icons/SearchPlainText.png" alt="" />
                </div>
                <div id="PlainTextSearch">
                    
                </div>
                <div class="spacer"></div><br />
                <div id="AdvancedContainer">
                    (Too annoying? <a href="" id="AdvancedToggle">Switch to quick mode</a>)
                    <div id="AdvancedSearchTerms">
                        <p><label>Advanced</label> @Html.TextBoxFor(model => model.SearchTerms, new { @class = "wide" })</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="spacer"></div>
    
    
    <div id="whenandwhere-info" class="item-card">
        <h4>WHEN AND WHERE</h4>
        <br style="clear:both;" />
        <div class="blocking">
            <div id="createevent-time" class="item-data clearfix">
                <br />
                <label class="wide">Event Time</label>
                <div id="EventTimePicker">
                    <input type="text" class="picker-start-date" name="start_date" value="@Html.DisplayFor(e => e.StartDateTime, "ShortDate")" />
                    <input type="text" class="picker-start-time" name="start_time" value="@Html.DisplayFor(e => e.StartDateTime, "FullTime")" />
                    &nbsp;to&nbsp;
                    <input type="text" class="picker-end-time" name="end_time" value="@Html.DisplayFor(e => e.EndDateTime, "FullTime")" />
                    <input type="text" class="picker-end-date" name="end_date" value="@Html.DisplayFor(e => e.EndDateTime, "ShortDate")" />
                </div>

                <label class="wide">Collection Time</label>
                <div id="CollectionTimePicker">
                    <input type="text" class="picker-start-date" name="collection_start_date" value="@Html.DisplayFor(e => e.CollectionStartDateTime, "ShortDate")" />
                    <input type="text" class="picker-start-time" name="collection_start_time" value="@Html.DisplayFor(e => e.CollectionStartDateTime, "FullTime")" />
                    &nbsp;to&nbsp;
                    <input type="text" class="picker-end-time" name="collection_end_time" value="@Html.DisplayFor(e => e.CollectionEndDateTime, "FullTime")" />
                    <input type="text" class="picker-end-date" name="collection_end_date" value="@Html.DisplayFor(e => e.CollectionEndDateTime, "ShortDate")" />
                </div>

                <label class="wide">Venue</label>
                @*<a href="#" id="foursquare-search" class="blue-action-button">Search for a venue</a>*@
                <div style="display: block; margin-left: 112px;">
                    <div id="selectedVenue">
                        @if (Model.Venue != null)
                        {
                            <strong>@Model.Venue.Name</strong><br />
                            @Model.Venue.Address<br />
                            @Model.Venue.City@:, @Model.Venue.State<br />
                            @Model.Venue.Zip<br />
                        }
                    </div>
                    <input type="button" id="foursquare-search" class="blue-action-button" value="Search for a venue" />
                </div>


                @*<div style="display: block; margin-left: 112px; padding-top: 8px;">
                    <div id="selectedVenue"></div>
                    <h3><a href="#" id="foursquare-search" class="modal">Search for a venue</a></h3>
                </div>*@
                @Html.HiddenFor(model => model.FoursquareVenueID)
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    
    <div id="moreinformation-info" class="item-card">
        <h4>MORE INFORMATION (optional)</h4>
        <br style="clear:both;" />
        <div class="blocking">
            <div class="item-data clearfix">
                <p>@Html.LabelFor(model => model.Description) @Html.TextAreaFor(model => model.Description, new { @class = "wide" })</p>

                <p>@Html.LabelFor(model => model.WebsiteURL) @Html.TextBoxFor(model => model.WebsiteURL, new { @class = "wide" })</p>
                <p>@Html.LabelFor(model => model.TwitterAccount) @Html.TextBoxFor(model => model.TwitterAccount, new { @class = "med" })</p>
                <p>@Html.LabelFor(model => model.FacebookPageURL) @Html.TextBoxFor(model => model.FacebookPageURL, new { @class = "med" })</p>
                <p>@Html.LabelFor(model => model.Cost) @Html.TextBoxFor(model => model.Cost, new { @class = "small" })</p>
            </div>
        </div>
    </div>
    
    <input type="submit" class="blue-action-button fright disabled submitForm" value="+ Add this event" />
}
</div>
<div style='display:none'>
<div id="venue-search">
    <div style="background:#fff;padding:10px;">
        <h2>VenueSearch</h2>
        @using (Html.BeginForm("VenueSearch", "Events", FormMethod.Post))
        {
            <fieldset class="modal">
                <p><label>Venue name:</label>@Html.TextBox("venue_name")</p>
                <input type="submit" id="search" class="blue-action-button" value="Search" />
            </fieldset>
        }
    </div>
</div>
</div>
<script language="javascript" type="text/javascript">
    head.ready(function () {
        $('.unhide').click(function () {
            var unhide = $('.hidden');
            unhide.toggle();
        });

        $("#foursquare-search").colorbox({
            width: "60%", height: "62%",
            href: '@Url.Action("VenueSearch", "Events")',
            onComplete: function () { $("#VenueName").focus(); }
        });

    });


//    head.ready(function (e) {
//        try {
//            $("body select").msDropDown();
//        } catch(e) {
//            alert(e.message);
//        }
//    });


</script>

@*$(".modal").colorbox({
            width: "60%", height: "62%",
            href:'@Url.Action("VenueSearch", "Events")'
        });*@