@model Epilogger.Web.Models.CreateEventViewModel

@{
    ViewBag.Title = "Epilogger - Create Event";
}

<h2>Create Event</h2>

Lorem ipsum

<div class="spacer"></div>
<div class="spacer dotted"></div>

    <div class="item-card">
        <h4>EVENT INFORMATION</h4>
        <div class="clear"></div>
        <div class="item-data clearfix">
            <div class="item-content fright">
                <p>@Html.LabelFor(model => model.Description) @Html.TextBoxFor(model => model.Description)</p>
            </div>  

            <div class="item-content fleft">
                <div class="required fleft">* </div><p>@Html.LabelFor(model => model.Name) @Html.TextBoxFor(model => model.Name)</p>
                <p>@Html.LabelFor(model => model.Subtitle) @Html.TextBoxFor(model => model.Subtitle)</p>
                <p>@Html.LabelFor(model => model.Cost) @Html.TextBoxFor(model => model.Cost)</p>
            </div>

        </div>
        TEst 3
    </div>



@Html.ValidationSummary("Please correct the following issues")
@using (Html.BeginForm("CreateEvent", "Events", FormMethod.Post)) {
    <p>Create Event fun time</p>
    <fieldset>
        
        
        <p>@Html.LabelFor(model => model.CollectionStartDateTime) @Html.EditorFor(model => model.CollectionStartDateTime)</p>
        <script type="text/javascript">
            head.ready(function () {
                $("#CollectionStartDateTime").AnyTime_picker(
                { format: "%M %d, %Y %l:%i %p" });
            });
        </script>
        
        
        
        <p>@Html.LabelFor(model => model.StartDateTime) @Html.EditorFor(model => model.StartDateTime)</p>
        <script type="text/javascript">
            head.ready(function () {
                $("#StartDateTime").AnyTime_picker(
                { format: "%M %d, %Y %l:%i %p" });
            });
        </script>
        
        <p>@Html.LabelFor(model => model.EndDateTime) @Html.EditorFor(model => model.EndDateTime)</p>
        <script type="text/javascript">
            head.ready(function () {
                $("#EndDateTime").AnyTime_picker(
                { format: "%M %d, %Y %l:%i %p" });
            });
        </script>

        <p>@Html.LabelFor(model => model.CollectionEndDateTime) @Html.EditorFor(model => model.CollectionEndDateTime)</p>
        <script type="text/javascript">
            head.ready(function () {
                $("#CollectionEndDateTime").AnyTime_picker(
                { format: "%M %d, %Y %l:%i %p" });
            });
        </script>


        <p>@Html.LabelFor(model => model.TimeZoneOffset) @Html.TextBoxFor(model => model.TimeZoneOffset)</p>
        
        <p>@Html.LabelFor(model => model.SearchTerms) @Html.TextBoxFor(model => model.SearchTerms)</p>
        
        
        <p><input type="submit" class="submit" value="Create Event" /></p>
    </fieldset>
}
