@using Epilogger.Web;
@model Epilogger.Web.Models.CreateEventViewModel

@{
    Layout = "~/Views/Shared/_InteriorLayout.cshtml";
    ViewBag.Title = "Epilogger - Edit Event - " + @Model.Name;
}

@Html.Partial("EventToolbar", Model.ToolbarViewModel)

<div id="events-nav">
    <h1>EDIT EVENT</h1>
    <h2>@Model.Name</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt tellus vel tellus placerat faucibus. Maecenas adipiscing venenatis aliquam.</p>

</div>
<div id="events-content">

@Html.ValidationSummary("Please correct the following issues")
@using (Html.BeginForm("edit", "events", FormMethod.Post)) {

    <div id="createevent-info" class="item-card">
        <h4>EVENT INFORMATION</h4>
        <br style="clear:both;" />
        <div class="item-data clearfix">
            <p>@Html.LabelFor(model => model.Name) @Html.TextBoxFor(model => model.Name, new { @class = "wide" })</p>
            <p>@Html.LabelFor(model => model.Subtitle) @Html.TextBoxFor(model => model.Subtitle, new { @class = "wide" })</p>
            <p><label>Search Terms:</label> @Html.TextBoxFor(model => model.SearchTerms, new { @class = "wide" })</p>
            <p>@Html.LabelFor(model => model.CategoryID) @Html.DropDownListFor(model => model.CategoryID, Model.Categories, "Select your event category", new { @class = "wide" })</p>
        </div>
    </div>
    <div class="spacer"></div>
    <div id="createevent-time" class="item-card">
        <h4>WHEN AND WHERE</h4>
        <br style="clear:both;" />
        <div class="item-data clearfix">

            <label class="wide">Start Date:</label> @Html.EditorFor(model => model.StartDateTime)
            <p><label class="wide">Event End:</label> @Html.EditorFor(model => model.EndDateTime)</p>
            <p>&nbsp;</p>
            @*<p><label class="wide">Time Zone:</label> @Html.DropDownListFor(model => model.TimeZoneOffset, Model.TimeZones, "Select your timezone", new { @class = "wide" })</p>*@
            <p><label class="wide">Start Collecting Data:</label> @Html.EditorFor(model => model.CollectionStartDateTime)</p>
            <p><label class="wide">Finish Collecting Data:</label> @Html.EditorFor(model => model.CollectionEndDateTime)</p>
            <p>&nbsp;</p>
            <label class="wide">Venue</label>
            <div style="display: block; margin-left: 112px; padding-top: 8px;">
                <div id="selectedVenue">
                    @if (Model.Venue != null)
                    {
                        <strong>@Model.Venue.Name</strong><br />
                        @Model.Venue.Address<br />
                        @Model.Venue.City@:, @Model.Venue.State<br />
                        @Model.Venue.Zip<br />
                    }
                </div>
                <h3><a href="#" id="foursquare-search" class="modal">Search for a venue</a></h3>
            </div>
            @Html.HiddenFor(model => model.FoursquareVenueID)
            @Html.HiddenFor(model => model.VenueID)
        </div>
    </div>
    
    
    <div class="item-card">
        <h4>MORE INFORMATION (optional)</h4>
        <br style="clear:both;" />
        <div class="item-data clearfix">
            <p>@Html.LabelFor(model => model.Description) @Html.TextAreaFor(model => model.Description, new { @class = "wide" })</p>

            <p>@Html.LabelFor(model => model.WebsiteURL) @Html.TextBoxFor(model => model.WebsiteURL, new { @class = "wide" })</p>

            <div class="grid_4 alpha">
                <p>@Html.LabelFor(model => model.TwitterAccount) @Html.TextBoxFor(model => model.TwitterAccount, new { @class = "med" })</p>
            </div>

            <div class="grid_4 alpha">
                <p>@Html.LabelFor(model => model.FacebookPageURL) @Html.TextBoxFor(model => model.FacebookPageURL, new { @class = "med" })</p>
            </div>

            <p>@Html.LabelFor(model => model.Cost) @Html.TextBoxFor(model => model.Cost, new { @class = "small" })</p>
        </div>
    </div>
    <div class="spacer"></div>   
    <input type="submit" class="blue-action-button" value="Save Event" />
}
</div>


<script language="javascript" type="text/javascript">
    head.ready(function () {
        $("#foursquare-search").colorbox({
            width: "60%", height: "62%",
            href: '@Url.Action("VenueSearch", "Events")',
            onComplete: function () { $("#VenueName").focus(); }
        });
    });
</script>
