@model Epilogger.Web.Models.LiveModeModel
@using Epilogger.Web.Core.Helpers
@{
    Layout = "~/Views/Events/_CreateEventLayout.cshtml";
    ViewBag.Title = "EditLiveMode";
}
<h2>
    Live Mode Edit</h2>
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="../../Public/js/jquery.miniColors.js"></script>
    <link rel="stylesheet" href="@Links.Public.js.jQueryFileUpload.css.jquery_fileupload_ui_css">
    <link type="text/css" rel="stylesheet" href="../../Public/css/jquery.miniColors.css" />
     <link rel="stylesheet" href="../../Public/css/colorbox.css" />
    <script src="../../Public/js/jquery.colorbox-min.js"></script>

    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            function init() {

                // Attach callbacks
                $('.color-picker').miniColors({
                    change: function (hex, rgba) {
                        $('#console').prepend('change: ' + hex + ', rgba(' + rgba.r + ', ' + rgba.g + ', ' + rgba.b + ', ' + rgba.a + ')<br>');
                    },
                    open: function (hex, rgba) {
                        $('#console').prepend('open: ' + hex + ', rgba(' + rgba.r + ', ' + rgba.g + ', ' + rgba.b + ', ' + rgba.a + ')<br>');
                    },
                    close: function (hex, rgba) {
                        $('#console').prepend('close: ' + hex + ', rgba(' + rgba.r + ', ' + rgba.g + ', ' + rgba.b + ', ' + rgba.a + ')<br>');
                    }
                });

            }
            init();

            $(function () {
                var defaults = {
                    opacity: 0.4,
                    speed: 200,
                    overlayClose: true,
                    close:"test"
                };
                $("#imageupload-modal1").colorbox($.extend(defaults, {
                    iframe: false,
                    width: "540px", height: "540px",
                    close:"My New Close Text",
                    href: '@Url.Action(MVC.ImageUpload.ChooseUploadSource())',
   
                }));


            });

        });
    </script>
</head>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset id="livemode">
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.EventId)
                
             
           @* @LabelExtensions.LabelFor(model => model.CompanyLogo, new { @class = "upload_label",title = "Logo" })*@
            @Html.LabelFor(model => model.CompanyLogo, new { @class = "upload_label", title = "Logo" })    
      
            <span class="fileinput-button">
                <h2>Add logo...</h2>
                <input type="file" name="files[]" multiple />
            </span>
        
        <h2>
            @Html.LabelFor(model => model.SponsorLogo)
            <a href="#" id="imageupload-modal2">Upload</a></h2>
        
        <p>
        @Html.LabelFor(model => model.Background)
        @Html.TextBoxFor(model => model.Background, new { @class = "color-picker black miniColors" })
        </p><p>
            @Html.LabelFor(model => model.FooterTextColor)
            @Html.TextBoxFor(model => model.FooterTextColor, new { @class = "color-picker black miniColors" })
        </p>
        <p>
            @Html.LabelFor(model => model.TwitterUserNameColor)
            @Html.TextBoxFor(model => model.TwitterUserNameColor, new { @class = "color-picker black miniColors" })
        </p>

        <br />
        <p>
            <input type="submit" class="submitEvent" value="save and preview" />
        </p>
    </fieldset>
}
