@using Combres.Mvc
@using Epilogger.Web;
@model Epilogger.Web.Models.CreateEventViewModel

@{
    Layout = "~/Views/Shared/_InteriorLayout.cshtml";
    ViewBag.Title =  @Model.Name + " - Edit Event | Epilogger";
}

<!-- Confirm CSS files --> 
<link type='text/css' href="@Url.Content("~/Public/js/confirm/css/confirm.css")" rel='stylesheet' media='screen' /> 

@*@Html.CombresLink("CreateEventJs")*@
<script type="text/javascript">
    head.js('@Url.Content("~/Public/js/jquery.blockUI.js")');
    head.js('@Url.Content("~/Public/js/CreateEditEvent.js")');
    var EventID = @Model.ID;
    var page = "Edit";
</script>


@*New event menu*@
@Html.Partial("Menu", Model.ToolbarViewModel)
<div class="spacer"></div>

<div id="events-nav">
    <h1>EDIT EVENT</h1>
    <h2>@Model.Name</h2>
    <div class="spacer"></div>
    <input type="button" onclick="$('#EditForm').submit();" class="blue-action-button submitForm" value="Save" />
    @if (Model.CurrentUserID == Model.UserID || Model.CurrentUserRole == UserRoleType.Administrator)
    {
        <input type="button" class="red-action-button confirm" value="Delete Event" name="confirm" />
    }

</div>
<div id="events-content">

@Html.ValidationSummary("Please correct the following issues")
@using (Html.BeginForm("edit", "events", FormMethod.Post, new { id = "EditForm" }))
{

    <div id="createevent-info" class="item-card">
        <h4>EVENT INFORMATION</h4>
        <br style="clear:both;" />
        <div class="item-data clearfix">
            <p>@Html.LabelFor(model => model.Name) @Html.TextBoxFor(model => model.Name, new { @class = "wide padded" })</p>
            <p>@Html.LabelFor(model => model.Subtitle) @Html.TextBoxFor(model => model.Subtitle, new { @class = "wide padded" })</p>
            
            <p>@Html.LabelFor(model => model.CategoryID) @Html.DropDownListFor(model => model.CategoryID, Model.Categories, "Select your event category", new { @class = "wide padded" })</p>
        </div>
    </div>
    <div class="spacer"></div>
    
    
    <div id="whattoinclude-info" class="item-card">
        <h4>SEARCH TERMS</h4>
        <br style="clear:both;" />
        <div class="blocking">
            <div class="item-data clearfix">
                <p><label>Search Terms</label> @Html.TextBoxFor(model => model.SearchTerms, new { @class = "wide padded" })</p>
            </div>
        </div>
    </div>
    
    <div class="spacer"></div>
    
    
    
    <div id="whenandwhere-info" class="item-card">
        <h4>WHEN AND WHERE</h4>
        <br style="clear:both;" />
        <div id="createevent-time" class="item-data clearfix">
            <br />
            <label class="wide">Event Time</label>
            <div id="EventTimePicker">
                <input type="text" class="picker-start-date" name="start_date" id="start_date" value="@Html.DisplayFor(e => e.StartDateTime, "ShortDate")" />
                <input type="text" class="picker-start-time" name="start_time" id="start_time" value="@Html.DisplayFor(e => e.StartDateTime, "FullTime")" />
                &nbsp;to&nbsp;
                <input type="text" class="picker-end-time" name="end_time" id="end_time" value="@Html.DisplayFor(e => e.EndDateTime, "FullTime")" />
                <input type="text" class="picker-end-date" name="end_date" id="end_date" value="@Html.DisplayFor(e => e.EndDateTime, "ShortDate")" />
            </div>
                
            <label class="wide">Collection Time</label>
            <div id="CollectionTimePicker">
                <input type="text" class="picker-start-date" name="collection_start_date" id="collection_start_date" value="@Html.DisplayFor(e => e.CollectionStartDateTime, "ShortDate")" />
                <input type="text" class="picker-start-time" name="collection_start_time" id="collection_start_time" value="@Html.DisplayFor(e => e.CollectionStartDateTime, "FullTime")" />
                &nbsp;to&nbsp;
                <input type="text" class="picker-end-time" name="collection_end_time" id="collection_end_time" value="@Html.DisplayFor(e => e.CollectionEndDateTime, "FullTime")" />
                <input type="text" class="picker-end-date" name="collection_end_date" id="collection_end_date"  value="@Html.DisplayFor(e => e.CollectionEndDateTime, "ShortDate")" />
            </div>


            <label class="wide">Venue</label>
                @*<a href="#" id="foursquare-search" class="blue-action-button">Search for a venue</a>*@
                <div style="display: block; margin-left: 112px;">
                    <div id="selectedVenue">
                        @if (Model.Venue != null)
                        {
                            <strong>@Model.Venue.Name</strong><br />
                            @Model.Venue.Address<br />
                            @Model.Venue.City@:, @Model.Venue.State<br />
                            @Model.Venue.Zip<br />
                        }
                    </div>
                    <input type="button" id="foursquare-search" class="blue-action-button" value="Search for a venue" />
                </div>
                @Html.HiddenFor(model => model.FoursquareVenueID)
                @Html.HiddenFor(model => model.VenueID)
                @Html.HiddenFor(model => model.EventSlug)
                @Html.HiddenFor(model => model.CurrentUserRole)
                @Html.HiddenFor(model => model.CurrentUserID)
                @Html.HiddenFor(model => model.UserID)
                @Html.HiddenFor(model => model.ID)
        </div>
    </div>
    
    <div class="spacer"></div>
    
    <div class="item-card">
        <h4>MORE INFORMATION (optional)</h4>
        <br style="clear:both;" />
        <div class="item-data clearfix">
            <p>@Html.LabelFor(model => model.Description) @Html.TextAreaFor(model => model.Description, new { @class = "wide" })</p>

            <p>@Html.LabelFor(model => model.WebsiteURL) @Html.TextBoxFor(model => model.WebsiteURL, new { @class = "wide" })</p>
            <p>@Html.LabelFor(model => model.EventBrightUrl)  @Html.TextBoxFor(model => model.EventBrightUrl, new { @class = "wide" })</p>
            <p>@Html.LabelFor(model => model.TwitterAccount) @Html.TextBoxFor(model => model.TwitterAccount, new { @class = "med" })</p>
            <p>@Html.LabelFor(model => model.FacebookPageURL) @Html.TextBoxFor(model => model.FacebookPageURL, new { @class = "med" })</p>
            <p>@Html.LabelFor(model => model.Cost) @Html.TextBoxFor(model => model.Cost, new { @class = "small" })</p>
        </div>
    </div>
    <div class="spacer"></div>  
    
        
        <input type="submit" class="blue-action-button fright" value="Save Event" />
                        if (Model.CurrentUserID == Model.UserID || Model.CurrentUserRole == UserRoleType.Administrator)
                        {
            <input type="button" class="red-action-button confirm" value="Delete Event" name="confirm" />
                        }
    
    <!-- modal content --> 
	<div id='confirm'> 
		<div class='header'><span>Confirm</span></div> 
		<div class='message'></div> 
		<div class='buttons'> 
			<div class='no simplemodal-close'>No</div><div class='yes'>Yes</div> 
		</div> 
	</div> 
	<!-- preload the images --> 
	<div style='display:none'> 
		<img src="@Url.Content("~/Scripts/confirm/img/confirm/header.gif")" alt='' /> 
		<img src="@Url.Content("~/Scripts/confirm/img/confirm/button.gif")" alt='' /> 
	</div> 
    
}
</div>


<script language="javascript" type="text/javascript">
    head.ready(function () {
        $("#foursquare-search").colorbox({
            width: "60%", height: "62%",
            href: '@Url.Action("VenueSearch", "Events")',
            onComplete: function () { $("#VenueName").focus(); }
        });
    });
    head.js('@Url.Content("~/Public/js/confirm/js/jquery.simplemodal.js")');
    head.js('@Url.Content("~/Public/js/confirm/js/confirm.js")');
</script>