@model Epilogger.Web.Models.EventToolbarViewModel
@{
    var action = ViewContext.RouteData.Values["action"] as string ?? "";

    bool IncludeDateRange = false;
    int YesCount = 0;

    if (Request.QueryString["f"] != null)
    {
        YesCount++;
    }
    if (Request.QueryString["t"] != null)
    {
        YesCount++;
    }
    if (YesCount == 2)
    {
        IncludeDateRange = true;
    }
}


@if (!IncludeDateRange)
{ 
    <div id="event-toolbar">
        @Html.ActionLink("overview", "details", "events", new { id = Model.EventID }, action.ToLower() == "details" ? new { @class = "tooltip-trigger overview current", @title = "Event Overview" } : new { @class = "tooltip-trigger overview", @title = "Event Overview" })
        @Html.ActionLink("photos", "allphotos", "events", new { id = Model.EventID }, action.ToLower() == "allphotos" ? new { @class = "tooltip-trigger allphotos current", @title = "All Photos" } : new { @class = "tooltip-trigger allphotos", @title = "All Photos" })
        @Html.ActionLink("tweets", "alltweets", "events", new { id = Model.EventID }, action.ToLower() == "alltweets" ? new { @class = "tooltip-trigger alltweets current", @title = "All Tweets" } : new { @class = "tooltip-trigger alltweets", @title = "All Tweets" })
        @Html.ActionLink("allblogposts", "allblogposts", "events", new { id = Model.EventID }, action.ToLower() == "allblogposts" ? new { @class = "tooltip-trigger allblogposts current", @title = "All Blog Posts" } : new { @class = "tooltip-trigger allblogposts", @title = "All Blog Posts" })
        @Html.ActionLink("allinks", "alllinks", "events", new { id = Model.EventID }, action.ToLower() == "alllinks" ? new { @class = "tooltip-trigger alllinks current", @title = "All Links" } : new { @class = "tooltip-trigger alllinks", @title = "All Links" })
        @Html.ActionLink("allcheckins", "allcheckins", "events", new { id = Model.EventID }, action.ToLower() == "allcheckins" ? new { @class = "tooltip-trigger allcheckins current", @title = "All Checkins" } : new { @class = "tooltip-trigger allcheckins", @title = "All Checkins" })
        @Html.ActionLink("search", "search", "events", new { id = Model.EventID }, action.ToLower() == "search" ? new { @class = "tooltip-trigger search current", @title = "Search" } : new { @class = "tooltip-trigger search", @title = "Search" })
        @if ((Model.CreatedByID == Model.CurrentUserID) || Model.CurrentUserRole == UserRoleType.Administrator) {
            @Html.ActionLink("edit", "edit", "events", new { id = Model.EventID }, action.ToLower() == "edit" ? new { @class = "tooltip-trigger edit current", @title = "Edit Event" } : new { @class = "tooltip-trigger edit", @title = "Edit Event" })
            
        }
        @Html.ActionLink("allstats", "allstats", "events", new { id = Model.EventID }, action.ToLower() == "allstats" ? new { @class = "tooltip-trigger allstats current", @title = "Event Stats" } : new { @class = "tooltip-trigger allstats", @title = "Event Stats" })
    
        @if (Model.EventSlug == "c2-mtl")
        {
            @Html.ActionLink("NexaLive", "ConceptMap", "events", new { id = Model.EventID }, action.ToLower() == "ConceptMap" ? new { @class = "tooltip-trigger nexalive current", @title = "NexaLive" } : new { @class = "tooltip-trigger nexalive", @title = "NexaLive" })    
        }
    </div>
}
else
{
    <div id="event-toolbar">
        @Html.ActionLink("overview", "details", "events", new { id = Model.EventID, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "details" ? new { @class = "overview current" } : new { @class = "overview" })
        @Html.ActionLink("photos", "allphotos", "events", new { id = Model.EventID, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "allphotos" ? new { @class = "allphotos current" } : new { @class = "allphotos" })
        @Html.ActionLink("tweets", "alltweets", "events", new { id = Model.EventID, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "alltweets" ? new { @class = "alltweets current" } : new { @class = "alltweets" })
        @Html.ActionLink("allblogposts", "allblogposts", "events", new { id = Model.EventID, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "allblogposts" ? new { @class = "allblogposts current" } : new { @class = "allblogposts" })
        @Html.ActionLink("allinks", "alllinks", "events", new { id = Model.EventID, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "alllinks" ? new { @class = "alllinks current" } : new { @class = "alllinks" })
        @Html.ActionLink("allcheckins", "allcheckins", "events", new { id = Model.EventID, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "allcheckins" ? new { @class = "allcheckins current" } : new { @class = "allcheckins" })
        @Html.ActionLink("search", "search", "events", new { id = Model.EventID, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "search" ? new { @class = "search current" } : new { @class = "search" })
        @if ((Model.CreatedByID == Model.CurrentUserID) || Model.CurrentUserRole == UserRoleType.Administrator)
        {
            @Html.ActionLink("edit", "edit", "events", new { id = Model.EventID, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "edit" ? new { @class = "edit current" } : new { @class = "edit" })
        }
        @Html.ActionLink("allstats", "allstats", "events", new { id = Model.EventID, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "allstats" ? new { @class = "allstats current" } : new { @class = "allstats" })
    
        @if (Model.EventSlug == "c2-mtl")
        {
            @Html.ActionLink("NexaLive", "ConceptMap", "events", new { id = Model.EventID }, action.ToLower() == "ConceptMap" ? new { @class = "tooltip-trigger nexalive current", @title = "NexaLive" } : new { @class = "tooltip-trigger nexalive", @title = "NexaLive" })    
        }
    </div>
}

<script>

    head.ready(function () {
        $(".tooltip-trigger").hover(function () {
            var thisLine = $(this);
            var position = $(this).position();

            $("#event-toolbar").append(
                "<div id='" + thisLine.id + "-hover' class='tool-tip' style='display:none;'>"
                    +"<div class='tip-container'>"
                        +"<div class='nub'></div>"
                        +"<div class='tip'>" + this.title + "</div>"
                    +"</div>"
                +"</div>"
            );

            $("#event-toolbar").find(".tool-tip").css({ top: position.top - 3 })
            $(".tool-tip").fadeIn(300);
        },
        function () {
            $(".tool-tip").fadeOut(100);
            $("#event-toolbar").children(".tool-tip").remove();
        });

    });

</script>