   
<link href="@Url.Content("~/Public/css/modal.css")" rel="stylesheet" type="text/css" />

<div class="">
<h2>Upgrade now</h2>
<p>Upgrade your event punk.!</p>
</div>
@*<div class="modal_right">
    <h2>Post information</h2>

    <form action="" method="post" onsubmit="return AddBlogPost('@Url.Action("AddBlogPost", "events", new { id = @Model.EventID })')">
        <fieldset class="modal">
            <p>@Html.LabelFor(m => m.BlogURL)@Html.TextBoxFor(m => m.BlogURL)</p>
            <p>@Html.LabelFor(m => m.Title)@Html.TextBoxFor(m => m.Title)</p>
            <p>@Html.LabelFor(m => m.Description)@Html.TextAreaFor(m => m.Description)</p>
            <input type="submit" id="search" class="blue-action-button" value="Add post" />
        </fieldset>
    </form>
</div>*@