@model Epilogger.Web.Models.LiveModeViewModel
@{
    Layout = null;
}
@using Combres.Mvc
@using Epilogger.Web.Models
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="google-site-verification" content="CuQwuSsvoWQapx1142El31mqbNSB6Dq0RBzTjzV0lXQ" />
    <title>@ViewBag.Title</title>
    @Html.CombresLink("LiveModeCss")
    @Html.CombresLink("LiveModeJs")
    <script language="javascript" type="text/javascript">
            var EventID = @Model.EventId;
            
            var disableAutoupdate = false;

            //Parameters to control the Tweet list
            var pageLoadTime = '@string.Format("{0:yyyy-MM-dd HH:mm:ss}", DateTime.UtcNow)';
            var photoPageLoadTime = '@string.Format("{0:yyyy-MM-dd HH:mm:ss}", DateTime.UtcNow)';

            
            var updateTimeout = 10000;
            var updateRate = 40000;
            var photoUpdateRate = 15000;

               
    </script>
    <style type="text/css">
            
            /* ------------------------------------- [ CUSTOM COLOURS ] --- */
            .colour1 	{ color:@Model.CustomSettings.FooterTextColor !important} /* footer text */
            .colour2, div.single-tweet p a { color:@Model.CustomSettings.LinkColour !important} /* links */
            .colour3	{ color:@Model.CustomSettings.TwitterUserNameColour !important} /* twitter usernames */

            /* background image test */
            body { background:@Model.CustomSettings.Background; }
            

            @*#587b27 url('http://sparkentreenscene.com/s/spark/themes/bg-spark-reporter-jpg-mkyg.jpg')*@
        </style>
</head>
<body>
    @Html.HiddenFor(model => model.Hashtag);
    <input type="hidden" value="" id="hideColor1" />
    <input type="hidden" value="" id="hideColor2" />
    <input type="hidden" value="" id="hideColor3" />
    <div id="toolbar">
        <div id="live_mode_title">
            <h2>
                Edit Live Mode:</h2>
        </div>
        <div id="customize_space">
            <div class="live_options">
                <img src="../../Public/images/livemode/toolbar/number1.png" alt="step 1" />
                Choose a theme
                <div class="right_option">
                    @Html.DropDownList("AMPMstartTime", new SelectList(new List<SelectListItem> {
                                            new SelectListItem
                                            {
                                                Text = "light colors",
                                                Value = "light"
                                            },
                                            new SelectListItem
                                            {
                                                Text = "dark colors",
                                                Value = "dark"
                                            }}, "Value", "Text"),
                                 new { @class = "AMPM" })
                </div>
            </div>
            <div class="live_options">
                <img src="../../Public/images/livemode/toolbar/number2.png" alt="step 2" />
                Change text colors
                <div class="right_option">
                    <input type="hidden" id="color1" name="color1" class="color-picker" size="7" autocomplete="on"
                        value="#005294" title="footer" />
                    <input type="hidden" id="color2" name="color2" class="color-picker" size="7" autocomplete="on"
                        value="#FF4294" title="links" />
                    <input type="hidden" id="color3" name="color3" class="color-picker" size="7" autocomplete="on"
                        value="#00FF94" title="hashtags" /></div>
            </div>
            <div class="live_options">
                <div class="step_image">
                    <img src="../../Public/images/livemode/toolbar/number3.png" alt="step 3" /></div>
                <div id="fine-uploader-logo">
                </div>
            </div>
            <div class="live_options">
                <div class="step_image">
                    <img src="../../Public/images/livemode/toolbar/number4.png" alt="step 4" /></div>
                <div id="fine-uploader-sponsors">
                </div>
            </div>
            <div class="live_options">
                <div class="step_image">
                    <img src="../../Public/images/livemode/toolbar/number5.png" alt="step 5" /></div>
                <input type="submit" class="submitEvent" value="Save changes" />
            </div>
        </div>
    </div>
    <div id="content"> <div id="tweets"> <div class="tweet-column" id="tweetColumn1">
    <div class="tweet"> </div> <div class="tweet"> </div> </div> <div class="tweet-column"
    id="tweetColumn2"> <div class="tweet"> </div> <div class="tweet"> </div> </div>
    <div class="tweet-column" id="tweetColumn3"> <div class="tweet"> </div> <div class="tweet">
    </div> </div> </div> <div id="photos">
    @{
        var imgCount = 1;
    }
    @foreach (var img in Model.Images)
    {
        if (imgCount < 3)
        {
        <div class="imgLarge images"> <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@img.Fullsize&width=284&height=222&preserveAspect=true"
        alt="" /> </div>
        }
        else
        {
            if (imgCount == 3)
            { <br style="clear: both" /> }
        <div class="imgSmall images"> <img src="http://epiloggerimageresizer.cloudapp.net/?photoUrl=@img.Fullsize&width=94&height=94&preserveAspect=true"
    alt="" /> </div>
        }
        imgCount++;
    }
    </div> </div> <div id="footer"> <div id="logo">
    @if (Model.CustomSettings.Logo != null)
    {
        if (Model.CustomSettings.Logo.Length > 0)
        {
        @Html.Raw(Html.Image(Model.CustomSettings.Logo))
        }
    }
    </div> <div id="hashtag-sponsors"> <big class="colour1">Tweet! Take a photo! @*Tweetez ! Partagez vos photos!*@
    <br /> Hashtag: <span class="colour2">@Model.Hashtag</span> </big>
    @if (Model.CustomSettings.SponsorLogos != null)
    {
        <h1 class="colour1">@*Notre partenaire*@ Our partners</h1>
        @Html.Raw(Model.CustomSettings.SponsorLogos)
    }
    </div> <div id="top-tweeters"> <h1 class="colour1">@*Top utilisateurs*@ Top Tweeters</h1>
    <ul id="topTweets">
    @foreach (var tt in Model.TopTweeters.Take(3))
    {
        <li> <img src="@tt.Picture" height="35" alt=""/> <strong class="colour3">@@@tt.Name</strong><br
        />
        @tt.Total tweets </li>
    }
    </ul> </div> <div id="stats-credits"> <h1 class="colour1">@*Statistiques*@ Statistics</h1>
    <img src="/Public/images/livemode/icon-numtweets.png" alt="" /><span id="tweetCount">
    @Model.EpiloggerCounts.TweetCount</span> &nbsp;&nbsp;&nbsp; <img src="/Public/images/livemode/icon-numphotos.png"
    alt="" /><span id="photoCount">
    @Model.EpiloggerCounts.PhotoCount</span> &nbsp;&nbsp;&nbsp; <img src="/Public/images/livemode/icon-numpeople.png"
    alt="" /><span id="uniqueCount">
    @Model.EpiloggerCounts.UniqueTweeterCount</span> <br /> <br /> <h1 class="colour1">@*Généré par*@
    Powered by: <img src="/Public/images/livemode/logo-epl.png" alt="Epilogger" /></h1>
    @*<a href="" id="updateLink">Update</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="" id="stopLink">Stop</a>*@
    <div id="ajaxBusy"> Loading...</div> </div> </div>
</body>
</html>
