@model Epilogger.Web.Models.EventToolbarViewModel
@{
    var action = ViewContext.RouteData.Values["action"] as string ?? "";
    var id = ViewContext.RouteData.Values["id"] as string ?? "";

    bool IncludeDateRange = false;
    int YesCount = 0;

    if (Request.QueryString["f"] != null)
    {
        YesCount++;
    }
    if (Request.QueryString["t"] != null)
    {
        YesCount++;
    }
    if (YesCount == 2)
    {
        IncludeDateRange = true;
    }
}
<script type="text/javascript" language="javascript">
    head.js('@Url.Content("~/Public/js/EventDetails.js")');
</script>



<ul id="EventDetailsMenu" class="clearfix">
    <li class="menuDetails">@Html.ActionLink("Overview", "details", null, new { id = @id, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "details" ? new { @class = "menuOn" } : null)</li>
    <li class="menuAllPhotos">@Html.ActionLink("Photos", "allphotos", null, new { id = @id, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "allphotos" ? new { @class = "menuOn" } : null)</li>
    <li class="menuAllTweets">@Html.ActionLink("Tweets", "alltweets", null, new { id = @id, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "alltweets" ? new { @class = "menuOn" } : null)</li>
    <li class="menuBlogs">@Html.ActionLink("Blog Posts", "allblogposts", null, new { id = @id, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "allblogposts" ? new { @class = "menuOn" } : null)</li>
    <li class="menuLinks">@Html.ActionLink("Links", "alllinks", null, new { id = @id, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "alllinks" ? new { @class = "menuOn" } : null)</li>
    <li class="menuCheckins">@Html.ActionLink("Checkins", "allcheckins", null, new { id = @id, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "allcheckins" ? new { @class = "menuOn" } : null)</li>
    
    @*Live Mode*@
    @*@if (!Model.IsPaid)
    {
        <li class="menuLiveModeDisabled"><a href="" onclick="return false;">Live Mode Disabled</a></li>
    }
    else
    {*@
    
    @if ((Model.CreatedByID == Model.CurrentUserID) || Model.CurrentUserRole == UserRoleType.Administrator)
    {
        <li class="menuLiveMode">@Html.ActionLink("Live Mode", "Live4x3", null, new { id = @id }, action.ToLower() == "live4x3" ? new { @class = "menuOn" } : null)</li>
    }
    
    
    @*}*@
    
    
    <li class="menuStats">@Html.ActionLink("Stats", "allstats", null, new { id = @id, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "allstats" ? new { @class = "menuOn" } : null)</li>
    
    @if ((Model.CreatedByID == Model.CurrentUserID) || Model.CurrentUserRole == UserRoleType.Administrator)
    {
        <li class="menuEdit">@Html.ActionLink("edit", "edit", "events", new { id = Model.EventID, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "edit" ? new { @class = "menuOn" } : null)</li>
    }
    
    
    <li class="subscribe">
        @if (Model.HasSubscribed)
        {
            using (Html.BeginForm("unsubscribe", "events", FormMethod.Post, new { @class = "remove-bottom" }))
            {
                <input type="submit" value="UNSUBSCRIBE" name="SubscribeToEvent" class="blue-action-button" style="font: bold 12px Helvetica narrow, Arial Narrow, Arial, sans-serif; padding:2px 3px; margin-top: 14px;" id="" />
                @Html.HiddenFor(model => model.EventSlug)
            }
        }
        else
        {
            using (Html.BeginForm("subscribe", "events", FormMethod.Post, new { @class = "remove-bottom" }))
            {
                <input type="submit" value="SUBSCRIBE" name="SubscribeToEvent" class="blue-action-button" style="font: bold 14px Helvetica narrow, Arial Narrow, Arial, sans-serif; padding:2px 3px; margin-top: 14px;" id="" />
                @Html.HiddenFor(model => model.EventSlug)
            }
        }
    </li>
    
    <li class="searchInEvent">
        <div id="SearchTimeFilter">
            @using (Html.BeginForm("Search", "events", FormMethod.Post, null))
            {
                <img src="/Public/images/icons/btn-search-home.png" alt="search" id="eventSearchOK" onclick="$('form').submit();" />
                @Html.TextBox("SearchTerm", null, new { @class = "remove-bottom blur", title = "Search in this event..." })
                @Html.HiddenFor(model => model.EventSlug)
            }
        </div>
    </li>

</ul>


@*<li>@Html.ActionLink("Search/Time Filter", "timefilters", null, new { id = @id, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "timefilters" ? new { @class = "current" } : null)</li>*@







