@model Epilogger.Web.Models.EventToolbarViewModel
@{
    var action = ViewContext.RouteData.Values["action"] as string ?? "";
    var id = ViewContext.RouteData.Values["id"] as string ?? "";

    bool IncludeDateRange = false;
    int YesCount = 0;

    if (Request.QueryString["f"] != null)
    {
        YesCount++;
    }
    if (Request.QueryString["t"] != null)
    {
        YesCount++;
    }
    if (YesCount == 2)
    {
        IncludeDateRange = true;
    }
}

@if (!IncludeDateRange)
{ 
    <ul id="EventDetailsMenu">
        <li>@Html.ActionLink("Overview", "details", null, new { id = @id }, action.ToLower() == "details" ? new { @class = "current" } : null)</li>
        <li>@Html.ActionLink("Photos", "allphotos", null, new { id = @id }, action.ToLower() == "allphotos" ? new { @class = "current" } : null)</li>
        <li>@Html.ActionLink("Tweets", "alltweets", null, new { id = @id }, action.ToLower() == "alltweets" ? new { @class = "current" } : null)</li>
        <li>@Html.ActionLink("Blog Posts", "allblogposts", null, new { id = @id }, action.ToLower() == "allblogposts" ? new { @class = "current" } : null)</li>
        <li>@Html.ActionLink("Checkins", "allcheckins", null, new { id = @id }, action.ToLower() == "allcheckins" ? new { @class = "current" } : null)</li>
        <li>@Html.ActionLink("Links", "alllinks", null, new { id = @id }, action.ToLower() == "alllinks" ? new { @class = "current" } : null)</li>
        <li>@Html.ActionLink("Reports", "allstats", null, new { id = @id }, action.ToLower() == "allstats" ? new { @class = "current" } : null)</li>
        <li>@Html.ActionLink("Time Filters", "timefilters", null, new { id = @id }, action.ToLower() == "timefilters" ? new { @class = "current" } : null)</li>
        @if ((Model.CreatedByID == Model.CurrentUserID) || Model.CurrentUserRole == UserRoleType.Administrator) {
            <li>@Html.ActionLink("edit", "edit", "events", new { id = @id }, action.ToLower() == "edit" ? new { @class = "current" } : null)</li>
        }
        
    </ul>
}
else
{ 
    <ul id="EventDetailsMenu">
        <li>@Html.ActionLink("Overview", "details", null, new { id = @id, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "details" ? new { @class = "current" } : null)</li>
        <li>@Html.ActionLink("Photos", "allphotos", null, new { id = @id, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "allphotos" ? new { @class = "current" } : null)</li>
        <li>@Html.ActionLink("Tweets", "alltweets", null, new { id = @id, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "alltweets" ? new { @class = "current" } : null)</li>
        <li>@Html.ActionLink("Blog Posts", "allblogposts", null, new { id = @id, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "allblogposts" ? new { @class = "current" } : null)</li>
        <li>@Html.ActionLink("Checkins", "allcheckins", null, new { id = @id, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "allcheckins" ? new { @class = "current" } : null)</li>
        <li>@Html.ActionLink("Links", "alllinks", null, new { id = @id, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "alllinks" ? new { @class = "current" } : null)</li>
        <li>@Html.ActionLink("Reports", "allstats", null, new { id = @id, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "allstats" ? new { @class = "current" } : null)</li>
        <li>@Html.ActionLink("Time Filters", "timefilters", null, new { id = @id, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "timefilters" ? new { @class = "current" } : null)</li>

        @if ((Model.CreatedByID == Model.CurrentUserID) || Model.CurrentUserRole == UserRoleType.Administrator) {
            <li>@Html.ActionLink("edit", "edit", "events", new { id = Model.EventID, f = Request.QueryString["f"], t = Request.QueryString["t"] }, action.ToLower() == "edit" ? new { @class = "current" } : null)</li>
        }
    </ul>
}
