@using Epilogger.Web.Models;

@model SearchInEventViewModel
@{
    Layout = "~/Views/Shared/_InteriorLayout.cshtml";
    ViewBag.Title = Model.Name + " - Search | Epilogger";
}

<script language="javascript" type="text/javascript">
    var EventSlug = '@Model.Eventslug';
    var EventID = @Model.Id;
</Script>

@*New event menu*@
@Html.Partial("Menu", Model.ToolbarViewModel)
<div class="spacer"></div>

<div id="events-nav">
    <h1>SEARCH EVENT</h1>
    @if (@Model.SearchResults != null && @Model.SearchResults.Any())
    {<h2>@Model.SearchTerm - @Model.SearchResults.Count() results</h2>}
    <br style="clear:both;" />
    @using (Html.BeginForm("Search", "events", FormMethod.Post, null))
    {
        @Html.TextBoxFor(t => t.SearchTerm)
        @Html.HiddenFor(model => model.Eventslug)
        <input type="submit" class="blue-action-button remove-bottom" value="Search" />
    }
</div>
<div id="events-content">
    <ul>
        @if (Model.SearchResults != null) {
            foreach (var item in Model.SearchResults) {
        
                var ttvm = new TweetTemplateViewModel { Tweet = item.Tweet, CanDelete = Model.CanDelete, ShowControls = true };
                @Html.Action("TweetTemplate", ttvm)

                <li class="image-grid clearfix" style="padding-bottom:30px;">
                    @if (@item.Image != null)
                    {
                        var itvm = new ImageTemplateViewModel { Image = item.Image, CanDelete = Model.CanDelete };
                                    @Html.Partial("_ImageTemplate", itvm)
                    }
                </li>
            }
        }
    </ul>
    @*@MvcHtmlString.Create(Html.Pager(100, Model.CurrentPageIndex, Model.SearchResults.Count(), new { controller = "Events", action = "Search", id = Model.ID, f = Request.QueryString["f"], t = Request.QueryString["t"] }))*@
</div>

<script type="text/javascript" charset="utf-8">
    head.ready(function () {
        $("a[rel^='EPLPhoto']").prettyPhoto({
            theme: 'light_square',
            animation_speed: 'fast',
            overlay_gallery: false,
            changepicturecallback: function () { changeDescription(); }
        });
    });
</script>