
@model Epilogger.Web.Models.TweetReplyViewModel

@{
    //If this is null, just close the popup.
    if (Model.Tweet==null)
    {
        
    }
}

<script type="text/javascript">
    head.js('@Url.Content("~/Public/js/jquery.blockUI.js")');
</script>

@*<script src="@Url.Content("~/Public/js/jquery-1.6.2.min.js")" type="text/javascript" language="javascript"></script>*@
<script language="javascript" type="text/javascript">

//    whenkeydown = function (maxLength) {
//        $("#ReplyNewTweet").unbind().keyup(function () {
//            //check if the appropriate text area is being typed into
//            if (document.activeElement.id === "ReplyNewTweet") {
//                //get the data in the field
//                var text = $(this).val();

//                //set number of characters
//                var numofchars = text.length;

//                //set the chars left
//                var charsLeft = maxLength - numofchars;

//                //check if we are still within our maximum number of characters or not
//                if (numofchars <= maxLength) {
//                    //set the length of the text into the counter span
//                    $("#twitterCharCounter").html("").html(charsLeft).css("color", "#000000");
//                } else {
//                    //style numbers in red
//                    $("#twitterCharCounter").html("").html(charsLeft).css("color", "#FF0000");
//                }
//            }
//        });
//    };

//    if (document.readyState === "complete") { init(); }

//    function init() {
//        //set max length
//        var maxLength = 140;

//        //load in max characters when page loads
//        $("#twitterCharCounter").html(maxLength);

//        //run listen key press
//        whenkeydown(maxLength);

//        var replyTo = '@@@Model.Tweet.FromUserScreenName';
//        var hashTag = '@(Model.Event.SearchTerms.Split(new string[] { " OR " }, StringSplitOptions.None)[0].Contains("#") ? Model.Event.SearchTerms.Split(new string[] { " OR " }, StringSplitOptions.None)[0] : "#" + Model.Event.SearchTerms.Split(new string[] { " OR " }, StringSplitOptions.None)[0])';


//        $("#ReplyNewTweet").val(replyTo + '  ' + hashTag);

//        //check if we are still within our maximum number of characters or not
//        var numofchars = $("#ReplyNewTweet").val().length;
//        var charsLeft = maxLength - numofchars;
//        if (numofchars <= maxLength) {
//            //set the length of the text into the counter span
//            $("#twitterCharCounter").html("").html(charsLeft).css("color", "#000000");
//        } else {
//            //style numbers in red
//            $("#twitterCharCounter").html("").html(charsLeft).css("color", "#FF0000");
//        }

//        //$("#newTweet").focus();
//        window.setTimeout(function () {
//            $("#ReplyNewTweet").setCursorPosition(replyTo.length + 1);
//        }, 500);
//            
//            
//    };

</script>

<h2>
    Retweet this to your followers?
</h2>
<div>
    @{ var ttvm = new Epilogger.Web.Models.TweetTemplateViewModel { Tweet = Model.Tweet, CanDelete = false, EventId = Model.Event.ID, ShowControls = false };}
    @Html.Partial("_TweetTemplate", ttvm)
</div>

<form action="" method="post" onsubmit="return ReplyToTweet('@Url.Action("TweetReply", "events")')">
    
    
    @if (Model.IsTwitterAuthed)
    {
        <textarea class="tweetBox" cols="20" id="ReplyNewTweet" name="ReplyNewTweet" rows="2"></textarea>
        <div class="fright">
            <img src="/Public/images/icons/ajaxWaiting.gif" id="twitterLoading" style="display: none;" alt="loading" />
            <span id="twitterCharCounter">140</span>
            <input type="submit" value="Tweet" id="submitTweet" class="blue-action-button" />
        </div>
    }
    else
    {
        <div style="text-align: center;">
            <br class="spacer"/><br class="spacer"/>
            <textarea class="tweetBox" cols="20" id="ReplyNewTweet" name="ReplyNewTweet" style="display: none;" rows="2"></textarea>
            <h3>You need to be authorized with Twitter to reply to a tweet. Please login with or authenticate your account with Twitter. </h3>
            <br />
            @Html.ActionImage("ConnectRequest", "twitter", new { area = "Authentication" }, "/Public/images/icons/sign-in-with-twitter-d.png", "Sign in with twitter")
        </div>
    }
    
    
    
    @Html.Hidden("TwitterID", Model.Tweet.TwitterID)
</form>

