@model Epilogger.Web.Models.VenueSearchModel

<link href="@Url.Content("~/Public/css/modal.css")" rel="stylesheet" type="text/css" />

<div class="modal_left">
<h2>Search for your venue on Foursquare!</h2>
<p>Please enter at least the venue name and city to get results, the more info the better the results!</p>
<form action="" method="post" onsubmit="return SearchVenues('@Url.Action("searchvenues", "events")')">
    <fieldset class="modal">
        <p><label>Venue name:</label>@Html.TextBoxFor(m => m.VenueName)</p>
        <div class="three_col"><p><label>City:</label>@Html.TextBoxFor(m => m.City)</p></div>
        <div class="three_col" style="margin-left:10px !important;"><p><label>Province/State:</label>@Html.TextBoxFor(m => m.ProvinceState)</p></div>
        <div class="three_col" style="margin-left:10px !important;"><p><label>Zip/Postal:</label>@Html.TextBoxFor(m => m.ZipPostal)</p> </div>    
        <br style="clear:both;" />
        <p><label>Address</label>@Html.TextBoxFor(m => m.Address)</p>
        <input type="submit" id="search" class="blue-action-button" value="Search" />
         @*onclick="SearchVenues('@Url.Action("searchvenues", "events")');return false;"*@
    </fieldset>
</form>
</div>
<div class="modal_right">
<div id="searchresults"></div>
</div>


