@model Epilogger.Web.Models.BrowseEventsDisplayViewModel
@{
    var currentMonth = string.Empty;
}
<div id="events-nav">
    <h1>EVENTS HAPPENING @Model.BrowsePageFilter.ToUpper()</h1>
    <br style="clear: both;" />
</div>
<div id="events-content">
    <h1>EVENTS</h1>
    @if (Model.Events.Count() == 0) {
        <div class="dashboard-event-item clearfix">
            There are currently no events going on. Why not add one?!</div>
        <span class="spacer"></span>        
        @Html.ActionLink("Add an Event", "create", "events", null, new { @class = "blue-action-button" })
    }
    @foreach (var item in Model.Events) {
        if (string.Format("{0:MMMM yyyy}", item.StartDateTime) != currentMonth)
        {
            if (currentMonth != string.Empty)
            {
                @:<div class="spacer"></div>
            }
        
            <div class="event-totals-icons">
                <img src="/Public/images/icons/eventListTotalIcons.png" alt="" />
            </div>
        
            currentMonth = string.Format("{0:MMMM yyyy}", item.StartDateTime);
            @:<span></span><h2>@currentMonth</h2>
        
        }
        
        <div class="dashboard-event-item clearfix">
            <div class="month-day">
                <div class="month">@Html.DisplayFor(thing => item.StartDateTime, "Month")</div>
                <h2>@Html.DisplayFor(thing => item.StartDateTime, "Day")</h2>
                <h3>@Html.Encode(item.StartDateTime.Year)</h3>
                <div class="icon" style="background-image:url(@Url.Content("~/Public/images/date-icons/" + item.EventCategoryID + ".png"))">
                </div>
            </div>
            <div class="event-content">
                @*<h6>@Html.ActionLink(item.Name, "details", "events", new { @id = item.ID }, null)</h6>*@
                <h6>@Html.ActionLink(item.Name, "details", "events", new { @id = item.EventSlug }, null)</h6>
                <div class="event-content-time">@Html.DisplayFor(thing => item.StartDateTime, "Time")</div>
                <div class="event-content-searchterms">@item.SearchTerms</div>
            </div>
            <div class="event-totals">
                <div class="total-tweets">@Epilogger.Web.Helpers.ConvertNumberToKorM(item.TotalTweets)</div>
                <div class="total-media">@Epilogger.Web.Helpers.ConvertNumberToKorM(item.TotalMedia)</div>
            </div>
        </div>
    }
    @MvcHtmlString.Create(Html.Pager(10, Model.CurrentPageIndex, Model.TotalRecords, new { controller = "Browse", action = "index", filter = Model.BrowsePageFilter }))
</div>
