<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
    <title>@ViewBag.Title</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
	
    <link href="@Url.Content("~/Public/css/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Public/css/960_12_col.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Public/css/messages.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Public/css/sadiehawkins.css")" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="@Url.Content("~/Public/js/head.load.min.js")" />
    <script type="text/javascript">
        head.js('@Url.Content("~/Public/js/jquery-1.6.2.min.js")');
        head.js('@Url.Content("~/Public/js/jquery-ui-1.8.16.custom.min.js")');
        head.js('@Url.Content("~/Public/js/epilogger.js")');
    </script>
	<!-- Favicons
	================================================== 
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />-->
	
</head>
<body>
    
@Html.Raw(Html.Notify())
<div id="flash"></div>
<div class="container_12" id="outer-container">
	<div class="grid_8" id="logo">
		 @Html.Raw(Html.Image("logo.png", "id='logo'"))
	</div>
	<div class="grid_4">
        @Html.Action("GlobalNavigation", "Navigation")
		
		<div class="clear"></div>
		
		<div id="search-container">
			<input type="text" value="Find an event..." class="remove-bottom"/>
			<input type="image" src="@Url.Content("~/Public/images/btn-submit.png")"/>
		</div>		
	</div>           

	<div class="clear"></div>
        
    <ul id="navigation">
        <li>@Html.ActionLink("HOME", "Index", "Home")</li>
        <li>@Html.ActionLink("BROWSE EVENTS", "index", "events")</li>
        <li>@Html.ActionLink("MY EVENTS", "index", "events")</li>
        <li>@Html.ActionLink("DASHBOARD", "index", "dashboard")</li>
        <li>@Html.ActionLink("WHAT IS EPILOGGER?", "index", "home")</li>
        <li><a href="http://www.epilogger.com/blog/">BLOG</a></li>
        <li>@Html.ActionLink("HELP", "index", "home")</li>
    </ul>
    <div id="content-container">	
        @RenderBody()
        <div class="clear"></div>
		<div class="spacer"></div>
    </div>
</div>

</body>
</html>

