@using Combres.Mvc
@using Epilogger.Web.Models

<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"> <!--<![endif]-->

<head>
	<meta charset="utf-8" />
    <meta name="google-site-verification" content="CuQwuSsvoWQapx1142El31mqbNSB6Dq0RBzTjzV0lXQ" />
    @RenderSection("head", false)

    <title>@ViewBag.Title</title>


    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
    @Html.CombresLink("siteCss")
    @Html.CombresLink("siteJs")
    
    @*<script src="@Url.Content("~/Public/js/head.load.min.js")" type="text/javascript" language="javascript"></script>*@

    <script language="javascript" type="text/javascript">
        head.js('/Public/js/jquery.tweet.js', function () {
            $(".footer-tweet").tweet({
                username: "epilogger",
                join_text: "auto",
                avatar_size: 32,
                count: 2,
                loading_text: "loading tweets...",
                template: "{text}"
            });
        });

        head.js('/Public/js/jquery.zrssfeed.min.js', function () {
            $('#blog-posts').rssfeed('http://feeds.feedburner.com/epilogger?format=xml', {
                limit: 1
            });
        });
    </script>
    
</head>
<body>
    @*/* ----- Facebook ----- */*@
    <div id="fb-root"></div>
    <script>    (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=429966960354582";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));</script>
        
    @*/* ----- Twitter ----- */*@
    <script>            !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>
    
    
    @*/* ----- Google Plus ----- */*@    
    <script type="text/javascript">
        (function () {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>


    @Html.Send(100)
    <div id="flash"></div>
    @*@Html.Raw(Html.Notify())*@

    <div id="feedback">
        <a href="#" id="fdbk_tab" class="fdbk_tab_left" style="background-color:#7c7c7c" onclick="window.open('http://tracker.epilogger.com/projects/epiloggerfeedback/issues/new','','width=920,height=550');return false;">FEEDBACK</a>
    </div>
    
    @*@Html.Raw(Html.Notify())*@
    @*<div id="flash"></div>*@


    <div id="global-bar" class="clearfix">
        
        @Html.Action("GlobalNavigation", "Navigation", new { Area = "" })
            
        <div class="container_12 clearfix">
        
            @*@Html.Action("GlobalNavigation", "Navigation", new { Area = "" })*@
            @*<br style="clear:both;" />*@
            <div id="header">

                <a href="/">@Html.Raw(Html.Image("logo.png", "id='logo'"))</a>
            

                <div id="search-container">
                    @using (Html.BeginForm("Search", "Home", FormMethod.Post, null))
                    {
                        @Html.TextBox("SearchTerm", null, new {@class = "remove-bottom", @title = "Find an event..."})
                    }
                </div>

                @*@Html.Action("Navigation", "Navigation", new { Area = "" })*@
                @Html.Partial("Navigation", new { Area = "" })
            </div>
        </div>
        <div id="jaggies"></div>
    </div>

    <div class="container_12 clearfix" id="outer-container">

        @RenderBody()
    
    </div>

    <div id="footer-container">
        <div class="container_12 clearfix">
            <div id="footer">
                <div id="column-one">
                    <a href="/">@Html.Raw(Html.Image("logow.png"))</a>
                    <ul>
                        <li id="footerAbout">@Html.ActionLink("About", "about", "home")</li>
                        <li id="footerContact">@Html.ActionLink("Contact", "about", "home")</li>
                        <li>@Html.ActionLink("Privacy Policy", "privacy", "home")</li>
                        <li>@Html.ActionLink("TOS", "terms", "home")</li>
                    </ul>
                    <p>Copyright © 2012 Epilogger Inc. All rights reserved. Made with lots of love and caffeine.</p>
                    <a href="http://www.facebook.com/epilogger" target="_blank"><img src="@Url.Content("~/Public/images/icons/facebook.png")" width="25" height="25" /></a>
                    <a href="http://twitter.com/epilogger" target="_blank"><img src="@Url.Content("~/Public/images/icons/twitter.png")" width="25" height="25" /></a>
                    <a href="http://blog.epilogger.com/" target="_blank"><img src="@Url.Content("~/Public/images/icons/blog.png")" width="25" height="25" /></a>
                </div>
                <div id="column-two">
                    <h4>Latest Blog Post:</h4>
                    <div id="blog-posts"></div>
                    <div class="social">
                        <h4>@@Epilogger on Twitter:</h4>
                        <div class="footer-tweet"></div>    
                    </div>
                </div>
                <div id="column-three">
                    <h4>As Used By:</h4>
                    <img src="@Url.Content("~/Public/images/homepage/movember.png")" alt="" />
                    <img src="@Url.Content("~/Public/images/homepage/marketing.png")" alt="" /><br />
                    <img src="@Url.Content("~/Public/images/homepage/socialweek.png")" alt="" />
                    <img src="@Url.Content("~/Public/images/homepage/coke.png")" alt="" /><br />
                    <img src="@Url.Content("~/Public/images/homepage/socialday.png")" alt="" />
                    <img src="@Url.Content("~/Public/images/homepage/sprouter.png")" alt="" /><br />
                </div>
            </div>
        </div>
    </div>


    <script language="javascript" type="text/javascript">
    //Store all clicks, for interface tweaking.
        head.ready(function () {
            $(document).saveClicks(); 

            $('.displayClicks').click(function() {
                $.displayClicks();
                $('#clickmap-overlay').click(function() {
                    $.removeClicks();
                    $(document).saveClicks();
                });
                $(document).stopSaveClicks();
                return false;
            });

            $(".datepicker").datepicker({
                showAnim: '',
                dateFormat: 'm/d/yy',
                showOn: 'button',
                buttonImageOnly: true,
                buttonImage: '@Url.Content("~/Public/js/datetime/txtdropdown/txtdropdown-btn.png")',
                buttonText: 'Select a date'
            });

            $(".timedropdown").timedropdown();
        });



    //Saves all information when a user clicks on a link.
        head.ready(function () {
            $("a").bind('click', function (e) {
                //console.log(e)

                //For the images, we need to access the parent to get the image properties.
                if (e.srcElement.host == null) {
                    e.srcElement = e.srcElement.parentElement;
                }
                if (typeof EventID == "undefined") {
                    EventID = 0;
                }

                //Post information back to EPL
                $.ajax({
                    url: '/Home/LogClick',
                    type: 'POST',
                    data: { href: e.srcElement.href, PathName: e.srcElement.pathname, UserAgent: navigator.userAgent, Host: e.srcElement.host, EventID: EventID },
                    success: function (result) {
                        // TODO: nothing
                    }
                });
            });
        });

    </script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-177636-16']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>