<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
    <title>@ViewBag.Title</title>
	<meta name="description" content="">
	<meta name="author" content="">
    <meta name="google-site-verification" content="CuQwuSsvoWQapx1142El31mqbNSB6Dq0RBzTjzV0lXQ" />
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
    <link href="@Url.Content("~/Public/css/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Public/css/960_12_col.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Public/css/messages.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Public/css/sadiehawkins.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Public/css/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Public/css/colorbox.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Public/js/prettyPhoto/css/prettyPhoto.css")" rel="stylesheet" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
    <link href="@Url.Content("~/Public/js/AnyTime/anytimec.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Public/js/datetime/txtdropdown/txtdropdown.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Public/js/DateSpanPicker/datespan.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Public/js/TimePicker/timePicker.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Public/js/jquery.UI.DatePicker/css/smoothness/jquery-ui-1.8.17.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Public/js/msdropdown/dd.css")" rel="stylesheet" type="text/css" />
    

    <script src="@Url.Content("~/Public/js/head.load.min.js")" type="text/javascript" language="javascript"></script>
    <script type="text/javascript" language="javascript">
        head.js('@Url.Content("~/Public/js/jquery-1.6.2.min.js")');
        head.js('@Url.Content("~/Public/js/jquery-ui-1.8.16.custom.min.js")');
        head.js('@Url.Content("~/Public/js/jquery.unobtrusive-ajax.min.js")');
        head.js('@Url.Content("~/Public/js/prettyPhoto/js/jquery.prettyPhoto.js")');
        head.js('@Url.Content("~/Public/js/epilogger.js")');
        head.js('@Url.Content("~/Public/js/AnyTime/anytimec.js")');
        head.js('@Url.Content("~/Public/js/jquery.expander.min.js")', function () {
            $('div#event-intro').expander({
                slicePoint: 256,  // default is 100
                expandPrefix: ' ', // default is '... '
            });
        });
        head.js('@Url.Content("~/Public/js/datetime/txtdropdown/jquery.scrollTo-min.js")');
        head.js('@Url.Content("~/Public/js/datetime/txtdropdown/txtdropdown.js")');
        head.js('@Url.Content("~/Public/js/datetime/timedropdown/timedropdown.js")');

        head.js('@Url.Content("~/Public/js/clickmap.js")');
        head.js('@Url.Content("~/Public/js/jquery.colorbox-min.js")');
        head.js('@Url.Content("~/Public/js/jquery.cookie.js")');
        head.js('@Url.Content("~/Public/js/jquery.tweet.js")',function() {
            $(".footer-tweet").tweet({
                username: "epilogger",
                join_text: "auto",
                avatar_size: 32,
                count: 2,
                loading_text: "loading tweets...",
                template: "{text}"
            });            
        });

        head.js('@Url.Content("~/Public/js/jquery.zrssfeed.min.js")', function() {
            $('#blog-posts').rssfeed('http://feeds.feedburner.com/epilogger?format=xml', {
		        limit: 1
	        });
        });

        head.js('@Url.Content("~/Public/js/TimePicker/jquery.timePicker.js")')
        head.js('@Url.Content("~/Public/js/jquery.cycle.all.js")')
        head.js('@Url.Content("~/Public/js/jquery.jtruncate.pack.js")')
        head.js('@Url.Content("~/Public/js/jquery.UI.DatePicker/js/jquery-ui-1.8.17.custom.min.js")')
    </script>
    
    @*TEMP HACK FOR THE FEEDBACK TAB*@
    <style type="text/css">
            
        a#fdbk_tab {
          background-image:url(http://s3.amazonaws.com/getsatisfaction.com/images/feedback_trans_tab.png);
          color:white;
          cursor:pointer;
          height:102px;
          right:0;
          margin-left:-7px;
          overflow-x:hidden;
          overflow-y:hidden;
          position:fixed;
          text-indent:-100000px;
          top:25%;
          width:42px;
          z-index:100000;
        }
        a#fdbk_tab:hover {
          margin-left:-4px;
        }
        a.fdbk_tab_right {
          left:auto !important;
          margin-left:auto !important;
          margin-right:0 !important;
          right:0 !important;
          width:35px !important;
        }
        a.fdbk_tab_right:hover {
          margin-left:auto !important;
          margin-right:0 !important;
          width:38px !important;
        }
        a.fdbk_tab_bottom {
          background-position:0 -102px !important;
          bottom:0 !important;
          height:38px !important;
          left:20% !important;
          margin-bottom:-7px !important;
          margin-left:auto !important;
          top:auto !important;
          width:102px !important;
        }
        a.fdbk_tab_bottom:hover {
          margin-bottom:-4px !important;
          margin-left:auto !important;
        }
        a.fdbk_tab_hidden {
          display:none !important;
        }
       
        .feedback_tab_on embed, .feedback_tab_on select, .feedback_tab_on object {
          visibility:hidden;
        }
    
    
    </style>

</head>
<body>
    <div id="feedback">
        <a href="#" id="fdbk_tab" class="fdbk_tab_left" style="background-color:#7c7c7c" onclick="window.open('http://tracker.epilogger.com/projects/epiloggerfeedback/issues/new','','width=920,height=550');return false;">FEEDBACK</a>
    </div>
    
@Html.Raw(Html.Notify())
<div id="flash"></div>

<div id="global-bar" class="clearfix">
    <div class="container_12 clearfix">
        
        @Html.Action("GlobalNavigation", "Navigation", new { Area = "" })
        <br style="clear:both;" />
        <div id="header">

            <a href="/">@Html.Raw(Html.Image("logo.png", "id='logo'"))</a>
            

            <div id="search-container">
                @using (Html.BeginForm("Search", "Home", FormMethod.Post, null)) {
                    @Html.TextBox("SearchTerm", null, new { @class = "remove-bottom", @title="Search..." })
                }		    
	        </div>	
            @Html.Partial("Navigation", new { Area = "" }   )
        </div>
    </div>     
</div>

<div class="container_12 clearfix" id="outer-container">

    @RenderBody()
    
</div>

<div id="footer-container">
    <div class="container_12 clearfix">
        <div id="footer">
            <div id="column-one">
                <a href="/">@Html.Raw(Html.Image("logow.png"))</a>
                <ul>
                    <li id="footerAbout">@Html.ActionLink("About", "about", "home")</li>
                    <li id="footerContact">@Html.ActionLink("Contact", "about", "home")</li>
                    <li>@Html.ActionLink("Privacy Policy", "privacy", "home")</li>
                    <li>@Html.ActionLink("TOS", "terms", "home")</li>
                </ul>
                <p>Copyright © 2011 Epilogger Inc. All rights reserved. Made with lots of love and caffeine.</p>
                <a href="http://www.facebook.com/epilogger" target="_blank"><img src="@Url.Content("~/Public/images/icons/facebook.png")" width="25" height="25" /></a>
                <a href="http://twitter.com/epilogger" target="_blank"><img src="@Url.Content("~/Public/images/icons/twitter.png")" width="25" height="25" /></a>
                <a href="http://blog.epilogger.com/" target="_blank"><img src="@Url.Content("~/Public/images/icons/blog.png")" width="25" height="25" /></a>
            </div>
            <div id="column-two">
                <h4>Latest Blog Post:</h4>
                <div id="blog-posts"></div>
                <div class="social">
                    <h4>@@Epilogger on Twitter:</h4>
                    <div class="footer-tweet"></div>    
                </div>
            </div>
            <div id="column-three">
                <h4>As Used By:</h4>
                <img src="@Url.Content("~/Public/images/homepage/movember.png")" alt="" />
                <img src="@Url.Content("~/Public/images/homepage/marketing.png")" alt="" /><br />
                <img src="@Url.Content("~/Public/images/homepage/socialweek.png")" alt="" />
                <img src="@Url.Content("~/Public/images/homepage/coke.png")" alt="" /><br />
                <img src="@Url.Content("~/Public/images/homepage/socialday.png")" alt="" />
                <img src="@Url.Content("~/Public/images/homepage/sprouter.png")" alt="" /><br />
            </div>
        </div>
    </div>
</div>


<script language="javascript" type="text/javascript">
    //Store all clicks, for interface tweaking.
    head.ready(function () {
        $(document).saveClicks(); 

        $('.displayClicks').click(function() {
            $.displayClicks();
            $('#clickmap-overlay').click(function() {
                 $.removeClicks();
                 $(document).saveClicks();
            });
            $(document).stopSaveClicks();
            return false;
        });

        $(".datepicker").datepicker({
            showAnim: '',
            dateFormat: 'm/d/yy',
            showOn: 'button',
            buttonImageOnly: true,
            buttonImage: '@Url.Content("~/Public/js/datetime/txtdropdown/txtdropdown-btn.png")',
            buttonText: 'Select a date'
        });

        $(".timedropdown").timedropdown();
    });



    //Saves all information when a user clicks on a link.
    head.ready(function () {
        $("a").bind('click', function (e) {
            //console.log(e)

            //For the images, we need to access the parent to get the image properties.
            if (e.srcElement.host == null) {
                e.srcElement = e.srcElement.parentElement;
            }
            if (typeof EventID == "undefined") {
                EventID = 0;
            }

            //Post information back to EPL
            $.ajax({
                url: '/Home/LogClick',
                type: 'POST',
                data: { href: e.srcElement.href, PathName: e.srcElement.pathname, UserAgent: navigator.userAgent, Host: e.srcElement.host, EventID: EventID },
                success: function (result) {
                    // TODO: nothing
                }
            });
        });
    });

</script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-177636-16']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>