@model Epilogger.Web.Models.GlobalNavigationModel
          

<div id="user-status">
           
    @if (Model.UserLoggedIn) {
        @:Bonjour @Model.Username (@Html.ActionLink("logout", "logout", "account", null, new { @class = "person" }))
        
        
@*        <li>@Html.ActionLink("Logout", "logout", "account")</li>
        <li>@Html.ActionLink("Account", "account", "dashboard")</li>
        <li><a href="#" onclick="window.open('http://tracker.epilogger.com/projects/epiloggerfeedback/issues/new','','width=920,height=550');return false;">FEEDBACK</a></li>
        <li class="button displayClicks"><a href="#demo">CM</a></li>*@
        
    }
    else
    {
        
        @Html.ActionLink("Login & Register", "login", "account", null, new { @class = "person" })
    }           
           
           
</div>


