@using RichmondDay.Helpers
@{
    var controller = ViewContext.RouteData.Values["controller"] as string ?? "";
    var action = ViewContext.RouteData.Values["action"] as string ?? "";
    
    //This is a hack, BuildTemplateMethod not sure what's ThemeProvider bnest way to accomplish this
    var userId = new Guid();
    try
    {
        Guid.TryParse(CookieHelpers.GetCookieValue("lc", "uid").ToString(), out userId);
    }
    catch (Exception)
    {
    }
    
}

<ul id="menu-bar">
    <li class="@(controller.ToLower() == "browse" ? "current " : "")submenu">@Html.ActionLink("BROWSE EVENTS", "index", "browse", new { filter = "" }, new { })
        <ul class="browse">
            <li>@Html.ActionLink("today", "index", "browse", new { filter = "now" }, new { })</li>
            <li>@Html.ActionLink("upcoming", "index", "browse", new { filter = "upcoming" }, new { })</li>
            <li>@Html.ActionLink("past", "index", "browse", new { filter = "past" }, new { })</li>
            <li class="menuSpacer"></li>
            <li>@Html.ActionLink("subscriptions", "subscriptions", "dashboard")</li>
            <li>@Html.ActionLink("my created events", "events", "dashboard")</li>
            <li>@Html.ActionLink("random event!", "index", "browse", new { filter = "random" }, new { })</li>
        </ul>
    </li>
    
    <li>@Html.ActionLink("ADD EVENT", "create", "events", null, controller.ToLower() == "events" && action.ToLower() == "create" ? new { @class = "current" } : null)</li>
    
    <li class="@(controller.ToLower() == "dashboard" ? "current " : "")submenu">@Html.ActionLink("DASHBOARD", "index", "dashboard", null, controller.ToLower() == "dashboard" ? new { @class = "current" } : null)
        <ul class="dashboard">
            <li>@Html.ActionLink("my created events", "events", "dashboard")</li>
            <li>@Html.ActionLink("subscriptions", "subscriptions", "dashboard")</li>
            @*<li><a href="#">inbox</a></li>*@
            <li class="menuSpacer"></li>
            <li>@Html.ActionLink("account activity", "index", "dashboard")</li>
            <li>@Html.ActionLink("view / edit profile", "index", "account")</li>
            @*<li><a href="#">preferences</a></li>*@
        </ul>
    </li>
    
    


    @if (userId != Guid.Empty)
    {
        <li class="noPadding">@Html.ActionLink("LOGOUT", "logout", "account")</li>
    }
    else
    {
        <li class="noPadding">@Html.ActionLink("LOGIN / REGISTER", "login", "account")</li>
    }
    @*<li class="noPadding">@Html.ActionLink("LOGIN / REGISTER", "login", "account")</li>*@
    
</ul>



