
@{
    
    var controller = ViewContext.RouteData.Values["controller"] as string ?? "";
    var action = ViewContext.RouteData.Values["action"] as string ?? "";
}

    <ul id="navigation">
        <li class="dropdown">
            @Html.ActionLink("BROWSE EVENTS", "index", "browse", new { filter = "" }, controller.ToLower() == "browse" ? new { @class = "current" } : null)
           
        </li>

        @*<li><a href="#" id="event-nav" @if(controller.ToLower() == "events") {
                                            @:class = "current" 
                                       }>BROWSE EVENTS</a></li>*@
        @*<li>@Html.ActionLink("BROWSE EVENTS", "index", "events", null, controller.ToLower() == "events" && action.ToLower() != "create" ? new { @class = "current", @id = "event-nav" } : new { @class = "", @id = "event-nav" })</li>*@
        <li>@Html.ActionLink("ADD EVENT", "create", "events", null, controller.ToLower() == "events" && action.ToLower() == "create" ? new { @class = "current" } : null)</li>
        <li class="dropdown">@Html.ActionLink("DASHBOARD", "index", "dashboard", null, controller.ToLower() == "dashboard" ? new { @class = "current" } : null)</li>
    
        @if (Model.UserLoggedIn)
        {
            <li class="noPadding">@Html.ActionLink("Logout", "logout", "account")</li>
        }
        else
        {
            <li class="noPadding">@Html.ActionLink("Login / Register", "login", "account")</li>
        }
    
    

        @*<li><a href="http://www.Epilogger.com/blog" target="_blank">BLOG</a></li>*@
    </ul>







@{
    string displayModifier = "style='display:none'";
}
@if (controller.ToLower() == "browse" || (controller.ToLower() == "events" && action != "create"))
{
    displayModifier = "display:block !important;";
}
<ul class="subnav" style="@displayModifier" id="events-subnav">
    <li>@Html.ActionLink("Today's", "index", "browse", new { filter = "now" }, new { })</li>
    <li>@Html.ActionLink("Upcoming", "index", "browse", new { filter = "upcoming" }, new { })</li>
    <li>@Html.ActionLink("Past", "index", "browse", new { filter = "past" }, new { })</li>
    @*@if (Model.UserLoggedIn)
    {*@
        <li>@Html.ActionLink("Subscribed", "index", "browse", new { filter = "subscribed" }, new { })</li>
        <li>@Html.ActionLink("My Events", "index", "browse", new { filter = "myevents" }, new { })</li>
    @*}*@
    <li>@Html.ActionLink("Random", "index", "browse", new { filter = "random" }, new { })</li>

</ul>


<script>
    head.ready(function () {
        $('#event-nav').click(function () {
            var eventSubNav = $('#events-subnav');
            eventSubNav.slideToggle();
        });
    });
</script>