@{
    
    var controller = ViewContext.RouteData.Values["controller"] as string ?? "";
    var action = ViewContext.RouteData.Values["action"] as string ?? "";
}
<ul id="navigation">
    <li>@Html.ActionLink("HOME", "Index", "Home", null, controller.ToLower() == "home" && action.ToLower() == "index" ? new { @class = "current" } : null)</li>
    <li><a href="#" id="event-nav" @if(controller.ToLower() == "events") {
                                        @:class = "current" 
                                   }>BROWSE EVENTS</a></li>
    @*<li>@Html.ActionLink("BROWSE EVENTS", "index", "events", null, controller.ToLower() == "events" && action.ToLower() != "create" ? new { @class = "current", @id = "event-nav" } : new { @class = "", @id = "event-nav" })</li>*@
    <li>@Html.ActionLink("ADD AN EVENT", "create", "events", null, controller.ToLower() == "events" && action.ToLower() == "create" ? new { @class = "current" } : null)</li>
    <li>@Html.ActionLink("DASHBOARD", "index", "dashboard", null, controller.ToLower() == "dashboard" ? new { @class = "current" } : null)</li>
</ul>

@{
    string displayModifier = "style='display:none'";
}
@if (controller.ToLower() == "events") {
    displayModifier = "display:block !important;";
}
<ul class="subnav" style="@displayModifier" id="events-subnav">
    <li>@Html.ActionLink("Upcoming", "index", "events")</li>
    <li>@Html.ActionLink("Past", "index", "events")</li>
    <li>@Html.ActionLink("Going on now", "index", "events")</li>
    <li>@Html.ActionLink("Randomize", "index", "events")</li>
</ul>


<script>
    head.ready(function () {
        $('#event-nav').click(function () {
            var eventSubNav = $('#events-subnav');
            eventSubNav.slideToggle();
        });
    });
</script>